Repository GEOS-ESM/MAPL, pull requests merged in 2020-04, with the labels that each got.

#277 Feature/atrayano/monthly mean
  MAPL_Base/MAPL_GenericCplComp.F90
  MAPL_Base/MAPL_HistoryCollection.F90
  MAPL_Base/MAPL_HistoryGridComp.F90
Labels: 0 diff, enhancement

#282 fixes #280
  MAPL_Base/MAPL_HistoryGridComp.F90
Labels: 0 diff, bugfix

#283 Master to develop to get fix from v2.0.4 into develop
  MAPL_Base/MAPL_HistoryGridComp.F90
Labels: 0 diff, bugfix

#291 fix MAPL_Profiler unit tests
  MAPL_Profiler/tests/test_ProfileReporter.pf
  MAPL_Profiler/tests/test_TimeProfiler.pf
Labels: 0 diff, bug

#265 Feature/tclune/python spec generator
  Apps/CMakeLists.txt
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  CMakeLists.txt
  GMAO_pFIO/CMakeLists.txt
  Python/MAPL_GridCompSpecs_ACG.py
  Python/src/.gitignore
  Python/src/MAPL_DataSpec.py
  Python/src/__init__.py
  Python/src/reader.py
  cmake/mapl_acg.cmake
Labels: 0 diff trivial, enhancement

#296 Fixes #295. Fix large tag issue.
  CHANGELOG.md
  MAPL_Base/MAPL_Cap.F90
  Tests/ExtDataDriverMod.F90
Labels: 0 diff, bugfix

#298 Handmerge master into develop 2020-Apr-13
  CHANGELOG.md
  Tests/ExtDataDriverMod.F90
Labels: 0 diff

#299 re-arrange timer
  MAPL_Base/MAPL_CapGridComp.F90
  MAPL_Base/MAPL_Generic.F90
  MAPL_Profiler/BaseProfiler.F90
Labels: 0 diff

#303 re-position finalize timer
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
  MAPL_Base/MAPL_Generic.F90
  MAPL_Profiler/BaseProfiler.F90
  MAPL_Profiler/TextColumn.F90
Labels: 0 diff

#304 comment out the timers in TimerOn and Timeroff
  MAPL_Base/MAPL_Generic.F90
Labels: 0 diff

#236 Fixes #227. Remove CVS Keywords
  CHANGELOG.md
  GMAO_pFIO/new_overload.macro
  GMAO_pFIO/pFIO_ErrLog.h
  MAPL_Base/ESMFL_Mod.F90
  MAPL_Base/MAPL_Base.F90
  MAPL_Base/MAPL_CFIO.F90
  MAPL_Base/MAPL_Comms.F90
  MAPL_Base/MAPL_Constants.F90
  MAPL_Base/MAPL_ErrLog.h
  MAPL_Base/MAPL_ErrLogMain.h
  MAPL_Base/MAPL_Generic.F90
  MAPL_Base/MAPL_GenericCplComp.F90
  MAPL_Base/MAPL_Hash.F90
  MAPL_Base/MAPL_HeapMod.F90
  MAPL_Base/MAPL_HistoryGridComp.F90
  MAPL_Base/MAPL_IO.F90
  MAPL_Base/MAPL_LocStreamMod.F90
  MAPL_Base/MAPL_Mod.F90
  MAPL_Base/MAPL_NominalOrbitsMod.F90
  MAPL_Base/MAPL_Profiler.F90
  MAPL_Base/MAPL_SatVapor.F90
  MAPL_Base/MAPL_Sort.F90
  MAPL_Base/MAPL_VarSpecMod.F90
  MAPL_Base/MAPL_sun_uc.F90
  MAPL_Base/allgather.H
  MAPL_Base/allgatherv.H
  MAPL_Base/allreducemax.H
  MAPL_Base/allreducemin.H
  MAPL_Base/allreducesum.H
  MAPL_Base/arraygather.H
  MAPL_Base/arraygatherRcvCnt.H
  MAPL_Base/arrayscatter.H
  MAPL_Base/arrayscatterRcvCnt.H
  MAPL_Base/bcast.H
  MAPL_Base/gather.H
  MAPL_Base/hash.c
  MAPL_Base/overload.macro
  MAPL_Base/read_parallel.H
  MAPL_Base/recv.H
  MAPL_Base/scatter.H
  MAPL_Base/send.H
  MAPL_Base/sendrecv.H
  MAPL_Base/sun.H
  MAPL_Base/write_parallel.H
Labels: 0 diff trivial

#273 Fixes #272. Use IOR() for netcdf modes
  GMAO_pFIO/NetCDF4_FileFormatter.F90
Labels: 0 diff, bugfix

#306 Added % memory used, and skipped init for estimating run time remaining
  MAPL_Base/MAPL_CapGridComp.F90
  MAPL_Base/MAPL_MemUtils.F90
Labels: 0 diff, enhancement

#308 Fixes #307. Move to the 6.0.10 image for CI
  .circleci/config.yml
  .github/workflows/workflow.yml
Labels: 0 diff structural

#249 Fixes #46: add precession of equinox
  CHANGELOG.md
  MAPL_Base/MAPL_Generic.F90
  MAPL_Base/MAPL_sun_uc.F90
  MAPL_Base/sun.H
Labels: 0 diff

#309 fix GNU
  MAPL_Base/MAPL_Cap.F90
  MAPL_Base/MAPL_Generic.F90
  MAPL_Profiler/FormattedTextColumn.F90
  MAPL_Profiler/MemoryTextColumn.F90
  MAPL_Profiler/MultiColumn.F90
  MAPL_Profiler/NameColumn.F90
  MAPL_Profiler/ProfileReporter.F90
  MAPL_Profiler/TextColumn.F90
Labels: 0 diff, bug

#311 Fixes #310. Update components.yaml for MAPL 2.1
  components.yaml
Labels: 0 diff

#302 Fix vertical flipping for 0-indexed arrays
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff trivial, bugfix

#312 Fixes #258. Suppress MPI_Finalize errors
  CHANGELOG.md
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
Labels: 0 diff, bugfix

#314 Handmerge master into develop
  CHANGELOG.md
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
Labels: 0 diff

#316 fix for debug. When passed in an empty string and attemped to step ou…
  MAPL_Profiler/DistributedMeter.F90
  MAPL_Profiler/FormattedTextColumn.F90
Labels: 0 diff, bug

#318 Add MAPL_Profiler to CI tests
  .circleci/config.yml
  .github/workflows/workflow.yml
Labels: 0 diff structural, enhancement

#305 Fixes #412 - Integrate support for pFlogger
  CHANGELOG.md
  CMakeLists.txt
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
  MAPL_Base/MAPL_CapGridComp.F90
  MAPL_Base/MAPL_CapOptions.F90
  MAPL_Base/MAPL_FlapCapOptions.F90
  MAPL_Base/MAPL_Generic.F90
  MAPL_Base/MAPL_MemUtils.F90
  MAPL_Base/MAPL_ShmemMod.F90
Labels: 0 diff

#288 Fixes #276 - better messages for typos in rc file
  CHANGELOG.md
  MAPL_Base/MAPL_HistoryGridComp.F90
Labels: 0 diff

#320 Update CMakeLists.txt
  CMakeLists.txt
Labels: 0 diff structural, 0 diff trivial

#321 Update CHANGELOG.md
  CHANGELOG.md
Labels: 0 diff trivial

#326 fix min-max
  MAPL_Profiler/DistributedMeter.F90
Labels: 0 diff, bug

#330 Fixes #329. MPT 2.17 workaround
  CHANGELOG.md
  MAPL_Base/MAPL_Cap.F90
Labels: 0 diff, bugfix

#331 Merge Master into develop
  CHANGELOG.md
  MAPL_Base/MAPL_Cap.F90
Labels: 0 diff

#328 Fixes #324 and fixes #325
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
  components.yaml
Labels: 0 diff

#332 Clean up Changelog.
  CHANGELOG.md
Labels: 0 diff trivial

#334 Hotfix/bmauer/fixes#327
  CHANGELOG.md
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
  MAPL_Base/MAPL_SimpleAlarm.F90
Labels: 0 diff, bugfix

#333 Merge master into develop
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
  MAPL_Base/MAPL_SimpleAlarm.F90
  components.yaml
Labels: 0 diff

#340 actually code generate_file_bounds
  CHANGELOG.md
  MAPL_Base/MAPL_TripolarGridFactory.F90
Labels: 0 diff trivial, bugfix

#342 update change log for a 2.1.2 release
  CHANGELOG.md
Labels: 0 diff

#341 master to develop
  CHANGELOG.md
  MAPL_Base/MAPL_TripolarGridFactory.F90
Labels: 0 diff trivial, bugfix

#348 Hotfix/wjiang/free directory win
  GMAO_pFIO/AbstractDirectoryService.F90
  GMAO_pFIO/DirectoryService.F90
  GMAO_pFIO/tests/Test_DirectoryService.pf
  GMAO_pFIO/tests/pfio_ctest_io.F90
  GMAO_pFIO/tests/pfio_performance.F90
  MAPL_Base/MAPL_Cap.F90
Labels: 0 diff, bug
