Repository GEOS-ESM/MAPL, pull requests merged in 2020-12, with the labels that each got.

#629 Remove file(GLOB)
  .github/workflows/changelog-enforcer.yml
  CHANGELOG.md
  include/CMakeLists.txt
Labels: 0 diff structural

#630 pass in isolate_nodes parameter
  CHANGELOG.md
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCapOptions.F90
  base/ServerManager.F90
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff

#631 Fix spelling in CHANGELOG [skip ci]
  CHANGELOG.md
Labels: 0 diff trivial

#633 Add CI badge to README [skip ci]
  README.md
Labels: 0 diff, Skip Changelog

#638 add stretch factor to output in History
  CHANGELOG.md
  base/MAPL_CubedSphereGridFactory.F90
Labels: 0 diff trivial, enhancement

#645 Update changelog enforcer [skip ci]
  .github/workflows/changelog-enforcer.yml
Labels: 0 diff trivial, enhancement

#646 Make clobber default
  CHANGELOG.md
  pfio/NetCDF4_FileFormatter.F90
Labels: 0 diff trivial, enhancement

#647 Preparatory work for new regrid option.
  CHANGELOG.md
  base/CMakeLists.txt
  base/HorizontalFluxRegridder.F90
  base/MAPL_AbstractRegridder.F90
  base/MAPL_Base.F90
  base/MAPL_CFIO.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_EsmfRegridder.F90
  base/MAPL_ExtDataGridCompMod.F90
  base/MAPL_ExtData_IOBundleMod.F90
  base/MAPL_ExternalGridFactory.F90
  base/MAPL_GetLatLonCoord.F90
  base/MAPL_GridManager.F90
  base/MAPL_HistoryGridComp.F90
  base/MAPL_IdentityRegridder.F90
  base/MAPL_LatLonGridFactory.F90
  base/MAPL_LatLonToLatLonRegridder.F90
  base/MAPL_LlcGridFactory.F90
  base/MAPL_Mod.F90
  base/MAPL_RegridderManager.F90
  base/MAPL_RegridderSpec.F90
  base/MAPL_RegridderTypeSpecRegridderMap.F90
  base/MAPL_TilingRegridder.F90
  base/MAPL_TransposeRegridder.F90
  base/MAPL_newCFIO.F90
  base/NewRegridderManager.F90
  base/RegridMethods.F90
  base/Regrid_Util.F90
  base/RegridderSpec.F90
  base/RegridderSpecRouteHandleMap.F90
  base/RegridderTypeSpec.F90
  base/cub2latlon_regridder.F90
  base/tests/MockRegridder.F90
Labels: 0 diff
