Repository GEOS-ESM/MAPL, pull requests merged in 2020-02, with the labels that each got.

#209 Draft change log for version 2.0.0
  CHANGELOG.md
Labels: 0 diff trivial

#213 Merge the release branch back into develop
  CHANGELOG.md
Labels: 0 diff trivial

#215 Fixes #214. Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 0 diff trivial

#217 Fixes #215
  CHANGELOG.md
  Python/MAPL_SpecsCodeGenerator.py
  Python/src/MAPL_DataSpec.py
  Python/src/__init__.py
  Python/src/reader.py
Labels: 0 diff

#218 Fix IO server in stand alone tester
  Tests/ExtDataDriverMod.F90
Labels: 0 diff, bugfix

#219 Revert "Fixes #214. Create PULL_REQUEST_TEMPLATE.md"
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 0 diff

#220 Fixes #214: Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 0 diff structural

#222 Update CHANGELOG and PR Template
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Labels: 0 diff trivial

#225 Merge master into develop by hand
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Labels: 0 diff structural

#230 Updated version of ACG in python.
  Python/MAPL_GridCompSpecs_ACG.py
  Python/src/.gitignore
  Python/src/MAPL_DataSpec.py
  Python/src/reader.py
Labels: 0 diff trivial, enhancement

#223 Added missing stretched-grid support to MAPL_ExtDataGridChangeLev()
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
Labels: Non 0-diff

#235 Fixes #234. Update ASSERT in MAPL_ExtDataGridComp
  CHANGELOG.md
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff trivial

#229 Fix for mixed compiler build
  CHANGELOG.md
  MAPL_Base/CMakeLists.txt
Labels: 0 diff

#240 Fix throughput reporting when running cap through NUOPC
  MAPL_Base/MAPL_CapGridComp.F90
Labels: 0 diff trivial, bug
