Repository GEOS-ESM/MAPL, pull requests merged in 2020-09, with the labels that each got.

#534 fix the number of io group
  base/ServerManager.F90
Labels: 0 diff trivial, bug

#537 Update Regrid_Util.x to use MAPL/ESMF regridding machinery, other improvements as well.
  base/MAPL_CubedSphereGridFactory.F90
  base/Regrid_Util.F90
Labels: 0 diff trivial, enhancement

#539 Allow cap driver to retrieve GEOS state
  base/MAPL_CapGridComp.F90
  base/MAPL_Generic.F90
Labels: 0 diff trivial, enhancement

#540 Common tripolar format
  base/MAPL_TripolarGridFactory.F90
Labels: 0 diff, enhancement

#542 Feature/cube corners
  base/MAPL_AbstractGridFactory.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_LatLonGridFactory.F90
  base/MAPL_LlcGridFactory.F90
  base/MAPL_TripolarGridFactory.F90
  base/MAPL_newCFIO.F90
  base/tests/MockGridFactory.F90
Labels: 0 diff, enhancement

#543 Add Changelog Enforcer to MAPL
  .github/workflows/changelog-enforcer.yml
Labels: 0 diff trivial

#546 Update CircleCI image for 6.0.16
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff structural

#544 Adds a mpeu StrTemplate Replacement
  CHANGELOG.md
  base/StringTemplate.F90
Labels: 0 diff

#554 Feature/restart by oserver refactory
  CHANGELOG.md
  base/MAPL_IO.F90
  pfio/ServerThread.F90
Labels: 0 diff

#553 Fixes from GEOSadas-5_27_0 Test Builds
  CHANGELOG.md
  base/MAPL_CFIO.F90
  base/MAPL_base.mk
  include/MAPL_ErrLogMain.h
Labels: 0 diff, 0 diff trivial

#510 Fixes #509 - intrument ExtData with pFlogger.
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff trivial, enhancement

#555 Update components to latest env and cmake
  CHANGELOG.md
  components.yaml
Labels: 0 diff trivial

#504 Cleanup of the NUOPC wrapper
  CHANGELOG.md
  base/MAPL_NUOPCWrapperMod.F90
  include/NUOPC_ErrLog.h
Labels: 0 diff, bugfix

#556 Feature/update semver
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#558 Fixes #557 - gfortran workaround for pFlogger
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff, bug
