Repository GEOS-ESM/MAPL, pull requests merged in 2020-01, with the labels that each got.

#193 cleanup lat-lon staging in newCFIO
  MAPL_Base/MAPL_newCFIO.F90
Labels: 0 diff trivial

#191 Move to ESMA_cmake 2.1.1
  Externals.cfg
Labels: 0 diff

#194 fix face index for non-even distribution of cubed sphere grid
  MAPL_Base/MAPL_CubedSphereGridFactory.F90
Labels: 0 diff

#196 Fixes #190. Add oversubscribe for Open MPI
  GMAO_pFIO/tests/CMakeLists.txt
Labels: 0 diff

#195 Merge Release/2.0.0 into develop
  Externals.cfg
  GMAO_pFIO/tests/CMakeLists.txt
Labels: 0 diff

#198 Feature/remove a2d2c
  MAPL_Base/MAPL_AbstractGridFactory.F90
  MAPL_Base/MAPL_GridManager.F90
Labels: 0 diff trivial

#199 Release/2.0.0
  MAPL_Base/MAPL_AbstractGridFactory.F90
  MAPL_Base/MAPL_GridManager.F90
Labels: 0 diff trivial

#201 Stage 2D lat/lons only if they are in the file metadata.
  MAPL_Base/MAPL_newCFIO.F90
Labels: 0 diff trivial

#203 Assorted updates to ExtData debug printing
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff

#204 Release/2.0.0
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff trivial

#206 Fixes #205. Adds mepo support
  .gitignore
  CMakeLists.txt
  Externals.cfg
  components.yaml
Labels: 0 diff structural

#208 Fixes #141. Reduce compiler warning messages
  Externals.cfg
  GMAO_pFIO/AbstractServer.F90
  GMAO_pFIO/CMakeLists.txt
  GMAO_pFIO/ClientManager.F90
  GMAO_pFIO/ClientThread.F90
  GMAO_pFIO/DirectoryService.F90
  GMAO_pFIO/ServerThread.F90
  GMAO_pFIO/pfio_collective_demo.F90
  GMAO_pFIO/pfio_server_demo.F90
  GMAO_pFIO/tests/MockClient.F90
  GMAO_pFIO/tests/Test_UnlimitedEntity.pf
  GMAO_pFIO/tests/Test_pFIO_Utilities.pf
  GMAO_pFIO/tests/pfio_ctest_io.F90
  MAPL_Base/CMakeLists.txt
  MAPL_Base/FileMetadataUtilities.F90
  MAPL_Base/MAPL_AbstractGridFactory.F90
  MAPL_Base/MAPL_AbstractRegridder.F90
  MAPL_Base/MAPL_CFIO.F90
  MAPL_Base/MAPL_CapOptions.F90
  MAPL_Base/MAPL_CubedSphereGridFactory.F90
  MAPL_Base/MAPL_DirPath.F90
  MAPL_Base/MAPL_EsmfRegridder.F90
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
  MAPL_Base/MAPL_HistoryGridComp.F90
  MAPL_Base/MAPL_IO.F90
  MAPL_Base/MAPL_IdentityRegridder.F90
  MAPL_Base/MAPL_LatLonGridFactory.F90
  MAPL_Base/MAPL_LatLonToLatLonRegridder.F90
  MAPL_Base/MAPL_NUOPCWrapperMod.F90
  MAPL_Base/MAPL_NewArthParser.F90
  MAPL_Base/MAPL_RegridderSpec.F90
  MAPL_Base/MAPL_SimpleBundleMod.F90
  MAPL_Base/MAPL_TimeMethods.F90
  MAPL_Base/MAPL_TransposeRegridder.F90
  MAPL_Base/MAPL_TripolarGridFactory.F90
  MAPL_Base/MAPL_VerticalMethods.F90
  MAPL_Base/MAPL_ioClients.F90
  MAPL_Base/MAPL_newCFIO.F90
  MAPL_Base/MAPL_sun_uc.F90
  MAPL_Base/Regrid_Functions_Mod.F90
  MAPL_Base/Regrid_Util.F90
  MAPL_Base/read_parallel.H
  MAPL_Base/tests/MockGridFactory.F90
  MAPL_Base/write_parallel.H
  MAPL_cfio/ESMF_CFIOGridMod.F90
  MAPL_cfio/ESMF_CFIOSdfMod.F90
  MAPL_cfio/ESMF_CFIOUtilMod.F90
  MAPL_pFUnit/ESMF_TestParameter.F90
  MAPL_pFUnit/unused_dummy.H
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataDriverMod.F90
  Tests/ExtDataRoot_GridComp.F90
  components.yaml
Labels: 0 diff
