Repository GEOS-ESM/MAPL, pull requests merged in 2020-11, with the labels that each got.

#590 Add fixture entry in components.yaml
  CHANGELOG.md
  components.yaml
Labels: 0 diff, 0 diff structural

#591 Changed memtot (and associated variables) to 64-bit integers. Otherwi…
  CHANGELOG.md
  base/MAPL_MemUtils.F90
Labels: 0 diff trivial

#594 Bugfix/atrayano/monthly fix seg alarm
  CHANGELOG.md
  base/MAPL_Generic.F90
  base/MAPL_HistoryGridComp.F90
Labels: 0 diff, bugfix

#593 Update changelog and version for 2.3.5 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#598 Handmerge develop into main due to GitHub oddness
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_Generic.F90
  base/MAPL_HistoryGridComp.F90
  base/MAPL_MemUtils.F90
  components.yaml
Labels: 0 diff

#601 fixes #600
  CHANGELOG.md
  base/MAPL_Generic.F90
  base/MAPL_VarSpecMod.F90
Labels: 0 diff, bugfix, enhancement

#596 Add external grid and clock setters.
  CHANGELOG.md
  base/MAPL_CapGridComp.F90
Labels: 0 diff, enhancement

#605 Handmerge develop into main
  CHANGELOG.md
  base/MAPL_CapGridComp.F90
  base/MAPL_Generic.F90
  base/MAPL_VarSpecMod.F90
Labels: 0 diff trivial

#606 Update changelog and version for 2.3.6 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#607 GitFlow: Merge Main into Develop
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#608 Inject external grid
  CHANGELOG.md
  base/MAPL_CapGridComp.F90
Labels: 0 diff, enhancement

#609 Properly set external grid into root GridComp
  CHANGELOG.md
  base/MAPL_CapGridComp.F90
Labels: 0 diff, bugfix

#610 Set CapGridComp clock to external clock if provided.
  CHANGELOG.md
  base/MAPL_CapGridComp.F90
Labels: 0 diff, enhancement

#613 bug fix. remove unnecessary statements
  CHANGELOG.md
  pfio/tests/pfio_ctest_io.F90
Labels: 0 diff, bugfix

#611 Enable building and installing as standalone library.
  .circleci/config.yml
  .github/workflows/workflow.yml
  Apps/CMakeLists.txt
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL_cfio/CMakeLists.txt
  MAPL_pFUnit/CMakeLists.txt
  Tests/CMakeLists.txt
  base/CMakeLists.txt
  base/tests/CMakeLists.txt
  cmake/mapl_acg.cmake
  components.yaml
  pfio/CMakeLists.txt
  pfio/tests/CMakeLists.txt
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 diff, Contingent - DNA, enhancement

#615 Improving use of external clock
  CHANGELOG.md
  base/MAPL_CapGridComp.F90
Labels: 0 diff, Contingent - DNA, bugfix

#616 Pull Develop into Main for release
  .circleci/config.yml
  .github/workflows/workflow.yml
  Apps/CMakeLists.txt
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL_cfio/CMakeLists.txt
  MAPL_pFUnit/CMakeLists.txt
  Tests/CMakeLists.txt
  base/CMakeLists.txt
  base/MAPL_CapGridComp.F90
  base/tests/CMakeLists.txt
  cmake/mapl_acg.cmake
  components.yaml
  pfio/CMakeLists.txt
  pfio/tests/CMakeLists.txt
  pfio/tests/pfio_ctest_io.F90
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 diff, Skip Changelog

#617 Merge main into develop (gitflow)
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#619 Move MAPL CAP
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL/MAPL.F90
  base/CMakeLists.txt
  base/MAPL_Mod.F90
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
  gridcomps/MAPL_GridComps.F90
Labels: 0 diff structural

#621 External Grid Management
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_ExternalGridFactory.F90
  base/MAPL_GridManager.F90
  base/MAPL_Mod.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 diff, enhancement

#624 Move to CircleCI Medium Resource Class
  .circleci/config.yml
Labels: 0 diff trivial, Skip Changelog
