Repository GEOS-ESM/MAPL, pull requests merged in 2020-06, with the labels that each got.

#398 Fixes #397. MAPL_CapGridComp needs a different handling of logger cre…
  MAPL_Base/MAPL_CapGridComp.F90
Labels: 0 diff trivial, bugfix

#400 Use MPIEXEC_EXECUTABLE
  GMAO_pFIO/tests/CMakeLists.txt
Labels: 0 diff structural

#402 Improved integration with ecbuild.
  CHANGELOG.md
  GMAO_pFIO/tests/CMakeLists.txt
  MAPL_pFUnit/CMakeLists.txt
  components.yaml
Labels: 0 diff structural

#406 Add return to MAPL_Intialize
  MAPL_Base/ApplicationSupport.F90
  Tests/ExtDataDriver.F90
Labels: 0 diff, bugfix

#408 Bugfix/tclune/#407 bug in python acg
  Apps/MAPL_GridCompSpecs_ACG.py
Labels: 0 diff trivial, bugfix

#375 Added ability to check a process of a specific rank is running
  MAPL_Base/MAPL_Comms.F90
Labels: 0 diff, enhancement

#337 Targeted fix for incorrectly specified latitudes in archived data
  MAPL_Base/MAPL_LatLonGridFactory.F90
Labels: 0 diff trivial, enhancement

#412 Feature/atrayano/recursive get friendlies
  CHANGELOG.md
  MAPL_Base/ESMFL_Mod.F90
  MAPL_Base/MAPL_Generic.F90
Labels: 0 diff

#416 Update CHANGELOG for release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#418 Handmerge master to develop 2020-06-11
  CHANGELOG.md
  CMakeLists.txt
  MAPL_Base/MAPL_Generic.F90
Labels: 0 diff

#409 Remove CircleCI
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff structural

#422 locate pfio test executable program
  pfio/tests/CMakeLists.txt
Labels: 0 diff, 0 diff trivial, bug

#423 Feature/atrayano/wildcard
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_HistoryCollection.F90
  base/MAPL_HistoryGridComp.F90
  base/regex_F.c
  base/regex_module.F90
Labels: 0 diff, 0 diff structural, enhancement

#420 Merge/feature/pnorris/#403 sza for photolysis
  base/MAPL_sun_uc.F90
  base/sun.H
Labels: 0 diff

#424 Feature/wjiang/statistic_print_out_warning
  base/ESMFL_Mod.F90
Labels: 0 diff, 0 diff trivial

#425 add message for rc code
  shared/MAPL_ErrorHandling.F90
Labels: 0 diff, enhancement

#426 create string templating module
  base/CMakeLists.txt
  base/MAPL_CFIO.F90
  base/MAPL_ExtDataGridCompMod.F90
  base/MAPL_Generic.F90
  base/MAPL_HistoryGridComp.F90
  base/StringTemplate.F90
Labels: 0 diff

#427 Update CHANGELOG
  CHANGELOG.md
Labels: 0 diff trivial

#428 Feature/atrayanov/llc grid factory
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_GridManager.F90
  base/MAPL_LlcGridFactory.F90
Labels: 0 diff

#430 AT: Amended CHANGELOG to include monthly mean under 2.1.0
  CHANGELOG.md
Labels: 0 diff trivial

#429 Feature/ewl/rename profiler demo exe
  CHANGELOG.md
  profiler/demo/CMakeLists.txt
Labels: 0 diff trivial

#432 rename string template
  base/MAPL_CFIO.F90
  base/MAPL_ExtDataGridCompMod.F90
  base/MAPL_Generic.F90
  base/MAPL_HistoryGridComp.F90
  base/StringTemplate.F90
Labels: 0 diff trivial

#431 Clean up CHANGELOG and update CMakeLists.txt
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
Labels: 0 diff structural, 0 diff trivial

#434 Fixes #433 - wildcard short names
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: 0 diff trivial

#437 Update components.yaml
  components.yaml
Labels: 0 diff structural

#435 Fixes #433 - wildcard in specs
  Apps/MAPL_GridCompSpecs_ACG.py
Labels: 0 diff, bugfix

#438 Bugfix/atrayano/history record
  CHANGELOG.md
  base/MAPL_CapGridComp.F90
  base/MAPL_GenericCplComp.F90
  base/MAPL_HistoryGridComp.F90
Labels: 0 diff, bugfix

#440 Removing debug comment.
  base/MAPL_HistoryGridComp.F90
Labels: 0 diff

#442 Update CHANGELOG for 2.2 release
  CHANGELOG.md
Labels: 0 diff trivial

#444 Merge master back to develop
  CHANGELOG.md
  README.md
Labels: 0 diff trivial

#446 Don't run GCM build on trivial PRs
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff trivial

#447 Hotfix/esherman/mapl acg python2
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: 0 diff trivial

#448 Update CHANGELOG and version for the 2.2.1 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#450 Update Changelog and version for 2.2.2
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#453 Merge main back into develop
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#452 Bypass the majority of MAPL_FlapCapOptions.F90 if not using FLAP
  CHANGELOG.md
  CMakeLists.txt
  Tests/CMakeLists.txt
  Tests/ExtDataDriverMod.F90
  base/CMakeLists.txt
  base/MAPL_Cap.F90
  base/MAPL_Mod.F90
Labels: 0 diff

#454 Update changelog and version for 2.2.3 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#456 Handmerge main into develop
  CHANGELOG.md
  CMakeLists.txt
  Tests/CMakeLists.txt
  Tests/ExtDataDriverMod.F90
  base/CMakeLists.txt
  base/MAPL_Cap.F90
  base/MAPL_Mod.F90
Labels: 0 diff

#457 Fixes #443. Fix for CFMIP cases.
  CHANGELOG.md
  CMakeLists.txt
  base/sun.H
Labels: 0 diff

#462 Pull main into develop (try 2)
  CHANGELOG.md
  CMakeLists.txt
  base/sun.H
Labels: 0 diff

#464 Fixes #463
  shared/MAPL_ErrorHandling.F90
Labels: 0 diff trivial, bug

#465 Update CHANGELOG and Version for 2.2.5 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#466 Pull main into develop
  CHANGELOG.md
  CMakeLists.txt
  shared/MAPL_ErrorHandling.F90
Labels: 0 diff trivial

#471 Update to ESMA_env v2.1.6
  CHANGELOG.md
  components.yaml
Labels: 0 diff trivial

#472 fix double timers
  base/MAPL_CapGridComp.F90
  base/MAPL_Generic.F90
Labels: 0 diff, bug

#473 Update CHANGELOG and version for 2.2.6
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#476 Hand merge main into develop
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_CapGridComp.F90
  base/MAPL_Generic.F90
Labels: 0 diff trivial

#477 Hand merge develop to main 2020-Jun-26
  CHANGELOG.md
  components.yaml
Labels: 0 diff trivial

#475 Test pull develop into main
  CHANGELOG.md
  components.yaml
Labels: Contingent - DNA

#478 Update CHANGELOG and version for 2.2.7
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#479 Pull main into develop
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial
