Repository GEOS-ESM/MAPL, pull requests merged in 2020-08, with the labels that each got.

#512 Fixes #480. Fix for ESMF logging errors at L132
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff, bugfix

#516 Remove unneeded Env import from mapl_stub.pl
  Apps/mapl_stub.pl
  CHANGELOG.md
Labels: 0 diff

#513 Update CHANGELOG with recent develop changes
  CHANGELOG.md
Labels: 0 diff trivial

#519 Use Ubuntu20 GCC10 image
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff

#521 Fix ExtDataDriver mpi finalize
  Tests/ExtDataDriverMod.F90
Labels: 0 diff trivial

#528 Fixes tripolar metadata ouput
  base/MAPL_TripolarGridFactory.F90
  base/MAPL_VerticalMethods.F90
Labels: 0 diff, enhancement

#529 Feature/bmauer/restart for jedi
  base/MAPL_Cap.F90
  base/MAPL_CapGridComp.F90
  base/MAPL_CapOptions.F90
  base/MAPL_Generic.F90
Labels: 0 diff, enhancement

#531 Destroy saved state for Jedi
  base/MAPL_CapGridComp.F90
  base/MAPL_Generic.F90
Labels: 0 diff, enhancement

#524 Re-add CircleCI with FV3 test
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#532 Update CHANGELOG with recent PRs
  CHANGELOG.md
Labels: 0 diff trivial
