Repository GEOS-ESM/MAPL, pull requests merged in 2020-05, with the labels that each got.

#352 fixes #351
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff, bug

#350 AT: eliminated errors in the ESMF PET log files due to esmf_usercompg…
  MAPL_Base/MAPL_CapGridComp.F90
  MAPL_Base/MAPL_Generic.F90
Labels: 0 diff trivial

#354 Bugfix/wjamieso/arrdescr uninitialized
  MAPL_Base/MAPL_IO.F90
Labels: 0 diff, bugfix

#353 release logger mpi resource before mpi_finalize
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
  components.yaml
Labels: 0 diff, bugfix

#355 Pull develop into master for release of v2.1.3
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  GMAO_pFIO/AbstractDirectoryService.F90
  GMAO_pFIO/DirectoryService.F90
  GMAO_pFIO/tests/Test_DirectoryService.pf
  GMAO_pFIO/tests/pfio_ctest_io.F90
  GMAO_pFIO/tests/pfio_performance.F90
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
  MAPL_Base/MAPL_CapGridComp.F90
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
  MAPL_Base/MAPL_Generic.F90
  MAPL_Base/MAPL_IO.F90
  MAPL_Profiler/DistributedMeter.F90
  components.yaml
Labels: 0 diff

#356 Update CHANGELOG and version for 2.1.3
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#357 Complete the flow: Merge master into develop
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#359 Fixes #358. Remove duplicate Python directory
  CHANGELOG.md
  CMakeLists.txt
  MAPL_Base/CMakeLists.txt
  MAPL_Base/Python/MAPL/Abstract.py
  MAPL_Base/Python/MAPL/Date.py
  MAPL_Base/Python/MAPL/__init__.py
  MAPL_Base/Python/MAPL/config.py
  MAPL_Base/Python/MAPL/constants.py
  MAPL_Base/Python/MAPL/eta.py
  MAPL_Base/Python/MAPL/exp.py
  MAPL_Base/Python/MAPL/filelock.py
  MAPL_Base/Python/MAPL/history.py
  MAPL_Base/Python/MAPL/job.py
  MAPL_Base/Python/MAPL/run.py
Labels: 0 diff structural

#363 add 1 dimension for all types
  GMAO_pFIO/LocalMemReference.F90
  GMAO_pFIO/NetCDF4_FileFormatter.F90
  GMAO_pFIO/UnlimitedEntity.F90
  GMAO_pFIO/new_overload.macro
Labels: 0 diff

#365 Fixes #364. Fixed the proper fortran format statement to match the nu…
  GMAO_pFIO/Throw.F90
  MAPL_Base/MAPL_Throw.F90
Labels: 0 diff trivial

#366 Bmauer/fix conflict pr 362
  CMakeLists.txt
  MAPL_Base/CMakeLists.txt
  MAPL_Base/CommGroupDescription.F90
  MAPL_Base/ESMFL_Mod.F90
  MAPL_Base/FileMetadataUtilities.F90
  MAPL_Base/MAPL_AbstractGridFactory.F90
  MAPL_Base/MAPL_AbstractRegridder.F90
  MAPL_Base/MAPL_Base.F90
  MAPL_Base/MAPL_CFIO.F90
  MAPL_Base/MAPL_CFIOServer.F90
  MAPL_Base/MAPL_Cap.F90
  MAPL_Base/MAPL_CapGridComp.F90
  MAPL_Base/MAPL_CapOptions.F90
  MAPL_Base/MAPL_Comms.F90
  MAPL_Base/MAPL_Config.F90
  MAPL_Base/MAPL_ErrLogMain.h
  MAPL_Base/MAPL_ErrorHandling.F90
  MAPL_Base/MAPL_EtaHybridVerticalCoordinate.F90
  MAPL_Base/MAPL_ExtDataGridCompMod.F90
  MAPL_Base/MAPL_ExtData_IOBundleMod.F90
  MAPL_Base/MAPL_FlapCapOptions.F90
  MAPL_Base/MAPL_Generic.F90
  MAPL_Base/MAPL_GenericCplComp.F90
  MAPL_Base/MAPL_GetLatLonCoord.F90
  MAPL_Base/MAPL_GridManager.F90
  MAPL_Base/MAPL_Hash.F90
  MAPL_Base/MAPL_HeapMod.F90
  MAPL_Base/MAPL_HistoryCollection.F90
  MAPL_Base/MAPL_HistoryGridComp.F90
  MAPL_Base/MAPL_IO.F90
  MAPL_Base/MAPL_LoadBalance.F90
  MAPL_Base/MAPL_LocStreamMod.F90
  MAPL_Base/MAPL_MemUtils.F90
  MAPL_Base/MAPL_Mod.F90
  MAPL_Base/MAPL_NewArthParser.F90
  MAPL_Base/MAPL_Profiler.F90
  MAPL_Base/MAPL_Range.F90
  MAPL_Base/MAPL_ShmemMod.F90
  MAPL_Base/MAPL_SimpleAlarm.F90
  MAPL_Base/MAPL_SimpleBundleMod.F90
  MAPL_Base/MAPL_Sort.F90
  MAPL_Base/MAPL_TimeMethods.F90
  MAPL_Base/MAPL_VarSpecMod.F90
  MAPL_Base/MAPL_VerticalInterpMod.F90
  MAPL_Base/MAPL_VerticalMethods.F90
  MAPL_Base/MAPL_ioClients.F90
  MAPL_Base/MAPL_newCFIO.F90
  MAPL_Base/MAPL_sun_uc.F90
  MAPL_Base/Regrid_Util.F90
  MAPL_Base/SimpleCommSplitter.F90
  MAPL_Base/cub2latlon_regridder.F90
  MAPL_Base/tests/MAPL_Initialize.F90
  MAPL_Shared/CMakeLists.txt
  MAPL_Shared/MAPL_ErrorHandling.F90
  MAPL_Shared/MAPL_ExceptionHandling.F90
  MAPL_Shared/MAPL_Throw.F90
  include/CMakeLists.txt
  include/MAPL_ErrLog.h
  include/MAPL_ErrLogMain.h
  include/MAPL_Exceptions.h
Labels: 0 diff structural

#371 Hotfix/bmauer/error handling
  MAPL_Shared/MAPL_ErrorHandling.F90
  include/MAPL_ErrLogMain.h
Labels: 0 diff trivial, bugfix

#372 Fixes #369. Update CI with GCM build test
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff structural

#367 fix pFIO tests due to change of error handling
  GMAO_pFIO/tests/CMakeLists.txt
  GMAO_pFIO/tests/MockClientThread.F90
  GMAO_pFIO/tests/MockServerThread.F90
  GMAO_pFIO/tests/MockSocket.F90
  GMAO_pFIO/tests/pFIO_Initialize.F90
  GMAO_pFIO/tests/pfio_ctest_io.F90
  GMAO_pFIO/tests/pfio_performance.F90
Labels: 0 diff

#373 Feature/atrayano/split4d
  MAPL_Base/MAPL_Base.F90
  MAPL_Base/MAPL_Generic.F90
  MAPL_Base/MAPL_HistoryCollection.F90
  MAPL_Base/MAPL_HistoryGridComp.F90
  MAPL_Base/MAPL_IO.F90
  MAPL_Base/MAPL_newCFIO.F90
Labels: 0 diff

#376 Regrid_Utils.x
  MAPL_Base/Regrid_Util.F90
Labels: 0 diff, bug

#380 Update changelog for release
  CHANGELOG.md
Labels: 0 diff trivial

#381 Handmerge master into develop 2020-May-21
  CHANGELOG.md
  MAPL_Base/Regrid_Util.F90
Labels: 0 diff

#382 Feature/bmauer/1 d output fixconflicts
  CHANGELOG.md
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_HistoryCollection.F90
  MAPL_Base/MAPL_HistoryGridComp.F90
  MAPL_Base/MAPL_HistoryTrajectoryMod.F90
  MAPL_Base/MAPL_LocStreamFactoryMod.F90
  MAPL_Base/MAPL_LocstreamRegridder.F90
  MAPL_Base/MAPL_TimeMethods.F90
  MAPL_Base/MAPL_VerticalMethods.F90
  MAPL_Base/MAPL_newCFIO.F90
Labels: 0 diff, enhancement

#384 Feature/move/ioserver logic
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
  MAPL_Base/ServerManager.F90
Labels: 0 diff, enhancement

#385 Feature/wjiang/#378 statistcs print
  MAPL_Base/ESMFL_Mod.F90
Labels: 0 diff, enhancement

#386 Cap reorganization part 2
  MAPL_Base/ApplicationSupport.F90
  MAPL_Base/CMakeLists.txt
  MAPL_Base/MAPL_Cap.F90
  MAPL_Base/MAPL_Mod.F90
  MAPL_Base/ServerManager.F90
  MAPL_Profiler/MemoryProfiler.F90
  MAPL_Profiler/TimeProfiler.F90
Labels: 0 diff, enhancement

#388 Feature/tclune/#387 support logical in python acg
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: 0 diff trivial

#390 Do all timer initialization in MAPL_GenericWrapper
  MAPL_Base/MAPL_CapGridComp.F90
  MAPL_Base/MAPL_Generic.F90
Labels: 0 diff trivial, enhancement

#391 Update components.yaml and CI
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff structural

#395 Fixes #393
  MAPL_Base/MAPL_Generic.F90
Labels: 0 diff, bug, bugfix

#392 get extdata driver working again
  MAPL_Base/ApplicationSupport.F90
  MAPL_Base/MAPL_Cap.F90
  MAPL_Base/Regrid_Util.F90
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataDriverMod.F90
Labels: 0 diff, bugfix
