Repository GEOS-ESM/MAPL, pull requests merged in 2020-10, with the labels that each got.

#559 Update changelog-enforcer.yml
  .github/workflows/changelog-enforcer.yml
Labels: 0 diff structural, Skip Changelog

#561 Fixes for ExtData Logger
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff trivial, Skip Changelog

#564 Fixes #562. Debug Level logger fix in ExtData
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff trivial, bugfix

#566 Pull main into develop for hotfix
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff, 0 diff trivial, Skip Changelog

#570 Feature/compression regrid util
  CHANGELOG.md
  base/Regrid_Util.F90
Labels: 0 diff, bugfix, enhancement

#571 Update Changelog for 2.3.2 release, Update GitHub CI
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff, documentation

#568 Fixes #563. Fixes for Leap Year Extrapolation
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff

#572 Git Flow: Pull main into develop 2020-10-09
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
  base/Regrid_Util.F90
Labels: 0 diff, Skip Changelog

#576 Fix coarse grid IO
  CHANGELOG.md
  base/MAPL_newCFIO.F90
Labels: 0 diff, bugfix

#577 Update CHANGELOG.md for 2.3.3 release
  CHANGELOG.md
Labels: 0 diff trivial, documentation

#578 Git Flow: Pull main into develop for hotfix
  CHANGELOG.md
  base/MAPL_newCFIO.F90
Labels: 0 diff, Skip Changelog

#580 Widen #-cycles profile column
  CHANGELOG.md
  base/ApplicationSupport.F90
  base/MAPL_Generic.F90
Labels: 0 diff trivial

#583 fix so cubed sphere input can be read in when it has the corners
  CHANGELOG.md
  MAPL_cfio/ESMF_CFIOSdfMod.F90
  MAPL_cfio/ESMF_CFIOUtilMod.F90
Labels: 0 diff, bugfix

#582 Add Docker authentication for pulls
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff trivial

#585 Hand merge of main into develop
  CHANGELOG.md
  CMakeLists.txt
  MAPL_cfio/ESMF_CFIOSdfMod.F90
  MAPL_cfio/ESMF_CFIOUtilMod.F90
  components.yaml
Labels: 0 diff, bugfix

#587 Fix changelog
  CHANGELOG.md
Labels: 0 diff trivial

#588 Pull Develop into Main for Release
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  base/ApplicationSupport.F90
  base/MAPL_Generic.F90
  components.yaml
Labels: 0 diff
