Repository GEOS-ESM/MAPL, pull requests merged in 2020-07, with the labels that each got.

#481 remove non-standard openmp directive
  shared/MAPL_ErrorHandling.F90
Labels: 0 diff

#483 Updated more output to use pFlogger
  base/MAPL_Cap.F90
  base/MAPL_CapGridComp.F90
  base/MAPL_Generic.F90
Labels: 0 diff trivial

#485 Set return value when variable not found
  base/FileMetadataUtilities.F90
Labels: 0 diff trivial, bugfix

#487 Bugfix/mapl acg
  Apps/MAPL_GridCompSpecs_ACG.py
  base/FileMetadataUtilities.F90
  base/MAPL_Cap.F90
  base/MAPL_CapGridComp.F90
  base/MAPL_Generic.F90
  shared/MAPL_ErrorHandling.F90
Labels: 0 diff trivial

#489 Revert "Bugfix/mapl acg"
  Apps/MAPL_GridCompSpecs_ACG.py
  base/FileMetadataUtilities.F90
  base/MAPL_Cap.F90
  base/MAPL_CapGridComp.F90
  base/MAPL_Generic.F90
  shared/MAPL_ErrorHandling.F90
Labels: 0 diff trivial

#490 fixes problem with name mangling in ACG
  Apps/MAPL_GridCompSpecs_ACG.py
Labels: 0 diff trivial

#494 Update Changelog with v2.1.6 tag
  CHANGELOG.md
Labels: 0 diff trivial, documentation

#496 Handmerge main into develop
  CHANGELOG.md
Labels: 0 diff trivial, documentation

#498 routine to Finalize IO servers
  base/MAPL_Cap.F90
Labels: 0 diff trivial, bugfix

#501 Fixes mapl comm bug for NUOPC_Wrapper introduced with MAPL 2.2
  base/MAPL_Cap.F90
  base/MAPL_NUOPCWrapperMod.F90
Labels: 0 diff, bugfix
