Repository GEOS-ESM/MAPL, pull requests merged in 2021-08, with the labels that each got.

#944 Add 6DR8 Alloc/Dealloc to Shmem
  CHANGELOG.md
  shared/Shmem/Shmem.F90
  shared/Shmem/Shmem_implementation.F90
Labels: 0 diff

#945 Fix up extdata error message
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff structural, 0 diff trivial, 0 diff, Skip Changelog

#949 Update ESMA_cmake to v3.5.3
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#952 Remove Pandas dependency from automatic code generator
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: new feature, 0 diff

#955 Removes unused functions from NominalOrbits
  CHANGELOG.md
  base/MAPL_NominalOrbitsMod.F90
Labels: 0 diff trivial

#957 Merge develop into MAPL3 branch
  CHANGELOG.md
  base/MAPL_NominalOrbitsMod.F90
Labels: 0 diff

#956 Add automatic PR actions
  .github/PULL_REQUEST_TEMPLATE/auto_pr_to_mapl3.md
  .github/PULL_REQUEST_TEMPLATE/gitflow_main_develop.md
  .github/workflows/push-to-develop.yml
  .github/workflows/push-to-main.yml
Labels: 0 diff trivial, Skip Changelog

#959 Handmerge main to develop
  .github/PULL_REQUEST_TEMPLATE/auto_pr_to_mapl3.md
  .github/PULL_REQUEST_TEMPLATE/gitflow_main_develop.md
  .github/workflows/push-to-develop.yml
  .github/workflows/push-to-main.yml
Labels: 0 diff trivial, Skip Changelog

#963 simplified copying attributes subroutine
  CHANGELOG.md
  base/Base/Base_implementation.F90
Labels: 0 diff, refactor

#965 Update LICENSE.md
  LICENSE.md
Labels: documentation, 0 diff trivial, Skip Changelog

#967 Handmerge gitflow main to develop
  LICENSE.md
Labels: documentation, 0 diff trivial, Skip Changelog

#969 specified npes for pfio_MAPL_demo for default interface
  CHANGELOG.md
  Tests/pfio_MAPL_demo.F90
Labels: 0 diff, bugfix

#971 Add Skip Changelog to Auto PRs to MAPL3 branch
  .github/workflows/push-to-develop.yml
Labels: 0 diff trivial, MAPL3

#962 Print NetCDF error message if pFIO_NetCDF4_FileFormatterMod::open() fails
  CHANGELOG.md
  pfio/NetCDF4_FileFormatter.F90
Labels: 0 diff trivial

#973 Fix to multi day run
  CHANGELOG.md
  base/Base/Base_implementation.F90
  base/MAPL_CFIO.F90
  base/MAPL_LatLonGridFactory.F90
  base/MAPL_NominalOrbitsMod.F90
  base/MAPL_OrbGridCompMod.F90
  base/cub2latlon_regridder.F90
  base/tests/Test_LatLon_Corners.pf
  base/tests/Test_LatLon_GridFactory.pf
  shared/Constants/MathConstants.F90
  shared/Constants/PhysicalConstants.F90
Labels: 0 diff, bugfix

#977 Add automatic label to changelog enforcer
  .github/workflows/changelog-enforcer.yml
Labels: 0 diff trivial

#979 Fixes an issue with vector names in get levs
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff, bugfix

#981 Update LICENSE.md Again
  LICENSE.md
Labels: documentation, 0 diff trivial, Skip Changelog

#983 Handmerge main to develop 2021-Aug-19
  LICENSE.md
Labels: documentation, 0 diff trivial, Skip Changelog

#1006 Fixes #545. Adds default build type to MAPL
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff
