Repository GEOS-ESM/MAPL, pull requests merged in 2021-04, with the labels that each got.

#783 Eliminate (almost) all Intel warnings
  CHANGELOG.md
  Tests/ExtDataDriverMod.F90
  base/FieldBundleRead.F90
  base/FieldBundleWrite.F90
  base/HorizontalFluxRegridder.F90
  base/MAPL_AbstractRegridder.F90
  base/MAPL_Base.F90
  base/MAPL_Comms.F90
  base/MAPL_EtaHybridVerticalCoordinate.F90
  base/MAPL_ExtDataGridCompMod.F90
  base/MAPL_Generic.F90
  base/MAPL_OldCubedSphereGridFactory.F90
  base/MAPL_SimpleBundleMod.F90
  base/MAPL_SphericalGeometry.F90
  base/MAPL_TripolarGridFactory.F90
  base/MAPL_sun_uc.F90
  generic/UserComponent.F90
  generic/driver.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  pfio/AbstractServer.F90
  pfio/ClientManager.F90
  pfio/DirectoryService.F90
  pfio/FileMetadata.F90
  pfio/MultiGroupServer.F90
  pfio/NetCDF4_FileFormatter.F90
  pfio/StringVariableMap.F90
  pfio/StringVectorUtil.F90
  pfio/UnlimitedEntity.F90
  pfio/pFIO_ShaveMantissa.c
  pfio/tests/CMakeLists.txt
  profiler/AdvancedMeter.F90
  profiler/DistributedMeter.F90
  profiler/MemoryProfiler.F90
  profiler/MemoryTextColumn.F90
  profiler/MeterNode.F90
  profiler/MpiTimerGauge.F90
  profiler/MultiColumn.F90
  profiler/NameColumn.F90
  profiler/NumCyclesColumn.F90
  profiler/PercentageColumn.F90
  profiler/SeparatorColumn.F90
  profiler/TimeProfiler.F90
  profiler/VmstatMemoryGauge.F90
  shared/hash.c
Labels: 0 diff, enhancement

#794 Bugfix/atrayano/#793 split field ungrd size 1
  CHANGELOG.md
  base/MAPL_Base.F90
Labels: 0 diff, bug

#789 Update components and CI for ESMF 8.1.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#788 Enable nearest-neighbor interpolation for ExtData
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff, enhancement

#797 Add MAPL_TransposeRegridderMod to MAPL_Mod for DAS
  CHANGELOG.md
  base/MAPL_Mod.F90
Labels: 0 diff, enhancement

#686 Update MAPL to use namespace GFE
  CHANGELOG.md
  base/CMakeLists.txt
  components.yaml
  generic/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  pfio/CMakeLists.txt
  pfunit/CMakeLists.txt
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 diff

#792 Fixes #791
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: 0 diff trivial, bugfix, enhancement

#801 Fixes #800. Move to use Solar Cycle 24 for non-persist
  CHANGELOG.md
  base/MAPL_sun_uc.F90
Labels: 0 diff, Non 0-diff

#804 Fixes #784, #790, #802. Fixed several issues regarding timestamping o…
  CHANGELOG.md
  base/MAPL_TimeMethods.F90
  base/MAPL_newCFIO.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff, bugfix

#803 Fixes #396 duplicate KeywordEnforcer module
  CHANGELOG.md
  pfio/AbstractCollectiveDataMessage.F90
  pfio/AbstractDataMessage.F90
  pfio/AbstractDirectoryService.F90
  pfio/CMakeLists.txt
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/CollectivePrefetchDataMessage.F90
  pfio/CollectiveStageDataMessage.F90
  pfio/CoordinateVariable.F90
  pfio/DirectoryService.F90
  pfio/FastClientThread.F90
  pfio/FileMetadata.F90
  pfio/ForwardDataAndMessage.F90
  pfio/ForwardDataMessage.F90
  pfio/KeywordEnforcer.F90
  pfio/ModifyMetadataMessage.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/MultiLayerServer.F90
  pfio/NetCDF4_FileFormatter.F90
  pfio/PrefetchDataMessage.F90
  pfio/StageDataMessage.F90
  pfio/Variable.F90
  pfio/tests/MockClientThread.F90
Labels: 0 diff trivial

#805 add pflogger stub to skip pflogger library
  CHANGELOG.md
  CMakeLists.txt
  base/ApplicationSupport.F90
  components.yaml
  pflogger_stub/CMakeLists.txt
  pflogger_stub/PFL_KeywordEnforcer.F90
  pflogger_stub/WrapArray.F90
  pflogger_stub/pflogger_stub.F90
  pflogger_stub/recordOptArgs.inc
  shared/CMakeLists.txt
Labels: 0 diff, enhancement

#807 Bugfix/atrayano/#784 wrong metadata monthly
  CHANGELOG.md
  base/MAPL_TimeMethods.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff, bugfix

#808 Test to use Intel CI to build MAPL
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff trivial, enhancement

#810 Fixes #809. Added explicit initialization after allocation
  CHANGELOG.md
  shared/MAPL_ShmemMod.F90
Labels: 0 diff, bugfix

#812 Add CONTRIBUTING
  CONTRIBUTING.md
Labels: 0 diff trivial, Skip Changelog

#813 Feature/bmauer/fix bundle2state
  CHANGELOG.md
  base/ESMFL_Mod.F90
  base/MAPL_CFIO.F90
  base/MAPL_LatLonToLatLonRegridder.F90
Labels: 0 diff, bug

#815 add _RETURN to MAPL_SimpleBundle
  CHANGELOG.md
  base/MAPL_SimpleBundleMod.F90
Labels: 0 diff, 0 diff structural, bug

#814 Turn off F2PY in CI
  .github/workflows/workflow.yml
Labels: 0 diff, Skip Changelog

#811 clean up comms
  CHANGELOG.md
  CMakeLists.txt
  base/ApplicationSupport.F90
  base/ServerManager.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
  pfio/AbstractServer.F90
  pfio/ClientManager.F90
  pfio/DirectoryService.F90
  pfio/MpiMutex.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/RDMAReference.F90
  pfio/ShmemReference.F90
  profiler/BaseProfiler.F90
  shared/SimpleCommSplitter.F90
Labels: 0 diff, bugfix

#744 add --with_io_profiler option
  CHANGELOG.md
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCapOptions.F90
  base/ServerManager.F90
  gridcomps/Cap/MAPL_Cap.F90
  pfio/AbstractServer.F90
  pfio/MpiServer.F90
  pfio/MultiGroupServer.F90
Labels: 0 diff, 0 diff structural, enhancement

#821 Fixes #820. Fix bug in SimpleCommSplitter
  CHANGELOG.md
  CMakeLists.txt
  shared/SimpleCommSplitter.F90
Labels: 0 diff

#822 Merge main/2.6.6 hotfix into develop
  CHANGELOG.md
  CMakeLists.txt
  shared/SimpleCommSplitter.F90
Labels: 0 diff

#823 Fixes #799. Allow comments in NRL solar file
  CHANGELOG.md
  base/MAPL_sun_uc.F90
Labels: 0 diff

#818 Use ESMF_Finalize in Cap
  CHANGELOG.md
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff
