Repository GEOS-ESM/MAPL, pull requests merged in 2021-06, with the labels that each got.

#874 Add missing variable declaration statement
  CHANGELOG.md
  base/MAPL_Generic.F90
Labels: 0 diff trivial, bug

#871 Add CLI switch to enable MOAB in ESMF
  CHANGELOG.md
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCLI.F90
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff, enhancement

#876 add option BUILD_SHARED_MAPL to build shared or static library
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL_cfio/CMakeLists.txt
  base/CMakeLists.txt
  generic/CMakeLists.txt
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  pfio/CMakeLists.txt
  pflogger_stub/CMakeLists.txt
  pfunit/CMakeLists.txt
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 diff

#872 set logical values through Flap without specifying true or false
  CHANGELOG.md
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCLI.F90
Labels: 0 diff

#877 Feature/bmauer/protect against 2 d flip
  CHANGELOG.md
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff, bugfix

#878 The standalone program `pfio_MAPL_demo.F90` write several time record…
  CHANGELOG.md
  Tests/pfio_MAPL_demo.F90
Labels: 0 diff, enhancement

#850 Use GFE namespace
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#880 Update changelog and cmakelists for 2.7.1 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#882 Handmerge develop into main
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL_cfio/CMakeLists.txt
  Tests/pfio_MAPL_demo.F90
  base/CMakeLists.txt
  base/FieldBundleRead.F90
  base/MAPL_CapOptions.F90
  base/MAPL_ExtDataGridCompMod.F90
  base/MAPL_FlapCLI.F90
  base/MAPL_Generic.F90
  base/Regrid_Util.F90
  components.yaml
  generic/CMakeLists.txt
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/History/CMakeLists.txt
  pfio/CMakeLists.txt
  pflogger_stub/CMakeLists.txt
  pfunit/CMakeLists.txt
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 diff

#885 fix format for writing large number
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff trivial, bugfix

#890 Add stale bot yaml
  .github/stale.yml
Labels: 0 diff trivial

#893 Address build failure with GNU Fortran 9.3.0
  CHANGELOG.md
  shared/Interp/Interp_implementation.F90
Labels: 0 diff, bug

#894 Update CHANGELOG and CMake for 2.7.2 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#898 Hand merge of main into develop
  CHANGELOG.md
  CMakeLists.txt
  shared/Interp/Interp_implementation.F90
Labels: 0 diff, gitflow

#888 Fixes for some stray mod files
  CHANGELOG.md
  Tests/CMakeLists.txt
  base/CMakeLists.txt
  base/tests/CMakeLists.txt
  generic/CMakeLists.txt
  generic/tests/CMakeLists.txt
  pfio/tests/CMakeLists.txt
  profiler/tests/CMakeLists.txt
  shared/tests/CMakeLists.txt
Labels: 0 diff, 0 diff structural, before stale

#900 Ensure grid coordinates are always provided in radians
  CHANGELOG.md
  base/ESMFL_Mod.F90
Labels: 0 diff, Non 0-diff, bug

#902 Update CHANGELOG and CMake for 2.7.3 Release [skip ci]
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial, Skip Changelog

#904 Handmerge main into develop
  CHANGELOG.md
  CMakeLists.txt
  base/ESMFL_Mod.F90
Labels: 0 diff, gitflow

#901 Update Changelog Enforcer, add error message
  .github/workflows/changelog-enforcer.yml
Labels: 0 diff trivial

#891 Update CMake to support GFE Namespace only
  CHANGELOG.md
  base/CMakeLists.txt
  generic/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  pfio/CMakeLists.txt
  pflogger_stub/CMakeLists.txt
  pfunit/CMakeLists.txt
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 diff structural

#908 Fixes #907 ESMF warnings in log.
  pfunit/ESMF_TestCase.F90
  pfunit/MAPL_Initialize.F90
Labels: 0 diff trivial, bug

#906 Feature/bmauer/#887 consistent fgrid
  CHANGELOG.md
  base/MAPL_AbstractGridFactory.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_ExtDataCollection.F90
  base/MAPL_ExtDataCollectionManager.F90
  base/MAPL_ExtDataGridCompMod.F90
  base/MAPL_ExternalGridFactory.F90
  base/MAPL_GridManager.F90
  base/MAPL_LatLonGridFactory.F90
  base/MAPL_LlcGridFactory.F90
  base/MAPL_OldCubedSphereGridFactory.F90
  base/MAPL_TripolarGridFactory.F90
  base/tests/MockGridFactory.F90
Labels: Non 0-diff, bug, enhancement

#909 Better fix for #907
  CHANGELOG.md
  pfunit/ESMF_TestCase.F90
Labels: 0 diff trivial, Skip Changelog, bugfix

#910 Fix bug in latlon factory for use_file_coords logic
  CHANGELOG.md
  base/MAPL_LatLonGridFactory.F90
Labels: Non 0-diff, bugfix
