Repository GEOS-ESM/MAPL, pull requests merged in 2021-02, with the labels that each got.

#679 Fixes #678. This fixes incorrect referrences to R4 variables when rea…
  CHANGELOG.md
  base/MAPL_IO.F90
Labels: 0 diff trivial, bugfix

#654 change logical internal storage to integer in pFIO_Utilities
  .github/workflows/workflow.yml
  CHANGELOG.md
  MAPL_cfio/ESMF_CFIOGridMod.F90
  MAPL_cfio/ESMF_CFIOMod.F90
  MAPL_cfio/ESMF_CFIOSdfMod.F90
  MAPL_cfio/ESMF_CFIOUtilMod.F90
  MAPL_cfio/ShaveMantissa.c
  Tests/CMakeLists.txt
  base/CMakeLists.txt
  base/MAPL_EtaHybridVerticalCoordinate.F90
  base/MAPL_Generic.F90
  base/MAPL_LlcGridFactory.F90
  base/MAPL_SatVapor.F90
  base/tests/CMakeLists.txt
  base/tests/Test_CubedSphereGridFactory.pf
  base/tests/Test_LatLon_Corners.pf
  base/tests/Test_LatLon_GridFactory.pf
  base/tests/Test_SimpleCommSplitter.pf
  base/tests/test_DirPath.pf
  gridcomps/Cap/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/CMakeLists.txt
  pfio/LocalMemReference.F90
  pfio/MpiMutex.F90
  pfio/MultiCommServer.F90
  pfio/pFIO_Utilities.F90
  pfio/pfio_collective_demo.F90
  pfio/tests/CMakeLists.txt
  pfio/tests/Test_LocalMemReference.pf
  shared/MAPL_HeapMod.F90
  shared/MAPL_LoadBalance.F90
  shared/MAPL_Throw.F90
Labels: 0 diff, bugfix

#682 Feature/bmauer/generalized ij search
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_Base.F90
  base/MAPL_SphericalGeometry.F90
Labels: 0 diff, bugfix, enhancement

#687 Feature/bmauer/locstream variance
  CHANGELOG.md
  base/MAPL_LocStreamMod.F90
Labels: 0 diff, enhancement

#683 Fixes #248. Update Python MAPL constants
  CHANGELOG.md
  Python/MAPL/constants.py
Labels: 0 diff, Non 0-diff

#684 Fixes #232. Add time and date validator
  CHANGELOG.md
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  shared/CMakeLists.txt
  shared/TimeUtils.F90
  shared/tests/CMakeLists.txt
  shared/tests/test_TimeUtils.pf
Labels: 0 diff

#677 Fixes #344 refactor generic layer
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataDriverMod.F90
  Tests/ExtDataRoot_GridComp.F90
  base/CMakeLists.txt
  base/MAPL_Base.F90
  base/MAPL_CFIO.F90
  base/MAPL_CFIOServer.F90
  base/MAPL_Generic.F90
  base/MAPL_GenericCplComp.F90
  base/MAPL_IO.F90
  base/tests/CMakeLists.txt
  generic/AbstractComponent.F90
  generic/AbstractComposite.F90
  generic/AbstractFrameworkComponent.F90
  generic/BaseComponent.F90
  generic/BaseFrameworkComponent.F90
  generic/CMakeLists.txt
  generic/ComponentSpecification.F90
  generic/CompositeComponent.F90
  generic/ConcreteComposite.F90
  generic/DecoratorComponent.F90
  generic/MAPL_VarSpecMod.F90
  generic/MaplComponent.F90
  generic/MaplGeneric.F90
  generic/MaplGenericComponent.F90
  generic/MaplGrid.F90
  generic/StateSpecification.F90
  generic/StringCompositeMap.F90
  generic/StubComponent.F90
  generic/SurrogateFrameworkComponent.F90
  generic/UserComponent.F90
  generic/VarSpecVector.F90
  generic/VariableSpecification.F90
  generic/driver.F90
  generic/tests/CMakeLists.txt
  generic/tests/Test_CompositeComponent.pf
  generic/tests/Test_ConcreteComposite.pf
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/tests/CMakeLists.txt
  pfio/tests/pFIO_Initialize.F90
  pfunit/.gitrepo
  pfunit/CMakeLists.txt
  pfunit/ESMF_TestCase.F90
  pfunit/ESMF_TestMethod.F90
  pfunit/ESMF_TestParameter.F90
  pfunit/MAPL_Initialize.F90
  pfunit/MAPL_pFUnit_Throw.F90
  pfunit/init_tests.F90
  pfunit/unused_dummy.H
  shared/CMakeLists.txt
  shared/Enumerators.F90
  shared/MaplShared.F90
Labels: 0 diff, enhancement

#689 Pull main into develop (git flow) [skip ci]
  CHANGELOG.md
Labels: 0 diff trivial

#694 Fixes for building MAPL without Baselibs
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
  generic/AbstractComponent.F90
  generic/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  pfio/CMakeLists.txt
  pfio/tests/CMakeLists.txt
Labels: 0 diff, 0 diff structural

#693 Remove need for HDF5 Fortran bindings
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#697 add seconds to string template
  CHANGELOG.md
  base/StringTemplate.F90
Labels: 0 diff, enhancement

#696 Hand merge main into develop for hotfix
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
  generic/AbstractComponent.F90
  generic/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  pfio/CMakeLists.txt
  pfio/tests/CMakeLists.txt
Labels: 0 diff, bugfix

#699 allow user to specify decomposition for history, useful for testing
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff, enhancement

#700 ExtDataDriver.x generating spatially varying synthetic data
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
Labels: 0 diff, enhancement

#701 fix crash due to access deallocated memory
  CHANGELOG.md
  base/MAPL_Generic.F90
  generic/CMakeLists.txt
  pfio/LocalMemReference.F90
Labels: 0 diff, bugfix

#703 Fixes #637
  CHANGELOG.md
  base/HorizontalFluxRegridder.F90
  base/MAPL_ExtDataGridCompMod.F90
  base/MAPL_RegridderManager.F90
Labels: 0 diff

#704 Updates for 2.6.2 Release [skip ci]
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial, Skip Changelog

#692 Feature/wjiang/oserver forward data
  CHANGELOG.md
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCapOptions.F90
  base/ServerManager.F90
  gridcomps/Cap/MAPL_Cap.F90
  pfio/BaseServer.F90
  pfio/CMakeLists.txt
  pfio/ClientManager.F90
  pfio/DirectoryService.F90
  pfio/ForwardDataAndMessage.F90
  pfio/LocalMemReference.F90
  pfio/MessageVector.F90
  pfio/MpiSocket.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/MultiLayerServer.F90
  pfio/ServerThread.F90
  pfio/ServerThreadVector.F90
  pfio/pFIO_Utilities.F90
Labels: 0 diff

#709 Fixes #436. Rename master to main in ExtData
  base/MAPL_ExtDataGridCompMod.F90
Labels: 0 diff, 0 diff trivial, Skip Changelog

#708 Fixes #538. Use MAPL Error Macros.
  CHANGELOG.md
  pfio/DownBit.F90
  shared/MAPL_Range.F90
Labels: 0 diff

#712 Add Python Transition Team Codeowner
  .github/CODEOWNERS
  .gitignore
Labels: 0 diff trivial, Skip Changelog

#718 Use CMake itself to ignore build and install directories
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#727 Feature/atrayano/#660 config set attribute ints
  CHANGELOG.md
  base/MAPL_Config.F90
Labels: 0 diff trivial
