Repository GEOS-ESM/MAPL, pull requests merged in 2021-12, with the labels that each got.

#1208 Changes usage of _ASSERT for SUCCESS error checking and _ASSERT with and conditional
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  base/ESMFL_Mod.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_Profiler.F90
  base/MAPL_sun_uc.F90
  generic/MAPL_Generic.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/ClientManager.F90
  shared/MAPL_LoadBalance.F90
  shared/MAPL_Sort.F90
Labels: 0 diff

#1217 Feature/wjiang/optimized writing node
  CHANGELOG.md
  pfio/MultiGroupServer.F90
  pfio/tests/CMakeLists.txt
Labels: 0 diff

#1207 Remove tab characters from Fortran and C code
  CHANGELOG.md
  MAPL_cfio/ESMF_CFIOUtilMod.F90
  MAPL_cfio/ShaveMantissa.c
  MAPL_cfio/examples/testr_gd_wr.f90
  base/BinIO.F90
  base/ESMFL_Mod.F90
  base/MAPL_Comms.F90
  base/MAPL_MemUtils.F90
  base/MAPL_sun_uc.F90
  base/arrayscatter.H
  base/qsatice.H
  base/read_parallel.H
  base/write_parallel.H
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/NetCDF4_get_var.H
  pfio/NetCDF4_put_var.H
  pfio/pFIO_ShaveMantissa.c
  shared/hash.c
  shared/sort.c
Labels: 0 diff trivial, 0 diff

#1218 Update for MAPL 2.13.0 Release
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
Labels: 0 diff

#1220 Merge develop into main for 2.13 Release
  CHANGELOG.md
  CMakeLists.txt
  MAPL_cfio/ESMF_CFIOUtilMod.F90
  MAPL_cfio/ShaveMantissa.c
  MAPL_cfio/examples/testr_gd_wr.f90
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataRoot_GridComp.F90
  base/BinIO.F90
  base/ESMFL_Mod.F90
  base/MAPL_Comms.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_LatLonGridFactory.F90
  base/MAPL_MemUtils.F90
  base/MAPL_Profiler.F90
  base/MAPL_sun_uc.F90
  base/arrayscatter.H
  base/qsatice.H
  base/read_parallel.H
  base/write_parallel.H
  components.yaml
  generic/MAPL_Generic.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/ClientManager.F90
  pfio/MultiGroupServer.F90
  pfio/NetCDF4_get_var.H
  pfio/NetCDF4_put_var.H
  pfio/pFIO_ShaveMantissa.c
  pfio/tests/CMakeLists.txt
  shared/CMakeLists.txt
  shared/MAPL_LoadBalance.F90
  shared/MAPL_Sort.F90
  shared/StringUtils.F90
  shared/hash.c
  shared/sort.c
Labels: 0 diff

#1223 Feature/wjiang/add open demo
  CHANGELOG.md
  pfio/CMakeLists.txt
  pfio/pfio_open_close.F90
Labels: 0 diff trivial

#1222 Major refactoring of profiling
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  base/MAPL_Profiler.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  profiler/BaseProfiler.F90
  profiler/CMakeLists.txt
  profiler/MAPL_Profiler.F90
  profiler/MeterNodePtr.F90
  profiler/MeterNodeStack.F90
  profiler/TimeProfiler.F90
  profiler/demo/CMakeLists.txt
  profiler/demo/mpi_demo.F90
  profiler/reporting/AbstractColumn.F90
  profiler/reporting/ColumnVector.F90
  profiler/reporting/ExclusiveColumn.F90
  profiler/reporting/FormattedTextColumn.F90
  profiler/reporting/InclusiveColumn.F90
  profiler/reporting/MaxCycleColumn.F90
  profiler/reporting/MeanCycleColumn.F90
  profiler/reporting/MemoryTextColumn.F90
  profiler/reporting/MinCycleColumn.F90
  profiler/reporting/MultiColumn.F90
  profiler/reporting/NameColumn.F90
  profiler/reporting/NumCyclesColumn.F90
  profiler/reporting/PercentageColumn.F90
  profiler/reporting/ProfileReporter.F90
  profiler/reporting/SeparatorColumn.F90
  profiler/reporting/SimpleColumn.F90
  profiler/reporting/SimpleTextColumn.F90
  profiler/reporting/StdDevColumn.F90
  profiler/reporting/TextColumn.F90
  profiler/reporting/TextColumnVector.F90
Labels: 0 diff trivial, MAPL3

#1225 Feature/tclune/refactor generic
  CHANGELOG.md
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  shared/CMakeLists.txt
  shared/DSO_Utilities.F90
  shared/FileSystemUtilities.F90
  shared/MaplShared.F90
  shared/StringUtils.F90
  shared/tests/CMakeLists.txt
  shared/tests/test_DSO_Utilities.pf
  shared/tests/test_FileSystemUtilities.pf
Labels: 0 diff, MAPL3

#1231 Fixes #1230. Update mapl_tree.py
  CHANGELOG.md
  base/mapl_tree.py
Labels: 0 diff trivial

#1235 Added --repo option to show hierarchy of repos
  base/mapl_tree.py
Labels: 0 diff trivial, Skip Changelog

#1237 Feature/wjiang/get short name work around
  CHANGELOG.md
  CMakeLists.txt
  generic/VarConn.F90
Labels: bug, 0 diff

#1238 Merge develop into main for 2.14.0 release
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  base/MAPL_Profiler.F90
  base/mapl_tree.py
  generic/MAPL_Generic.F90
  generic/VarConn.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/CMakeLists.txt
  pfio/pfio_open_close.F90
  profiler/BaseProfiler.F90
  profiler/CMakeLists.txt
  profiler/MAPL_Profiler.F90
  profiler/MeterNodePtr.F90
  profiler/MeterNodeStack.F90
  profiler/TimeProfiler.F90
  profiler/demo/CMakeLists.txt
  profiler/demo/mpi_demo.F90
  profiler/reporting/AbstractColumn.F90
  profiler/reporting/ColumnVector.F90
  profiler/reporting/ExclusiveColumn.F90
  profiler/reporting/FormattedTextColumn.F90
  profiler/reporting/InclusiveColumn.F90
  profiler/reporting/MaxCycleColumn.F90
  profiler/reporting/MeanCycleColumn.F90
  profiler/reporting/MemoryTextColumn.F90
  profiler/reporting/MinCycleColumn.F90
  profiler/reporting/MultiColumn.F90
  profiler/reporting/NameColumn.F90
  profiler/reporting/NumCyclesColumn.F90
  profiler/reporting/PercentageColumn.F90
  profiler/reporting/ProfileReporter.F90
  profiler/reporting/SeparatorColumn.F90
  profiler/reporting/SimpleColumn.F90
  profiler/reporting/SimpleTextColumn.F90
  profiler/reporting/StdDevColumn.F90
  profiler/reporting/TextColumn.F90
  profiler/reporting/TextColumnVector.F90
  shared/CMakeLists.txt
  shared/DSO_Utilities.F90
  shared/FileSystemUtilities.F90
  shared/MaplShared.F90
  shared/StringUtils.F90
  shared/tests/CMakeLists.txt
  shared/tests/test_DSO_Utilities.pf
  shared/tests/test_FileSystemUtilities.pf
Labels: 0 diff

#1240 Update to ESMA_env 3.8.0 and ESMA_cmake 3.8.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: Non 0-diff, 0 diff

#1245 change some associate block to fix GNU crash
  CHANGELOG.md
  generic/MAPL_Generic.F90
  shared/DSO_Utilities.F90
Labels: 0 diff, bugfix

#1247 Update CHANGELOG and CMakeLists for 2.14.1 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1248 Merge develop onto main for 2.14.1 release
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
  generic/MAPL_Generic.F90
  shared/DSO_Utilities.F90
Labels: 0 diff

#1254 Update to changelog-enforcer 3
  .github/workflows/changelog-enforcer.yml
  CHANGELOG.md
Labels: 0 diff
