Repository GEOS-ESM/MAPL, pull requests merged in 2021-11, with the labels that each got.

#1149 Add find_package calls for GFE libraries
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#1163 Closes #1107. Remove MKL dependencies
  CHANGELOG.md
  Tests/CMakeLists.txt
Labels: 0 diff

#1164 Fixes #951. Adjusted the size for the internal write buffer
  CHANGELOG.md
  base/MAPL_Config.F90
Labels: 0 diff, bugfix

#1134 Fixes #530 NF90 string support
  CHANGELOG.md
  pfio/CMakeLists.txt
  pfio/NetCDF4_FileFormatter.F90
  pfio/NetCDF_Supplement.F90
  pfio/pFIO_Constants.F90
  pfio/pfio_get_att_string.c
Labels: 0 diff

#1168 Update to ESMA_cmake v3.7.0
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#1170 Refactors FLAP and CapOptions
  CHANGELOG.md
  Tests/ExtDataDriver.F90
  Tests/ExtDataDriverMod.F90
  Tests/pfio_MAPL_demo.F90
  base/Base.F90
  base/CMakeLists.txt
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCLI.F90
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/CapOptions.F90
  gridcomps/Cap/FlapCLI.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
  gridcomps/MAPL_GridComps.F90
Labels: 0 diff, refactor

#1172 Removes +/- logic for restarts
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff trivial

#1174 Prepare for 2.12.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1176 Pull Develop into Main for 2.12 Release
  CHANGELOG.md
  CMakeLists.txt
  Tests/CMakeLists.txt
  Tests/ExtDataDriver.F90
  Tests/ExtDataDriverMod.F90
  Tests/pfio_MAPL_demo.F90
  base/Base.F90
  base/CMakeLists.txt
  base/MAPL_CapOptions.F90
  base/MAPL_Config.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_FlapCLI.F90
  components.yaml
  generic/MAPL_Generic.F90
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/CapOptions.F90
  gridcomps/Cap/FlapCLI.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
  gridcomps/MAPL_GridComps.F90
  pfio/CMakeLists.txt
  pfio/NetCDF4_FileFormatter.F90
  pfio/NetCDF_Supplement.F90
  pfio/pFIO_Constants.F90
  pfio/pfio_get_att_string.c
Labels: 0 diff

#1180 Fixes #1065. Added ability to generate monthly checkpoint files.
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: new feature, 0 diff

#1182 Update to ESMA_env v3.6.0, ESMA_cmake v3.7.1
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#1179 Cleans up FLAP refactoring for MAPL V3.0
  .circleci/config.yml
  CHANGELOG.md
  Tests/ExtDataDriver.F90
  Tests/pfio_MAPL_demo.F90
  gridcomps/Cap/CapOptions.F90
  gridcomps/Cap/FlapCLI.F90
Labels: 0 diff, MAPL3

#1185 Update to ESMA_cmake v3.7.2
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#1189 Fixes #1186 - cmake version logic.
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial, bugfix

#1191 Handmerge main into develop - 2021-Nov-09
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#1197 Removes MAPL_IO dependency from CubedSphere and LatLon GridFactories
  CHANGELOG.md
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_LatLonGridFactory.F90
Labels: 0 diff

#1203 new synthetic data option in ExtDataDriver.x
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
Labels: new feature, 0 diff

#1206 Fixes #1205. Make AddChildFromDSO OS agnostic
  CHANGELOG.md
  generic/MAPL_Generic.F90
  shared/CMakeLists.txt
  shared/StringUtils.F90
Labels: 0 diff
