Repository GEOS-ESM/MAPL, pull requests merged in 2021-09, with the labels that each got.

#1010 Bugfix/atrayano/#486 no read or write empty
  CHANGELOG.md
  base/MAPL_Generic.F90
Labels: 0 diff, bugfix

#1013 Adds missing recursive declaration. Closes #1012
  CHANGELOG.md
  base/MAPL_Generic.F90
Labels: 0 diff trivial, bugfix

#1017 Handmerge main to develop
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_Generic.F90
Labels: 0 diff

#1021 Apply shave bit to tile space for histroy output
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/DownBit.F90
Labels: new feature, Non 0-diff

#1024 Update CHANGELOG and CMake for 2.8.6 Release
  .github/workflows/release-tarball.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1029 Feature/bmauer/#942 checkpoint positive handling
  CHANGELOG.md
  base/MAPL_IO.F90
  generic/MAPL_Generic.F90
Labels: new feature, 0 diff

#1033 Add GEOSldas CI Build Tests to MAPL
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1031 Refactors remaining ExtData Modules
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  README.md
  base/Base.F90
  base/CMakeLists.txt
  base/tests/CMakeLists.txt
  gridcomps/ExtData/CMakeLists.txt
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData/ExtData_IOBundleMod.F90
  gridcomps/ExtData/ExtData_IOBundleVectorMod.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  griddedio/CMakeLists.txt
  griddedio/DataCollection.F90
  griddedio/DataCollectionManager.F90
  griddedio/FieldBundleRead.F90
  griddedio/FieldBundleWrite.F90
  griddedio/GriddedIO.F90
  griddedio/GriddedIOitem.F90
  griddedio/Regrid_Util.F90
Labels: 0 diff structural

#1036 Closes #1034. Cleans up redundant CircleCI code
  .circleci/config.yml
Labels: 0 diff trivial

#1039 Closes #1032. Fix logging error with FLIPPED AttributeGet
  CHANGELOG.md
  base/MAPL_IO.F90
Labels: 0 diff

#1042 Update LICENSE to Apache, other license changes
  COPYRIGHT
  LICENSE
  LICENSE-NOSA
  README.md
Labels: documentation, 0 diff trivial

#1041 add options to regrid to regional lat-lon grid in Regrid_Util.x
  CHANGELOG.md
  griddedio/Regrid_Util.F90
Labels: new feature, 0 diff

#1038 Bugfix/atrayno/#338 enf of file gfortran bug
  CHANGELOG.md
  base/MAPL_IO.F90
Labels: 0 diff, bugfix

#1051 Add scc badges
  CHANGELOG.md
  README.md
Labels: documentation, 0 diff trivial

#1053 Update to ESMA_cmake 3.5.7, ESMA_env 3.3.1
  CHANGELOG.md
  components.yaml
Labels: 0 diff trivial

#1055 Refactors MAPL_IO to separate Binary and NetCDF subroutines.
  CHANGELOG.md
  base/BinIO.F90
  base/CMakeLists.txt
  base/FileIOShared.F90
  base/MAPL_IO.F90
  base/NCIO.F90
Labels: 0 diff structural, refactor

#1057 Fixes #1032...again.
  base/NCIO.F90
Labels: 0 diff, Skip Changelog
