Repository GEOS-ESM/MAPL, pull requests merged in 2021-10, with the labels that each got.

#1082 Fixes #1064. Fixed error related to NewSeg logic
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff, bugfix

#1086 Handmerge main to develop 2021-Oct-15
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#1103 Prepare for 2.9.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1153 Bugfix for cubed-sphere factory equality
  CHANGELOG.md
  base/MAPL_CubedSphereGridFactory.F90
Labels: 0 diff, bugfix
