Repository GEOS-ESM/MAPL, pull requests merged in 2021-05, with the labels that each got.

#825 Fix perpetual year timers
  CHANGELOG.md
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 diff, bugfix

#828 Update CircleCI to use xlarge
  .circleci/config.yml
Labels: 0 diff trivial, Skip Changelog

#832 Changes for GEOSgcmPert.x
  CHANGELOG.md
  MAPL_cfio/ESMF_CFIOSdfMod.F90
  MAPL_cfio/ESMF_CFIOUtilMod.F90
  base/MAPL_Base.F90
  base/MAPL_Mod.F90
Labels: 0 diff, bug

#834 Feature/bmauer/#833 getresource
  CHANGELOG.md
  base/MAPL_Generic.F90
Labels: 0 diff, enhancement

#826 add RC
  CHANGELOG.md
  base/ApplicationSupport.F90
Labels: 0 diff trivial, bug

#838 Use large resource at CircleCI
  .circleci/config.yml
Labels: 0 diff trivial

#839 Prepare CHANGELOG and version for MAPL 2.6.7 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#841 re-organize
  CHANGELOG.md
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
Labels: 0 diff

#840 Update components and CI in MAPL
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#842 Merge develop into main for MAPL release
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  MAPL_cfio/ESMF_CFIOSdfMod.F90
  MAPL_cfio/ESMF_CFIOUtilMod.F90
  base/MAPL_Base.F90
  base/MAPL_Generic.F90
  base/MAPL_Mod.F90
  base/MAPL_sun_uc.F90
  components.yaml
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
Labels: 0 diff

#843 conditional finding pflogger
  CHANGELOG.md
  generic/CMakeLists.txt
Labels: 0 diff trivial, bug

#845 move down adding pflogger stub in case no pflogger is built
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial, bug

#844 Gitflow: Main to Develop
  CHANGELOG.md
  CMakeLists.txt
  generic/CMakeLists.txt
Labels: 0 diff

#847 add pfio demo for MAPL Flap users
  CHANGELOG.md
  Tests/CMakeLists.txt
  Tests/pfio_MAPL_demo.F90
Labels: 0 diff

#852 Fixes #851. This fixes a bug in MAPL_Shmem layer causing infinite loo…
  CHANGELOG.md
  shared/MAPL_ShmemMod.F90
Labels: 0 diff, bugfix

#849 fix pfio_MAPL_demo
  CHANGELOG.md
  Tests/pfio_MAPL_demo.F90
Labels: 0 diff

#853 Update gitignore for mepo update
  .gitignore
Labels: 0 diff trivial

#856 Handmerge main into develop
  CHANGELOG.md
  shared/MAPL_ShmemMod.F90
Labels: 0 diff

#785 Feature/tclune/fortran submodules
  CHANGELOG.md
  base/Base/Base.F90
  base/Base/Base_implementation.F90
  base/CMakeLists.txt
  base/MAPL_Base.F90
  shared/CMakeLists.txt
  shared/Enumerators.F90
  shared/Interp/Interp.F90
  shared/Interp/Interp_implementation.F90
  shared/MAPL_InterpMod.F90
  shared/Shmem/Shmem.F90
  shared/Shmem/Shmem_implementation.F90
Labels: 0 diff

#859 Handmerge of main into develop
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff

#860 Merge develop into main for MAPL 2.6.8 Release
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  Tests/CMakeLists.txt
  Tests/pfio_MAPL_demo.F90
  base/Base/Base.F90
  base/Base/Base_implementation.F90
  base/CMakeLists.txt
  base/MAPL_Base.F90
  shared/CMakeLists.txt
  shared/Enumerators.F90
  shared/Interp/Interp.F90
  shared/Interp/Interp_implementation.F90
  shared/MAPL_InterpMod.F90
  shared/Shmem/Shmem.F90
  shared/Shmem/Shmem_implementation.F90
Labels: 0 diff

#846 change FlapCapOptions to FlapCLI
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriver.F90
  Tests/pfio_MAPL_demo.F90
  base/CMakeLists.txt
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCLI.F90
  base/MAPL_Mod.F90
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff

#863 Merge Develop Into Main for 2.7.0 Release
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriver.F90
  Tests/pfio_MAPL_demo.F90
  base/CMakeLists.txt
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCLI.F90
  base/MAPL_Mod.F90
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff

#868 Fixes to allow MAPL to build with any mepo style (and advance CMake Minimum)
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
Labels: 0 diff, bugfix

#867 Minor update to Regrid_Util.x and FieldBundleRead
  CHANGELOG.md
  base/FieldBundleRead.F90
  base/Regrid_Util.F90
Labels: 0 diff, enhancement
