Repository GEOS-ESM/MAPL, pull requests merged in 2021-01, with the labels that each got.

#625 Feature/wjiang/mapl shared lib
  CHANGELOG.md
  MAPL/CMakeLists.txt
  MAPL_cfio/CMakeLists.txt
  base/CMakeLists.txt
  base/MAPL_Generic.F90
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  pfio/CMakeLists.txt
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 diff

#649 Update components.yaml
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff trivial

#656 Merge Develop into Main for 2.5.0 Release
  .circleci/config.yml
  .github/workflows/changelog-enforcer.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL/MAPL.F90
  MAPL_cfio/CMakeLists.txt
  README.md
  base/CMakeLists.txt
  base/HorizontalFluxRegridder.F90
  base/MAPL_AbstractRegridder.F90
  base/MAPL_Base.F90
  base/MAPL_CFIO.F90
  base/MAPL_CapOptions.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_EsmfRegridder.F90
  base/MAPL_ExtDataGridCompMod.F90
  base/MAPL_ExtData_IOBundleMod.F90
  base/MAPL_ExternalGridFactory.F90
  base/MAPL_FlapCapOptions.F90
  base/MAPL_Generic.F90
  base/MAPL_GetLatLonCoord.F90
  base/MAPL_GridManager.F90
  base/MAPL_HistoryGridComp.F90
  base/MAPL_IO.F90
  base/MAPL_IdentityRegridder.F90
  base/MAPL_LatLonGridFactory.F90
  base/MAPL_LatLonToLatLonRegridder.F90
  base/MAPL_LlcGridFactory.F90
  base/MAPL_Mod.F90
  base/MAPL_RegridderManager.F90
  base/MAPL_RegridderSpec.F90
  base/MAPL_RegridderTypeSpecRegridderMap.F90
  base/MAPL_TilingRegridder.F90
  base/MAPL_TransposeRegridder.F90
  base/MAPL_newCFIO.F90
  base/NewRegridderManager.F90
  base/RegridMethods.F90
  base/Regrid_Util.F90
  base/RegridderSpec.F90
  base/RegridderSpecRouteHandleMap.F90
  base/RegridderTypeSpec.F90
  base/ServerManager.F90
  base/cub2latlon_regridder.F90
  base/tests/MockRegridder.F90
  components.yaml
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
  gridcomps/MAPL_GridComps.F90
  include/CMakeLists.txt
  pfio/CMakeLists.txt
  pfio/NetCDF4_FileFormatter.F90
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 diff, Skip Changelog

#657 Update changelog and version for 2.5.0 release [skip ci]
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#658 Merge main into develop [skip ci]
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#664 Add CODE_OF_CONDUCT.md [skip ci]
  CODE_OF_CONDUCT.md
Labels: 0 diff trivial, documentation

#662 Feature/wjiang/frontend backend distribution
  CHANGELOG.md
  pfio/MultiGroupServer.F90
  shared/CommGroupDescription.F90
  shared/SimpleCommSplitter.F90
Labels: 0 diff

#667 Add missing declaration statement.
  base/MAPL_Generic.F90
Labels: 0 diff trivial, bugfix

#669 Fixes to allow forked PRs to pass CI
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff

#672 Handmerge main into develop for code of conduct [skip ci]
  CODE_OF_CONDUCT.md
Labels: 0 diff trivial, documentation

#671 Merge main into develop (get Code of Conduct) [skip ci]
  CODE_OF_CONDUCT.md
Labels: 0 diff trivial

#675 add option that waits before using oserver
  CHANGELOG.md
  base/MAPL_CapOptions.F90
  base/MAPL_FlapCapOptions.F90
  base/MAPL_HistoryGridComp.F90
  base/MAPL_IO.F90
  base/ServerManager.F90
  gridcomps/Cap/MAPL_Cap.F90
  pfio/CMakeLists.txt
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/ClientThreadVector.F90
  pfio/FastClientThread.F90
Labels: 0 diff, enhancement

#659 Do not run Github CI if unimportant files change
  .github/workflows/workflow.yml
Labels: 0 diff trivial

#676 Move print to ASSERT
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff trivial
