Repository GEOS-ESM/MAPL, pull requests merged in 2022-10, with the labels that each got.

#1691 Handmerge develop into MAPL3 2022-Sep-28
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataRoot_GridComp.F90
  base/Base/Base_Base_implementation.F90
  base/ESMFL_Mod.F90
  base/GetPointer.H
  base/HorizontalFluxRegridder.F90
  base/MAPL_CFIO.F90
  base/MAPL_Config.F90
  base/MAPL_EtaHybridVerticalCoordinate.F90
  base/MAPL_LocStreamMod.F90
  base/MAPL_Profiler.F90
  base/MAPL_SimpleBundleMod.F90
  base/MAPL_TripolarGridFactory.F90
  base/MaplGrid.F90
  base/NCIO.F90
  base/NewRegridderManager.F90
  base/cub2latlon_regridder.F90
  base/tests/ut_ExtData.F90
  generic/AbstractComponent.F90
  generic/AbstractComposite.F90
  generic/BaseFrameworkComponent.F90
  generic/CMakeLists.txt
  generic/CompositeComponent.F90
  generic/ConcreteComposite.F90
  generic/DecoratorComponent.F90
  generic/EntryPointVector.F90
  generic/MAPL_Generic.F90
  generic/MaplComponent.F90
  generic/MaplGenericComponent.F90
  generic/OpenMP_Support.F90
  generic/RunEntryPoint.F90
  generic/SetServicesWrapper.F90
  gridcomps/Cap/FlapCLI.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataMasking.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/TimeStringConversion.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/Orbit/MAPL_OrbGridCompMod.F90
  griddedio/FieldBundleRead.F90
  griddedio/FieldBundleWrite.F90
  griddedio/GriddedIO.F90
  profiler/AdvancedMeter.F90
  profiler/BaseProfiler.F90
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
  shared/Constants/InternalConstants.F90
  shared/ErrorHandling.F90
  shared/MAPL_Throw.F90
Labels: 0 diff, Skip Changelog, MAPL3

#1699 Feature/aoloso/hybrid openmp
  CHANGELOG.md
  MAPL/MAPL.F90
  generic/MAPL_Generic.F90
  generic/MaplGenericComponent.F90
  generic/OpenMP_Support.F90
Labels: 0 diff trivial

#1629 Feature/wdboggs/timeformat iso8601
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_ISO8601_DateTime_ESMF.F90
  base/TimeStringConversion.F90
  base/tests/CMakeLists.txt
  base/tests/test_TimeStringConversion.pf
  gridcomps/ExtData2G/CMakeLists.txt
  shared/CMakeLists.txt
  shared/MAPL_ISO8601_DateTime.F90
  shared/tests/CMakeLists.txt
  shared/tests/test_MAPL_ISO8601_DateTime.pf
Labels: new feature, 0 diff trivial

#1696 Feature/bmauer/fixes #1682
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataMasking.F90
  pfio/StringVectorUtil.F90
  pfio/pFIO.F90
Labels: new feature, 0 diff

#1704 Prepare develop for MAPL 2.27.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#1683 add all exports from a direct child
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff

#1689 Various intermediate bits of progress on "specs".
  generic3g/CMakeLists.txt
  generic3g/ChildComponent.F90
  generic3g/ComponentBuilder.F90
  generic3g/ComponentSpecParser.F90
  generic3g/GenericCouplerComponent.F90
  generic3g/GenericGridComp.F90
  generic3g/InnerMetaComponent.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_addChild_smod.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/registry/CMakeLists.txt
  generic3g/registry/ComponentRegistry.F90
  generic3g/registry/ConnPtStateItemSpecMap.F90
  generic3g/registry/FieldRegistry.F90
  generic3g/registry/ItemSpecRegistry.F90
  generic3g/registry/PointExtensionsRegistry.F90
  generic3g/specs/AbstractStateItemSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ChildSpecMap.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/ConnectionPoint.F90
  generic3g/specs/ConnectionPointVector.F90
  generic3g/specs/ConnectionSpec.F90
  generic3g/specs/ConnectionSpecVector.F90
  generic3g/specs/DimSpecVector.F90
  generic3g/specs/ExtraDimsSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/RelativeConnectionPoint.F90
  generic3g/specs/ServiceProviderSpec.F90
  generic3g/specs/ServiceRequesterSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/UngriddedDimSpec.F90
  generic3g/specs/VerticalDimSpec.F90
  generic3g/specs/VerticalStaggerLoc.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_ComponentSpecParser.pf
  generic3g/tests/Test_GenericInitialize.pf
  generic3g/tests/Test_Traverse.pf
  include/MAPL_Generic.h
  include/MAPL_private_state.h
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#1709 Fixes #1678. Added parentGC argument to the call MAPL_AddChildFromDSO…
  CHANGELOG.md
  CMakeLists.txt
  generic/MAPL_Generic.F90
Labels: 0 diff, bugfix

#1715 Fixes #1694. Remove URLs from MAPL
  CHANGELOG.md
  MAPL_cfio/examples/benchmark_sdf.F90
  MAPL_cfio/examples/testw2.f90
  MAPL_cfio/examples/testw3.f90
  MAPL_cfio/examples/testw_ex1.f90
  MAPL_cfio/examples/testw_ex2.f90
  MAPL_cfio/examples/testw_ex3.f90
  MAPL_cfio/examples/testw_ex4.f90
  MAPL_cfio/examples/testw_ex5.f90
  MAPL_cfio/examples/testw_st.f90
  base/mapl_tree.py
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#1714 Create dependabot.yml
  .github/dependabot.yml
Labels: 0 diff trivial

#1728 Update dependabot to target develop
  .github/dependabot.yml
Labels: 0 diff trivial, Skip Changelog, github_actions

#1697 Feature/bmauer/complete tripolar grid factory
  CHANGELOG.md
  base/MAPL_GridManager.F90
  base/MAPL_TripolarGridFactory.F90
  griddedio/Regrid_Util.F90
  pfio/FileMetadata.F90
  pfio/NetCDF4_FileFormatter.F90
Labels: new feature, 0 diff

#1693 Reorganize PFIO Standalone
  CHANGELOG.md
  Tests/pfio_MAPL_demo.F90
Labels: 0 diff, refactor

#1736 Fixes #1687. Stretched Grid checkpoint attributes should be in degrees
  CHANGELOG.md
  base/NCIO.F90
Labels: 0 diff

#1724 Build Docker container on release
  .circleci/config.yml
  .docker/Dockerfile
  .github/workflows/trigger-circleci-pipeline-on-release.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#1741 GitFlow: Merge Develop into Main for 2.28 Release
  .circleci/config.yml
  .docker/Dockerfile
  .github/workflows/trigger-circleci-pipeline-on-release.yml
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  CMakeLists.txt
  MAPL_cfio/examples/benchmark_sdf.F90
  MAPL_cfio/examples/testw2.f90
  MAPL_cfio/examples/testw3.f90
  MAPL_cfio/examples/testw_ex1.f90
  MAPL_cfio/examples/testw_ex2.f90
  MAPL_cfio/examples/testw_ex3.f90
  MAPL_cfio/examples/testw_ex4.f90
  MAPL_cfio/examples/testw_ex5.f90
  MAPL_cfio/examples/testw_st.f90
  Tests/pfio_MAPL_demo.F90
  base/MAPL_GridManager.F90
  base/MAPL_TripolarGridFactory.F90
  base/NCIO.F90
  base/mapl_tree.py
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/Regrid_Util.F90
  pfio/FileMetadata.F90
  pfio/NetCDF4_FileFormatter.F90
Labels: 0 diff

#1743 Update error codes to match _FAILURE macro
  CHANGELOG.md
  shared/MAPL_ErrorHandling.F90
Labels: 0 diff, bugfix

#1749 Add Coupled GCM run
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1748 Fixes #1695. Fix build failure with macOS and Intel
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#1732 Merging latest development - just to keep things in sync. Should not impact any CI.
  generic3g/CMakeLists.txt
  generic3g/ChildComponent.F90
  generic3g/ChildComponent_run_smod.F90
  generic3g/ComponentSpecParser.F90
  generic3g/Generic3g.F90
  generic3g/GenericConfig.F90
  generic3g/GenericGridComp.F90
  generic3g/MAPL_Generic.F90
  generic3g/MaplGridCompFactory.F90
  generic3g/MethodPhasesMap.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_addChild_smod.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/UserSetServices.F90
  generic3g/Validation.F90
  generic3g/registry/CMakeLists.txt
  generic3g/registry/ConnPtStateItemPtrMap.F90
  generic3g/registry/FieldRegistry.F90
  generic3g/registry/StateItemSpecPtr.F90
  generic3g/registry/StateItemVector.F90
  generic3g/specs/AbstractActionSpec.F90
  generic3g/specs/AbstractStateItemSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/ConnectionPoint.F90
  generic3g/specs/ConnectionSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/RelativeConnectionPoint.F90
  generic3g/specs/StateSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_ConnectionPoint.pf
  generic3g/tests/Test_FieldRegistry.pf
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  generic3g/tests/Test_Traverse.pf
Labels: new feature, 0 diff structural, Skip Changelog, MAPL3

#1761 Add ability to pass extra arguments to FLAP
  CHANGELOG.md
  gridcomps/Cap/FlapCLI.F90
Labels: 0 diff

#1760 Fixes #1194. Fix return macros
  CHANGELOG.md
  base/cub2latlon_regridder.F90
  base/tests/mapl_bundleio_test.F90
  include/CMakeLists.txt
  include/MAPL_ErrLog.h
Labels: 0 diff

#1763 Handmerge develop into release/MAPL-v3 2022-Oct-27
  CHANGELOG.md
  base/cub2latlon_regridder.F90
  base/tests/mapl_bundleio_test.F90
  gridcomps/Cap/FlapCLI.F90
  include/CMakeLists.txt
  include/MAPL_ErrLog.h
Labels: 0 diff

#1764 Feature/bmauer/fixes/#1759
  CHANGELOG.md
  base/Base.F90
  base/FileMetadataUtilities.F90
  base/MAPL_VerticalMethods.F90
  griddedio/FieldBundleWrite.F90
  griddedio/Regrid_Util.F90
Labels: new feature, 0 diff

#1767 Update to ESMA_cmake v3.19.0 and ESMA_env v4.5.0
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#1769 Prepare for MAPL 2.29.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1770 GitFlow: Merge Develop into Main for 2.29 Release
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
  base/Base.F90
  base/FileMetadataUtilities.F90
  base/MAPL_VerticalMethods.F90
  base/NCIO.F90
  base/cub2latlon_regridder.F90
  base/tests/mapl_bundleio_test.F90
  components.yaml
  gridcomps/Cap/FlapCLI.F90
  griddedio/FieldBundleWrite.F90
  griddedio/Regrid_Util.F90
  include/CMakeLists.txt
  include/MAPL_ErrLog.h
Labels: 0 diff
