Repository GEOS-ESM/MAPL, pull requests merged in 2022-02, with the labels that each got.

#1325 Fixes #1282. Make History metadata configurable
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#1333 Feature/wjiang/fix io profiler width
  CHANGELOG.md
  pfio/AbstractServer.F90
Labels: 0 diff trivial

#1336 Update ESMA_cmake and ecbuild
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#1335 fixed profiler dependency on new gftl-v2
  CHANGELOG.md
  CMakeLists.txt
  generic/CMakeLists.txt
  profiler/CMakeLists.txt
Labels: 0 diff trivial, 0 diff, bugfix

#1345 Add option to make time an integer variable if needed for backwards c…
  CHANGELOG.md
  base/MAPL_TimeMethods.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: new feature, 0 diff

#975 Enable GEOSadas CI Build (ifort only)
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1352 add mapL_stubcomponent to the top level MAPL package
  CHANGELOG.md
  MAPL/MAPL.F90
Labels: new feature, 0 diff

#1347 Add like-UFS CI build
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1361 Update for GEOSadas CI
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial, Skip Changelog

#1366 Hotfix: Fix attributes to match FP
  CHANGELOG.md
  CMakeLists.txt
  Tests/pfio_MAPL_demo.F90
  base/MAPL_VerticalMethods.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff structural, 0 diff

#1373 GitFlow: Handmerge main into develop 2022-Feb-16
  CHANGELOG.md
  CMakeLists.txt
  Tests/pfio_MAPL_demo.F90
  base/MAPL_VerticalMethods.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#1359 New generic set_services is now in place with the legacy interface being
  CHANGELOG.md
  base/ApplicationSupport.F90
  base/MAPL_MemUtils.F90
  generic/CMakeLists.txt
  generic/MAPL_Generic.F90
  generic/SetServicesWrapper.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  profiler/BaseProfiler.F90
Labels: new feature, 0 diff, MAPL3

#1362 Added new gauge for memory profiling.
  CHANGELOG.md
  base/ApplicationSupport.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  profiler/CMakeLists.txt
  profiler/MAPL_Profiler.F90
  profiler/MallocGauge.F90
  profiler/MemoryProfiler.F90
  profiler/TimeProfiler.F90
  profiler/reporting/MemoryTextColumn.F90
Labels: new feature, 0 diff

#1381 Fixes 1379. Limited the duration of the clock
  CHANGELOG.md
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 diff, bugfix

#1364 Fixes #1363. The main change to create a copy of the exports, so we c…
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#1387 Merge release/2.18.0 branch into main for release
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
  CMakePresets.json
  MAPL/MAPL.F90
  base/Base/Base_Base_implementation.F90
  base/MAPL_MemUtils.F90
  base/MAPL_TimeMethods.F90
  components.yaml
  generic/MAPL_Generic.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/AbstractServer.F90
Labels: 0 diff

#1392 Revert "Added new gauge for memory profiling."
  CHANGELOG.md
  base/ApplicationSupport.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  profiler/CMakeLists.txt
  profiler/MAPL_Profiler.F90
  profiler/MallocGauge.F90
  profiler/MemoryProfiler.F90
  profiler/TimeProfiler.F90
  profiler/reporting/MemoryTextColumn.F90
Labels: 0 diff

#1394 Reverts the changes from PR #1359
  CHANGELOG.md
  base/ApplicationSupport.F90
  base/MAPL_MemUtils.F90
  generic/CMakeLists.txt
  generic/MAPL_Generic.F90
  generic/SetServicesWrapper.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  profiler/BaseProfiler.F90
Labels: 0 diff

#1383 Fixes #1382. Update NRL solar table read code
  CHANGELOG.md
  base/MAPL_sun_uc.F90
  include/MAPL_ErrLog.h
Labels: 0 diff

#1397 Feature/unreverted generic setservices
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  base/ApplicationSupport.F90
  base/MAPL_MemUtils.F90
  generic/CMakeLists.txt
  generic/MAPL_Generic.F90
  generic/SetServicesWrapper.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  profiler/BaseProfiler.F90
  profiler/CMakeLists.txt
  profiler/MAPL_Profiler.F90
  profiler/MallocGauge.F90
  profiler/MemoryProfiler.F90
  profiler/TimeProfiler.F90
  profiler/reporting/MemoryTextColumn.F90
Labels: 0 diff, Skip Changelog

#1398 Expose new MAPL field bundle subroutines via "use MAPL"
  CHANGELOG.md
  MAPL/MAPL.F90
Labels: new feature, 0 diff
