Repository GEOS-ESM/MAPL, pull requests merged in 2022-07, with the labels that each got.

#1587 Update develop branch to use ESMA_env v4.2.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
Labels: new feature, 0 diff

#1590 Merge develop into main for 2.23.0 Release
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
Labels: 0 diff

#1591 Handmerge develop into MAPL3 - 2022-Jul-06
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
Labels: 0 diff

#1593 Fix GitHub Actions issue
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff

#1599 Add tutorials to MAPL CI
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1604 Hand merge main into develop 2022-Jul-15
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#1608 Fix multiple history issues
  CHANGELOG.md
  base/MAPL_VerticalMethods.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/GriddedIO.F90
Labels: new feature, 0 diff

#1610 just some cleanup of ExtData2G
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: 0 diff trivial, 0 diff, refactor
