Repository GEOS-ESM/MAPL, pull requests merged in 2022-12, with the labels that each got.

#1797 Feature/bmauer/fixes #1789
  .circleci/config.yml
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  Tests/ExtData_Testing_Framework/run_extdata.cmake
  Tests/ExtData_Testing_Framework/test_cases/case18/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case18/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case22/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case22/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case22/CAP3.rc
  Tests/ExtData_Testing_Framework/test_cases/case23/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case23/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case23/CAP3.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/AGCM3.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/AGCM4.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP3.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP4.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/HISTORY3.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/HISTORY4.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/README
  Tests/ExtData_Testing_Framework/test_cases/case27/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_1g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  base/Base.F90
  base/CMakeLists.txt
  base/ESMFL_Mod.F90
  base/FieldUtilities.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
  gridcomps/ExtData2G/ExtDataConstants.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataNode.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
Labels: new feature, 0 diff

#1840 Move to use GitHub Action for Label Enforcement
  .github/workflows/enforce-labels.yml
  CHANGELOG.md
Labels: 0 diff

#1841 Handmerge develop into MAPL3 2022-Dec-01
  .circleci/config.yml
  .github/workflows/enforce-labels.yml
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  Tests/ExtData_Testing_Framework/run_extdata.cmake
  Tests/ExtData_Testing_Framework/test_cases/case18/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case18/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case22/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case22/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case22/CAP3.rc
  Tests/ExtData_Testing_Framework/test_cases/case23/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case23/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case23/CAP3.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/AGCM3.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/AGCM4.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP3.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP4.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/HISTORY3.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/HISTORY4.rc
  Tests/ExtData_Testing_Framework/test_cases/case27/README
  Tests/ExtData_Testing_Framework/test_cases/case27/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_1g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  base/Base.F90
  base/CMakeLists.txt
  base/ESMFL_Mod.F90
  base/FieldUtilities.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
  gridcomps/ExtData2G/ExtDataConstants.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataNode.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
Labels: automatic

#1838 add 4d integer reading subroutine to formatter
  CHANGELOG.md
  pfio/NetCDF4_FileFormatter.F90
Labels: 0 diff trivial, 0 diff

#1758 Fixes #1756. Add fArgParse CLI parser
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  Tests/CMakeLists.txt
  Tests/MAPL_demo_fargparse.F90
  base/tests/test_sort.pf
  components.yaml
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/CapOptions.F90
  gridcomps/Cap/FargparseCLI.F90
  gridcomps/MAPL_GridComps.F90
Labels: 0 diff

#1849 Fixes #1846
  CHANGELOG.md
  Tests/ExtData_Testing_Framework/test_cases/case17/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/README
  Tests/ExtData_Testing_Framework/test_cases/case17/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case17/extdata_2d.yaml
  Tests/ExtData_Testing_Framework/test_cases/case17/extdata_3d.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
  gridcomps/ExtData2G/ExtDataYamlNodeWrapper.F90
Labels: 0 diff, bugfix

#1850 Fixes #1847
  CHANGELOG.md
  tutorial/grid_comps/parent_with_no_children/ParentNoChildren_GridComp.F90
Labels: 0 diff, bugfix

#1852 Prepare for 2.33 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1854 GitFlow: Merge Develop into Main for 2.33 Release
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtData_Testing_Framework/test_cases/case17/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case17/README
  Tests/ExtData_Testing_Framework/test_cases/case17/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case17/extdata_2d.yaml
  Tests/ExtData_Testing_Framework/test_cases/case17/extdata_3d.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
  gridcomps/ExtData2G/ExtDataYamlNodeWrapper.F90
  tutorial/grid_comps/parent_with_no_children/ParentNoChildren_GridComp.F90
Labels: 0 diff

#1859 Feature/aoloso/merge v10.23.0 mstrf gwd hybrid
  CHANGELOG.md
  MAPL/MAPL.F90
Labels: 0 diff trivial

#1862 Update Label Enforcer and Changelog Enforcer for Dependabot
  .github/workflows/changelog-enforcer.yml
  .github/workflows/enforce-labels.yml
Labels: github_actions

#1857 Enforce ESMF version
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#1870 fixes #1869
  CHANGELOG.md
  base/CFIOCollection.F90
Labels: 0 diff, bugfix

#1875 Fixes #1874. This fixes the convention for naming the split field nam…
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
Labels: 0 diff

#1879 Reduce number of CI tests
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff

#1881 Feature/wdboggs/extend star long name
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: new feature, 0 diff trivial, high priority

#1868 Implement HierarchicalRegistry
  generic3g/CMakeLists.txt
  generic3g/ChildComponent.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/connection_pt/ActualConnectionPt.F90
  generic3g/connection_pt/CMakeLists.txt
  generic3g/connection_pt/VirtualConnectionPt.F90
  generic3g/registry/AbstractRegistry.F90
  generic3g/registry/ActualPtSpecPtrMap.F90
  generic3g/registry/ActualPtVec_Map.F90
  generic3g/registry/ActualPtVector.F90
  generic3g/registry/CMakeLists.txt
  generic3g/registry/ConnPtStateItemSpecMap.F90
  generic3g/registry/FieldRegistry.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/registry/ItemSpecRegistry.F90
  generic3g/registry/RelConnPtStateItemPtrMap.F90
  generic3g/registry/VirtualPtStateItemPtrMap.F90
  generic3g/registry/VirtualPtStateItemSpecMap.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/ConnectionPoint.F90
  generic3g/specs/ConnectionPointVector.F90
  generic3g/specs/ConnectionPt.F90
  generic3g/specs/ConnectionPtVector.F90
  generic3g/specs/ConnectionSpec.F90
  generic3g/specs/RelativeConnectionPoint.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/MockUserGridComp.F90
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_ComponentSpecParser.pf
  generic3g/tests/Test_ConnectionPt.pf
  generic3g/tests/Test_FieldRegistry.pf
  generic3g/tests/Test_HierarchicalRegistry.pf
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_VirtualConnectionPt.pf
  generic3g/tests/gridcomps/SimpleLeafGridComp.F90
  generic3g/tests/gridcomps/SimpleParentGridComp.F90
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#1871 Add stricter debugging flags when building MAPL as Debug
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
Labels: 0 diff
