Repository GEOS-ESM/MAPL, pull requests merged in 2022-08, with the labels that each got.

#1615 Fix error trapping in BundleIO test
  CHANGELOG.md
  base/tests/mapl_bundleio_test.F90
Labels: 0 diff trivial

#1617 Handmerge develop into MAPL3 2022-Aug-02
  CHANGELOG.md
  base/tests/mapl_bundleio_test.F90
Labels: 0 diff trivial, MAPL3

#1622 Fixes #1621
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: new feature, 0 diff

#1624 Update CHANGELOG and CMakeLists for 2.24.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1628 Fixes #1564. Remove latlon basic constructor
  CHANGELOG.md
  base/MAPL_LatLonGridFactory.F90
Labels: 0 diff

#1631 Feature/bmauer/fixes #1620
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/AddHistCollectionMessage.F90
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/HistoryCollection.F90
  pfio/NetCDF4_FileFormatter.F90
  pfio/ServerThread.F90
  pfio/pFIO_Constants.F90
Labels: new feature, 0 diff

#1638 Fixes #1637
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
  pfio/HistoryCollection.F90
  pfio/ServerThread.F90
Labels: 0 diff, bugfix

#1645 Update to ESMA_env 4.4.0 (Intel 2022.1, TOSS4) and ESMA_cmake v3.18.0
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#1647 Fix bug setting target stretched grid lat/lon from restart file
  CHANGELOG.md
  base/MAPL_CubedSphereGridFactory.F90
Labels: bug, 0 diff

#1644 Feature/wjiang/more on filemeta
  CHANGELOG.md
  pfio/FileMetadata.F90
Labels: 0 diff
