Repository GEOS-ESM/MAPL, pull requests merged in 2022-04, with the labels that each got.

#1467 Add missing rc=status
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff

#1469 Fixes #1455. Added support for 4d variables except in coupler's readR…
  CHANGELOG.md
  generic/GenericCplComp.F90
Labels: new feature, 0 diff

#1471 Fix typo in mapl_tree.py
  base/mapl_tree.py
Labels: 0 diff trivial, Skip Changelog

#1475 ExtData2G updates, bugs fixes and multiple filestream feature.
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  base/MAPL_NewArthParser.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataMasking.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
  gridcomps/ExtData2G/TimeStringConversion.F90
Labels: bug, new feature, 0 diff

#1480 remove one redundant get_file_extension call
  CHANGELOG.md
  shared/DSO_Utilities.F90
Labels: 0 diff, bugfix

#1482 Handmerge develop into MAPL3 2022-Apr-18
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  base/MAPL_NewArthParser.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataMasking.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
  gridcomps/ExtData2G/TimeStringConversion.F90
  shared/DSO_Utilities.F90
Labels: 0 diff

#1484 Fixes #1483. Fixed the rank of variable declaration
  CHANGELOG.md
  generic/GenericCplComp.F90
Labels: 0 diff, bugfix

#1481 Prepare for 2.20.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#1339 more infomation if get_var fails
  pfio/NetCDF4_get_var.H
Labels: 0 diff trivial, Skip Changelog, long term

#1486 Merge develop into main for 2.20.0 release
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  base/MAPL_NewArthParser.F90
  base/mapl_tree.py
  cmake/mapl_acg.cmake
  components.yaml
  generic/GenericCplComp.F90
  generic/MAPL_Generic.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataMasking.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
  gridcomps/ExtData2G/TimeStringConversion.F90
  pfio/NetCDF4_get_var.H
  shared/DSO_Utilities.F90
Labels: 0 diff

#1488 Feature/bmauer/#1474 new yafyaml interface
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  components.yaml
  generic3g/CMakeLists.txt
  generic3g/ChildComponent.F90
  generic3g/ChildComponentMap.F90
  generic3g/ChildComponent_run_smod.F90
  generic3g/ComponentSpecBuilder.F90
  generic3g/CouplerComponentVector.F90
  generic3g/ESMF_Interfaces.F90
  generic3g/GenericCouplerComponent.F90
  generic3g/GenericGridComp.F90
  generic3g/InnerMetaComponent.F90
  generic3g/MAPL_Generic.F90
  generic3g/MaplGridCompFactory.F90
  generic3g/MethodPhasesMap.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/SetServices_smod.F90
  generic3g/UserSetServices.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockUserGridComp.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  shared/CMakeLists.txt
  shared/ErrorHandling.F90
  shared/KeywordEnforcer.F90
Labels: 0 diff, MAPL3

#1491 fixes #1490
  CHANGELOG.md
  generic/MAPL_Generic.F90
  generic/VarSpec.F90
Labels: new feature, 0 diff
