Repository GEOS-ESM/MAPL, pull requests merged in 2022-05, with the labels that each got.

#1493 Closes #1378. Convert many _ASSERT(.false.) to _FAIL()
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataRoot_GridComp.F90
  base/Base/Base_Base_implementation.F90
  base/BinIO.F90
  base/ESMFL_Mod.F90
  base/FileIOShared.F90
  base/FileMetadataUtilities.F90
  base/MAPL_AbstractRegridder.F90
  base/MAPL_CFIO.F90
  base/MAPL_Comms.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_LocStreamMod.F90
  base/MAPL_TimeMethods.F90
  base/MAPL_VerticalMethods.F90
  base/MAPL_sun_uc.F90
  base/NCIO.F90
  base/StringTemplate.F90
  base/read_parallel.H
  base/sun.H
  base/tests/mapl_bundleio_test.F90
  base/write_parallel.H
  generic/GenericCplComp.F90
  generic/MAPL_Generic.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  griddedio/GriddedIO.F90
  griddedio/Regrid_Util.F90
  pfio/AbstractDataReference.F90
  pfio/AbstractServer.F90
  pfio/ArrayReference.F90
  pfio/BaseServer.F90
  pfio/ClientThread.F90
  pfio/CoordinateVariable.F90
  pfio/FileMetadata.F90
  pfio/LocalMemReference.F90
  pfio/MessageVisitor.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/MultiLayerServer.F90
  pfio/NetCDF4_FileFormatter.F90
  pfio/ServerThread.F90
  pfio/SimpleSocket.F90
  pfio/UnlimitedEntity.F90
  pfio/pFIO_Utilities.F90
  pfio/pfio_writer.F90
  shared/MAPL_HeapMod.F90
  shared/Shmem/Shmem_implementation.F90
Labels: 0 diff

#1496 Closes #1495. Correct ESMF errors with monthly collections
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff, bugfix

#1498 Closes #1420. Extend profiler width
  CHANGELOG.md
  generic/MAPL_Generic.F90
  pfio/AbstractServer.F90
Labels: 0 diff trivial

#1500 add variable inquiry function to FileMetadata
  CHANGELOG.md
  pfio/FileMetadata.F90
Labels: 0 diff trivial, 0 diff

#1502 Prepare for 2.21.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1509 Fix ADAS CI
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1512 Handmerge develop into MAPL3 - 2022-May-16
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff

#1510 Add loggers for generic stages
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff

#1507 Feature/develop generic3g
  base/tests/Test_SimpleMAPLcomp.pf
  base/tests/Test_SphericalToCartesian.pf
  generic3g/CMakeLists.txt
  generic3g/ChildComponent.F90
  generic3g/ChildComponent_run_smod.F90
  generic3g/ComponentSpecBuilder.F90
  generic3g/Generic3g.F90
  generic3g/GenericGridComp.F90
  generic3g/InnerMetaComponent.F90
  generic3g/MAPL_Generic.F90
  generic3g/MethodPhasesMap.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_addChild_smod.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/UserSetServices.F90
  generic3g/reproducer.F90
  generic3g/specs/ChildSpec.F90
  generic3g/specs/ChildSpecMap.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/DimSpec.F90
  generic3g/specs/HorizontalStaggerLoc.F90
  generic3g/specs/StaggerSpec.F90
  generic3g/specs/UngriddedDimSpec.F90
  generic3g/specs/VerticalStaggerLoc.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_AddVarSpec.pf
  generic3g/tests/Test_ComponentSpecBuilder.pf
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  generic3g/tests/Test_Traverse.pf
  generic3g/tests/gridcomps/CMakeLists.txt
  generic3g/tests/gridcomps/SimpleLeafGridComp.F90
  generic3g/tests/gridcomps/SimpleParentGridComp.F90
  generic3g/tests/scratchpad.F90
  gridcomps/CMakeLists.txt
  include/MAPL_ErrLog.h
  pfunit/ESMF_TestMethod.F90
Labels: new feature, 0 diff trivial, MAPL3

#1466 Enable GCM run in CI
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1516 Automatic restart skip
  CHANGELOG.md
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: new feature, 0 diff

#1518 Handmerge develop into MAPL3 2022-May-18
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff, MAPL3

#1520 Handmerge develop into MAPL3 2022-May-18 (2nd of the day)
  CHANGELOG.md
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: 0 diff, MAPL3

#1521 Changed from code review.
  generic3g/ESMF_Interfaces.F90
  generic3g/GenericGridComp.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/UserSetServices.F90
  generic3g/tests/Test_ComponentSpecBuilder.pf
  generic3g/tests/Test_RunChild.pf
Labels: 0 diff trivial, MAPL3

#1525 GitFlow: Handmerge main into develop 2022-May-24
  CHANGELOG.md
  CMakeLists.txt
  griddedio/GriddedIO.F90
Labels: 0 diff

#1531 Hotfix 1530: Initialize lperp
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 diff

#1534 GitFlow: Handmerge main into develop (2022-May-31)
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 diff
