Repository GEOS-ESM/MAPL, pull requests merged in 2022-01, with the labels that each got.

#1257 Compress CircleCI artifacts
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1256 make EXPID and EXPDSC optional
  CHANGELOG.md
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 diff trivial

#1260 Feature/wjiang/free types
  CHANGELOG.md
  profiler/AbstractMeter.F90
  profiler/BaseProfiler.F90
  profiler/DistributedMeter.F90
Labels: 0 diff

#1258 Update VarRead 2D_R8 interface to match VarRead 2D_R4
  CHANGELOG.md
  base/NCIO.F90
Labels: new feature, 0 diff

#1262 Feature/tclune/refactor generic setservices
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff trivial

#1263 Prepare for 2.15.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1264 Merge Develop into Main for 2.15.0 release
  .circleci/config.yml
  .github/workflows/changelog-enforcer.yml
  CHANGELOG.md
  CMakeLists.txt
  base/NCIO.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  profiler/AbstractMeter.F90
  profiler/BaseProfiler.F90
  profiler/DistributedMeter.F90
Labels: 0 diff

#1267 Minor refactoring - indentation changed.
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff trivial

#1271 Hotfix/bmauer/fixes #1269 off main
  CHANGELOG.md
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_LatLonGridFactory.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/GriddedIO.F90
Labels: new feature, 0 diff

#1274 Prepare for 2.15.1 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1273 Feature/tclune/generic refactor jan05 2022
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff trivial

#1281 Handmerge main into develop 2022-Jan-06
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_CubedSphereGridFactory.F90
  base/MAPL_LatLonGridFactory.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/GriddedIO.F90
Labels: Non 0-diff, 0 diff

#1279 Add retry to CI build
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1286 Fixes #1268 - update to README.md
  CHANGELOG.md
  README.md
Labels: documentation, 0 diff trivial

#1293 Fixes #1292. Fix for Logger Message
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff

#1297 Bugfix/atrayano/#1296 split field alias
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
Labels: 0 diff, bugfix

#1290 refactoring pfio error trapping
  .circleci/config.yml
  CHANGELOG.md
  base/MAPL_CFIO.F90
  base/NCIO.F90
  base/ServerManager.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/DataCollection.F90
  griddedio/FieldBundleRead.F90
  griddedio/FieldBundleWrite.F90
  griddedio/GriddedIO.F90
  pfio/AbstractServer.F90
  pfio/BaseServer.F90
  pfio/CMakeLists.txt
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/ExtDataCollection.F90
  pfio/FastClientThread.F90
  pfio/MpiServer.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/MultiLayerServer.F90
  pfio/ServerThread.F90
  pfio/SimpleSocket.F90
  pfio/tests/MockServer.F90
Labels: 0 diff, bugfix

#1289 Add "latest version" Zenodo badge to readme
  README.md
Labels: 0 diff trivial, Skip Changelog

#1288 Update CircleCI CI to use Orb
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#1301 fix bug in profiler reporting caused by recent mapl change
  .editorconfig
  CHANGELOG.md
  griddedio/Regrid_Util.F90
Labels: 0 diff trivial

#1305 fixes #1294
  CHANGELOG.md
  base/FileMetadataUtilities.F90
  griddedio/FieldBundleRead.F90
  griddedio/GriddedIO.F90
Labels: new feature, 0 diff

#1308 Bugfix/wjiang/fix io profiler
  CHANGELOG.md
  pfio/AbstractServer.F90
Labels: 0 diff, bugfix

#1310 Fix ESMF_Info api for new code
  griddedio/GriddedIO.F90
Labels: bug, 0 diff, bugfix, Skip Changelog

#1313 Hotfix/bmauer/fixes #1311
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  base/MAPL_VerticalMethods.F90
Labels: 0 diff, bugfix

#1304 Fixes #1295. Clean up ESMC use
  CHANGELOG.md
  base/MAPL_Config.F90
  include/MAPL_Exceptions.h
Labels: 0 diff

#1317 Update CMakeLists.txt and CHANGELOG for 2.17.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff structural, 0 diff

#1319 Merge Develop into Main
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base_implementation.F90
  base/FileMetadataUtilities.F90
  base/MAPL_Config.F90
  base/MAPL_VerticalMethods.F90
  components.yaml
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/FieldBundleRead.F90
  griddedio/GriddedIO.F90
  include/MAPL_Exceptions.h
  pfio/AbstractServer.F90
Labels: 0 diff

#1321 Fix issue with Ninja presets
  CHANGELOG.md
  CMakePresets.json
Labels: 0 diff trivial

#1326 Feature/wjiang/exit after connected
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 diff trivial

#1330 bug fix. remove cycle
  generic/MAPL_Generic.F90
Labels: 0 diff, bugfix, Skip Changelog
