Repository GEOS-ESM/MAPL, pull requests merged in 2022-03, with the labels that each got.

#1377 Improve missing file error handling for untemplated filenames
  CHANGELOG.md
  gridcomps/ExtData/ExtDataGridCompMod.F90
Labels: 0 diff

#1402 Add voting interpolation method as optional argument to SimpleBundleRead method
  CHANGELOG.md
  base/MAPL_SimpleBundleMod.F90
Labels: 0 diff trivial

#1385 Fixes #1322 Feature/tclune/#1332 toggle timers on off
  CHANGELOG.md
  base/ApplicationSupport.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/CapOptions.F90
  gridcomps/Cap/FlapCLI.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  profiler/BaseProfiler.F90
  profiler/CMakeLists.txt
  profiler/DistributedProfiler.F90
  profiler/GlobalProfilers.F90
  profiler/MAPL_Profiler.F90
  profiler/MemoryProfiler.F90
  profiler/NullGauge.F90
  profiler/StubProfiler.F90
  profiler/TimeProfiler.F90
  profiler/reporting/MultiColumn.F90
  profiler/reporting/ProfileReporter.F90
  profiler/reporting/TextColumnVector.F90
Labels: new feature, 0 diff

#1408 Fixes #1407. Adjusted the ring time to work properly even when they a…
  CHANGELOG.md
  generic/GenericCplComp.F90
  generic/MAPL_Generic.F90
  generic/VarSpec.F90
Labels: 0 diff, bugfix

#1411 Fixes #1410. Reverted VarSpec.F90 to revision b02e8ff
  CHANGELOG.md
  generic/VarSpec.F90
Labels: 0 diff, bugfix

#1406 Fixes #1405. Marks connections with specific 'reserved' keyword as used
  CHANGELOG.md
  generic/VarConn.F90
Labels: 0 diff, bugfix

#1412 Fixes #1360. Fix NAG build bug
  CHANGELOG.md
  base/cub2latlon_regridder.F90
Labels: 0 diff

#1414 GitFlow: Handmerge main into develop 2022-Mar-07
  CHANGELOG.md
  CMakeLists.txt
  base/cub2latlon_regridder.F90
  generic/GenericCplComp.F90
  generic/MAPL_Generic.F90
  generic/VarConn.F90
Labels: 0 diff

#1422 Handmerge develop into MAPL3 2022-Mar-10
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL/MAPL.F90
  Tests/CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  base/FileMetadataUtilities.F90
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/ExternalGCStorage.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataConstants.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataLgr.F90
  gridcomps/ExtData2G/ExtDataNode.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/ExtData_IOBundleMod.F90
  gridcomps/ExtData2G/ExtData_IOBundleVectorMod.F90
  gridcomps/ExtData2G/TimeStringConversion.F90
  gridcomps/MAPL_GridComps.F90
Labels: 0 diff

#1424 Get v2.8.0.5 fix on main
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_LatLonGridFactory.F90
Labels: 0 diff, bugfix

#1429 fixed bug in previous release to address lat-lon degree issues...
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_LatLonGridFactory.F90
Labels: 0 diff, bugfix

#1434 fixes #1433
  CHANGELOG.md
  base/MAPL_LatLonGridFactory.F90
Labels: 0 diff, bugfix

#1439 Fixes from M1 work
  CHANGELOG.md
  CMakeLists.txt
  profiler/MeterNode.F90
Labels: 0 diff

#1401 more flexible mangled names
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: 0 diff

#1444 Prepare for 2.19.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#1446 GitFlow: Merge develop into main for 2.19.0 release
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL/MAPL.F90
  Tests/CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  base/FileMetadataUtilities.F90
  base/MAPL_SimpleBundleMod.F90
  base/MAPL_sun_uc.F90
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/ExternalGCStorage.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataConstants.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataLgr.F90
  gridcomps/ExtData2G/ExtDataNode.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/ExtData_IOBundleMod.F90
  gridcomps/ExtData2G/ExtData_IOBundleVectorMod.F90
  gridcomps/ExtData2G/TimeStringConversion.F90
  gridcomps/MAPL_GridComps.F90
  include/MAPL_ErrLog.h
  profiler/MeterNode.F90
Labels: 0 diff

#1450 Update CI to use orb build job, Update components.yaml
  .circleci/config.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff trivial, 0 diff

#1452 Handmerge develop into release/MAPL-v3 2022-Mar023
  .circleci/config.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff, Skip Changelog

#1456 Fixes #1454. Now MAPL_Shmem memory is deallocated properly
  CHANGELOG.md
  CMakeLists.txt
  generic/GenericCplComp.F90
Labels: 0 diff, bugfix

#1458 GitFlow: Handmerge main into develop
  CHANGELOG.md
  CMakeLists.txt
  generic/GenericCplComp.F90
Labels: 0 diff

#1461 Fix GNU Cubed Sphere Factory Bug
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_CubedSphereGridFactory.F90
Labels: 0 diff, bugfix

#1463 GitFlow: Handmerge main into develop 2022-Mar-299
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_CubedSphereGridFactory.F90
Labels: 0 diff
