Repository GEOS-ESM/MAPL, pull requests merged in 2023-10, with the labels that each got.

#2170 Update parsing for MAPL_NetCDF datetime with real datetime support and public subroutine return values
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_DateTime_Parsing_ESMF.F90
  base/MAPL_ISO8601_DateTime_ESMF.F90
  base/MAPL_NetCDF.F90
  base/Plain_netCDF_Time.F90
  base/tests/CMakeLists.txt
  base/tests/test_MAPL_DateTime_Parsing_ESMF.pf
  base/tests/test_MAPL_NetCDF.pf
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
  shared/CMakeLists.txt
  shared/MAPL_CF_Time.F90
  shared/MAPL_DateTime_Parsing.F90
  shared/MAPL_ISO8601_DateTime.F90
  shared/tests/CMakeLists.txt
  shared/tests/test_MAPL_CF_Time.pf
  shared/tests/test_MAPL_DateTime_Parsing.pf
  shared/tests/test_MAPL_ISO8601_DateTime.pf
Labels: new feature, 0 diff, long term

#2387 Extend test_FileSystemUtilities to test files with no extension and files with base names that include a period
  CHANGELOG.md
  shared/tests/test_FileSystemUtilities.pf
Labels: 0 diff trivial

#2399 Fixes #2398
  CHANGELOG.md
  CMakeLists.txt
  generic/MAPL_Generic.F90
Labels: 0 diff, bugfix

#2403 checkpoint simulator
  CHANGELOG.md
  benchmarks/io/CMakeLists.txt
  benchmarks/io/checkpoint_simulator/CMakeLists.txt
  benchmarks/io/checkpoint_simulator/README.md
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
Labels: new feature, 0 diff trivial, 0 diff

#2405 Update checkpoint_simulator.F90
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
Labels: 0 diff trivial, bugfix, Skip Changelog

#2409 Update GEOSadas CI Build
  .circleci/config.yml
  CHANGELOG.md
  README.md
Labels: 0 diff trivial

#2410 Fixes #2407. Fix bad history print
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff trivial

#2408 Feature/mapl3 geom mgr testing
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
  generic3g/CMakeLists.txt
  generic3g/ComponentSpecParser.F90
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/3d_specs/parent.yaml
  generic3g/tests/scenarios/extdata_1/cap.yaml
  generic3g/tests/scenarios/extdata_1/root.yaml
  generic3g/tests/scenarios/history_1/cap.yaml
  generic3g/tests/scenarios/history_1/collection_1.yaml
  generic3g/tests/scenarios/history_1/root.yaml
  generic3g/tests/scenarios/history_wildcard/cap.yaml
  generic3g/tests/scenarios/history_wildcard/root.yaml
  generic3g/tests/scenarios/precision_extension/parent.yaml
  generic3g/tests/scenarios/precision_extension_3d/parent.yaml
  generic3g/tests/scenarios/scenario_1/parent.yaml
  generic3g/tests/scenarios/scenario_2/parent.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_A.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_B.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/grandparent.yaml
  generic3g/tests/scenarios/service_service/parent.yaml
  generic3g/tests/scenarios/ungridded_dims/parent.yaml
  geom_mgr/GeomManager.F90
  geom_mgr/GeomManager_smod.F90
  geom_mgr/GeomSpec.F90
  geom_mgr/MaplGeom_smod.F90
  geom_mgr/VectorBasis.F90
  geom_mgr/VectorBasis_smod.F90
  geom_mgr/geom_mgr.F90
  geom_mgr/latlon/LatLonDecomposition_smod.F90
  geom_mgr/latlon/LatLonGeomFactory_smod.F90
  geom_mgr/latlon/LatLonGeomSpec_smod.F90
  geom_mgr/latlon/LonAxis_smod.F90
  geom_mgr/tests/CMakeLists.txt
  geom_mgr/tests/Test_GeomManager.pf
  regridder_mgr/CMakeLists.txt
  regridder_mgr/DynamicMask.F90
  regridder_mgr/EsmfRegridder.F90
  regridder_mgr/EsmfRegridderFactory.F90
  regridder_mgr/RegridderFactory.F90
  regridder_mgr/RegridderManager.F90
  regridder_mgr/RegridderSpec.F90
  regridder_mgr/RoutehandleManager.F90
  regridder_mgr/RoutehandleParam.F90
  regridder_mgr/regridder_mgr.F90
  regridder_mgr/tests/CMakeLists.txt
  regridder_mgr/tests/Test_RegridderManager.pf
  regridder_mgr/tests/Test_RouteHandleManager.pf
Labels: 0 diff trivial, Skip Changelog, MAPL3

#2412 Feature/mapl3 geom mgr testing2
  regridder_mgr/DynamicMask.F90
  regridder_mgr/EsmfRegridder.F90
  regridder_mgr/RoutehandleParam.F90
  regridder_mgr/tests/Test_RegridderManager.pf
Labels: 0 diff trivial, MAPL3

#2381 Workarounds for MPICH
  CHANGELOG.md
  CMakeLists.txt
  cmake/CheckCompilerCapabilities.cmake
  cmake/CheckFortranSource.cmake
  cmake/support_for_assumed_type.F90
  cmake/support_for_c_loc_assumed_size.F90
  cmake/support_for_mpi_alloc_mem_cptr.F90
  cmake/support_for_mpi_ierror_keyword.F90
  include/MAPL_ErrLog.h
  pfio/CMakeLists.txt
  pfio/DirectoryService.F90
  pfio/MpiMutex.F90
  pfio/RDMAReference.F90
  pfio/ShmemReference.F90
Labels: 0 diff

#2413 Automatic Code Generator Docymentation(0-diff)
  docs/user_guide/README.md
  docs/user_guide/docs/mapl_code_generator.md
Labels: 0 diff trivial

#2419 Feature/bmauer/fixes #2418
  CHANGELOG.md
  base/NCIO.F90
  generic/MAPL_Generic.F90
Labels: new feature, 0 diff

#2414 Fix to allow Intel Fortran 2021.10 to compile
  CHANGELOG.md
  components.yaml
  generic/AbstractComponent.F90
  gridcomps/Cap/FargparseCLI.F90
Labels: 0 diff, bugfix

#2424 Handmerge develop into mapl3 2023 oct27 number2
  CHANGELOG.md
  components.yaml
  generic/AbstractComponent.F90
  gridcomps/Cap/FargparseCLI.F90
Labels: 0 diff

#2425 Fixed missing pflogger initialization.
  CHANGELOG.md
  CMakeLists.txt
  pfio/tests/pfio_ctest_io.F90
  pfio/tests/pfio_performance.F90
Labels: 0 diff trivial, bugfix

#2428 Prepare for 2.42.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#2432 Added regrid action to generic layer.
  generic3g/CMakeLists.txt
  generic3g/ESMF_Subset.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/actions/CMakeLists.txt
  generic3g/actions/RegridAction.F90
  generic3g/specs/FieldSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/regrid/A.yaml
  generic3g/tests/scenarios/regrid/B.yaml
  generic3g/tests/scenarios/regrid/cap.yaml
  generic3g/tests/scenarios/regrid/expectations.yaml
  geom_mgr/GeomManager.F90
  geom_mgr/GeomManager_smod.F90
  geom_mgr/GeomUtilities.F90
  regridder_mgr/RegridderManager.F90
Labels: new feature, 0 diff trivial, Skip Changelog, MAPL3

#2420 Automatic Code Generator Sample Code (0 diff)
  CHANGELOG.md
  CMakeLists.txt
  docs/tutorial/grid_comps/CMakeLists.txt
  docs/tutorial/grid_comps/automatic_code_generator_example/ACG_GridComp.F90
  docs/tutorial/grid_comps/automatic_code_generator_example/ACG_StateSpecs.rc
  docs/tutorial/grid_comps/automatic_code_generator_example/CMakeLists.txt
  docs/user_guide/docs/mapl_code_generator.md
Labels: 0 diff

#2436 avoid collective call inside subroutine MAPL_GetGlobalHorzIJIndex
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
Labels: 0 diff
