Repository GEOS-ESM/MAPL, pull requests merged in 2023-12, with the labels that each got.

#2453 Fixes to let Ford docs work
  .github/actions/deploy-ford-docs/action.yml
  docs/Ford/README.md
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
Labels: documentation, 0 diff trivial, Skip Changelog

#2458 Swath grid for MAPL_HistoryGridComp
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_AbstractGridFactory.F90
  base/MAPL_AbstractRegridder.F90
  base/MAPL_EsmfRegridder.F90
  base/MAPL_GridManager.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/Plain_netCDF_Time.F90
  base/StringTemplate.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_EpochSwathMod.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
  griddedio/GriddedIO.F90
Labels: 0 diff structural

#2463 Handmerge develop into MAPL3 2023-Dec-01
  .github/actions/deploy-ford-docs/action.yml
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_AbstractGridFactory.F90
  base/MAPL_AbstractRegridder.F90
  base/MAPL_EsmfRegridder.F90
  base/MAPL_GridManager.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/Plain_netCDF_Time.F90
  base/StringTemplate.F90
  docs/Ford/README.md
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_EpochSwathMod.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
  griddedio/GriddedIO.F90
Labels: 0 diff, Skip Changelog, automatic, MAPL3

#2467 Update Ford for gFTL v1.11
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
Labels: documentation, 0 diff trivial, Skip Changelog

#2469 Fixes for NAG dangling pointers.
  .circleci/config.yml
  CHANGELOG.md
  base/tests/Test_SimpleMAPLcomp.pf
  base/tests/Test_SphericalToCartesian.pf
  pfio/StringVariableMap.F90
  pfunit/ESMF_TestCase.F90
  pfunit/ESMF_TestMethod.F90
Labels: 0 diff, bugfix

#2466 Update to circleci-tools v2 orb; ESMA_env v4.24
  .circleci/config.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#2479 Hotfix/tclune/#2478 mapl abort
  CHANGELOG.md
  shared/MAPL_ErrorHandling.F90
Labels: 0 diff trivial, bugfix, high priority

#2486 Hotfix/mapl3 nag fixes
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverMod.F90
  Tests/ExtDataRoot_GridComp.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtData_IOBundleMod.F90
  gridcomps/ExtData2G/ExtData_IOBundleVectorMod.F90
  griddedio/DataCollectionManager.F90
  griddedio/FieldBundleRead.F90
  griddedio/GriddedIO.F90
  pfio/FileMetadata.F90
Labels: 0 diff, bugfix, Skip Changelog, MAPL3

#2490 fixes #2487
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff trivial, 0 diff, bugfix

#2492 Feature/mapl3 dev/dec23
  generic3g/CMakeLists.txt
  generic3g/ChildComponent.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/UserComponent.F90
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  pfio/tests/pfio_ctest_io.F90
Labels: 0 diff trivial, Skip Changelog, MAPL3

#2495 Feature/mapl3 dev/dec23
  generic3g/OuterMetaComponent.F90
  geom_mgr/GeomFactory.F90
  geom_mgr/GeomManager_smod.F90
  geom_mgr/latlon/LatLonGeomFactory.F90
  geom_mgr/latlon/LatLonGeomFactory_smod.F90
Labels: 0 diff, refactor, MAPL3

#2498 Intel workaround.
  geom_mgr/latlon/LatLonGeomFactory_smod.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2457 Code clean up to remove RC/_VERIFY from Base_Base_implementation.F90
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base_implementation.F90
Labels: 0 diff trivial

#2500 Fixes #2499: Allow ExtData2G to be built static
  CHANGELOG.md
  gridcomps/ExtData2G/CMakeLists.txt
Labels: 0 diff

#2452 Print helpful information for certain ExtData problems.
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
Labels: 0 diff trivial

#2465 Add type obs_platform to Trajectory Sampler
  CHANGELOG.md
  base/MAPL_ObsUtil.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
Labels: 0 diff structural

#2477 Station sampler: add support to Global Historical Climatology Network Daily (GHCN-D)
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_StationSamplerMod.F90
Labels: 0 diff structural

#2502 Merge/handmerge/mapl3 2023 dec20
  CHANGELOG.md
  base/MAPL_ObsUtil.F90
  base/Plain_netCDF_Time.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
  gridcomps/History/MAPL_StationSamplerMod.F90
Labels: 0 diff, Skip Changelog, automatic, MAPL3

#2496 Restore MAPL Python2 import behavior
  CHANGELOG.md
  Python/MAPL/Date.py
  Python/MAPL/__init__.py
  Python/MAPL/exp.py
  Python/MAPL/history.py
  Python/MAPL/job.py
  Python/MAPL/run.py
Labels: 0 diff

#2503 Prepare for MAPL 2.43.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#2504 GitFlow: Merge develop into main for release
  .circleci/config.yml
  .github/workflows/validate_yaml_files.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  Python/MAPL/Date.py
  Python/MAPL/__init__.py
  Python/MAPL/exp.py
  Python/MAPL/history.py
  Python/MAPL/job.py
  Python/MAPL/run.py
  base/Base/Base_Base_implementation.F90
  base/CMakeLists.txt
  base/MAPL_AbstractGridFactory.F90
  base/MAPL_AbstractRegridder.F90
  base/MAPL_EsmfRegridder.F90
  base/MAPL_GridManager.F90
  base/MAPL_LatLonToLatLonRegridder.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/Plain_netCDF_Time.F90
  base/StringTemplate.F90
  components.yaml
  docs/tutorial/grid_comps/CMakeLists.txt
  docs/tutorial/grid_comps/automatic_code_generator_example/ACG_GridComp.F90
  docs/tutorial/grid_comps/automatic_code_generator_example/ACG_StateSpecs.rc
  docs/tutorial/grid_comps/automatic_code_generator_example/CMakeLists.txt
  docs/user_guide/docs/mapl_code_generator.md
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_EpochSwathMod.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
  gridcomps/History/MAPL_StationSamplerMod.F90
  griddedio/GriddedIO.F90
  profiler/tests/test_MeterNodeIterator.pf
Labels: 0 diff

#2471 Field allocation for SSI capability
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base_implementation.F90
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff structural

#2511 Handmerge develop into MAPL3
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base_implementation.F90
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff, Skip Changelog, automatic, MAPL3

#2509 Add generic memory profiling utility
  CHANGELOG.md
  base/MAPL_MemUtils.F90
Labels: new feature, 0 diff trivial
