Repository GEOS-ESM/MAPL, pull requests merged in 2023-06, with the labels that each got.

#2162 Feature/jkouatch/ford doc v01
  Ford/docs-with-remote-esmf.md
  base/ESMFL_Mod.F90
  base/MAPL_CFIO.F90
  base/tests/Test_CFIO_Bundle.pf
  base/tests/tstsort.F90
  base/tests/utCFIO_Bundle.F90
  generic/MAPL_Generic.F90
  generic/VarSpec.F90
  geom/StateSupplement.F90
  pfio/pfio_collective_demo.F90
  pfio/tests/Test_DirectoryService.pf
  profiler/tests/test_NameColumn.pf
  profiler/tests/test_TimeProfiler.pf
  shared/MAPL_LoadBalance.F90
Labels: documentation, 0 diff trivial, Skip Changelog

#2165 Move GEOSadas CI build to separate job
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#2159 create cubed-sphere grid from files split by face
  CHANGELOG.md
  base/MAPL_GridManager.F90
  generic/MAPL_Generic.F90
Labels: 0 diff, bugfix

#2068 Update to ESMA_env 4.17.0, move from FLAP to fArgParse
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  Tests/ExtDataDriver.F90
  Tests/pfio_MAPL_demo.F90
  components.yaml
  tutorial/driver_app/Example_Driver.F90
Labels: 0 diff

#2178 Handmerge develop into MAPL3 2023-Jun-08
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriver.F90
  Tests/MAPL_demo_fargparse.F90
  Tests/pfio_MAPL_demo.F90
  components.yaml
  generic3g/ESMF_Utilities.F90
  generic3g/MAPL_Generic.F90
  generic3g/MultiState.F90
  generic3g/OuterMetaComponent.F90
  generic3g/connection_pt/VirtualConnectionPt.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_GenericInitialize.pf
  gridcomps/Cap/FargparseCLI.F90
  gridcomps/Cap/FlapCLI.F90
  tutorial/driver_app/Example_Driver.F90
Labels: 0 diff

#2075 CMake improvements
  CMakeLists.txt
Labels: 0 diff, Skip Changelog

#2160 Fixes #2147 field operations
  CHANGELOG.md
  MAPL/CMakeLists.txt
  MAPL/MAPL.F90
  Tests/ExtDataRoot_GridComp.F90
  base/Base.F90
  base/CMakeLists.txt
  base/FieldUtilities.F90
  geom/CMakeLists.txt
  geom/FieldBLAS.F90
  geom/FieldBinaryOperations.F90
  geom/FieldBinaryOperatorTemplate.H
  geom/FieldPointerUtilities.F90
  geom/FieldUnaryFunctionTemplate.H
  geom/FieldUnaryFunctions.F90
  geom/FieldUtilities.F90
  geom/function_overload.macro
  geom/geom.F90
  geom/tests/CMakeLists.txt
  geom/tests/Test_FieldArithmetic.pf
  geom/tests/Test_FieldBLAS.pf
  geom/tests/geom_setup.F90
  geom/undo_function_overload.macro
  pfio/CMakeLists.txt
Labels: new feature, 0 diff, refactor

#2185 Handmerge develop into MAPL3 2023-Jun-09
  CHANGELOG.md
  MAPL/CMakeLists.txt
  MAPL/MAPL.F90
  Tests/ExtDataRoot_GridComp.F90
  base/Base.F90
  base/CMakeLists.txt
  base/FieldUtilities.F90
  geom/CMakeLists.txt
  geom/FieldBLAS.F90
  geom/FieldBinaryOperations.F90
  geom/FieldBinaryOperatorTemplate.H
  geom/FieldPointerUtilities.F90
  geom/FieldUnaryFunctionTemplate.H
  geom/FieldUnaryFunctions.F90
  geom/FieldUtilities.F90
  geom/function_overload.macro
  geom/geom.F90
  geom/tests/CMakeLists.txt
  geom/tests/Test_FieldArithmetic.pf
  geom/tests/Test_FieldBLAS.pf
  geom/tests/geom_setup.F90
  geom/undo_function_overload.macro
Labels: 0 diff

#2188 fixes #2187
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_VerticalMethods.F90
Labels: 0 diff, bugfix

#2191 ExtDataDriver.x updates for benchmarking
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
Labels: new feature, 0 diff

#2175 Add Logging config to Tests/ExtDataDriverMod.F90
  CHANGELOG.md
  Tests/ExtDataDriverMod.F90
Labels: 0 diff structural

#2186 add ReplaceMetadata message and method for pfio
  CHANGELOG.md
  pfio/AbstractMessage.F90
  pfio/CMakeLists.txt
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/HistoryCollection.F90
  pfio/MessageVisitor.F90
  pfio/ProtocolParser.F90
  pfio/ReplaceMetadataMessage.F90
  pfio/ServerThread.F90
Labels: 0 diff

#2196 Feature/bmauer/fixes #2149
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_NewArthParser.F90
  geom/FieldBinaryOperations.F90
  geom/FieldBinaryOperatorTemplate.H
  geom/FieldPointerUtilities.F90
  geom/tests/Test_FieldArithmetic.pf
  geom/tests/Test_FieldBLAS.pf
  geom/tests/geom_setup.F90
Labels: new feature, 0 diff

#2200 Handmerge develop into MAPL3 2023-Jun-21
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_NewArthParser.F90
  geom/FieldBinaryOperations.F90
  geom/FieldBinaryOperatorTemplate.H
  geom/FieldPointerUtilities.F90
  geom/tests/Test_FieldArithmetic.pf
  geom/tests/Test_FieldBLAS.pf
  geom/tests/geom_setup.F90
Labels: 0 diff

#2201 Renamed configs directory to scenarios
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  generic3g/tests/gridcomps/SimpleParentGridComp.F90
  generic3g/tests/scenarios/3d_specs/A.yaml
  generic3g/tests/scenarios/3d_specs/B.yaml
  generic3g/tests/scenarios/3d_specs/expectations.yaml
  generic3g/tests/scenarios/3d_specs/parent.yaml
  generic3g/tests/scenarios/FieldDictionary.yml
  generic3g/tests/scenarios/history_1/A.yaml
  generic3g/tests/scenarios/history_1/B.yaml
  generic3g/tests/scenarios/history_1/cap.yaml
  generic3g/tests/scenarios/history_1/collection_1.yaml
  generic3g/tests/scenarios/history_1/expectations.yaml
  generic3g/tests/scenarios/history_1/history.yaml
  generic3g/tests/scenarios/history_1/root.yaml
  generic3g/tests/scenarios/history_wildcard/A.yaml
  generic3g/tests/scenarios/history_wildcard/B.yaml
  generic3g/tests/scenarios/history_wildcard/cap.yaml
  generic3g/tests/scenarios/history_wildcard/collection_1.yaml
  generic3g/tests/scenarios/history_wildcard/expectations.yaml
  generic3g/tests/scenarios/history_wildcard/history.yaml
  generic3g/tests/scenarios/history_wildcard/root.yaml
  generic3g/tests/scenarios/leaf_A.yaml
  generic3g/tests/scenarios/leaf_B.yaml
  generic3g/tests/scenarios/precision_extension/A.yaml
  generic3g/tests/scenarios/precision_extension/B.yaml
  generic3g/tests/scenarios/precision_extension/expectations.yaml
  generic3g/tests/scenarios/precision_extension/parent.yaml
  generic3g/tests/scenarios/precision_extension_3d/A.yaml
  generic3g/tests/scenarios/precision_extension_3d/B.yaml
  generic3g/tests/scenarios/precision_extension_3d/expectations.yaml
  generic3g/tests/scenarios/precision_extension_3d/parent.yaml
  generic3g/tests/scenarios/scenario_1/child_A.yaml
  generic3g/tests/scenarios/scenario_1/child_B.yaml
  generic3g/tests/scenarios/scenario_1/expectations.yaml
  generic3g/tests/scenarios/scenario_1/parent.yaml
  generic3g/tests/scenarios/scenario_2/child_A.yaml
  generic3g/tests/scenarios/scenario_2/child_B.yaml
  generic3g/tests/scenarios/scenario_2/expectations.yaml
  generic3g/tests/scenarios/scenario_2/parent.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_A.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_B.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/expectations.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/grandparent.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/parent.yaml
  generic3g/tests/scenarios/ungridded_dims/A.yaml
  generic3g/tests/scenarios/ungridded_dims/B.yaml
  generic3g/tests/scenarios/ungridded_dims/expectations.yaml
  generic3g/tests/scenarios/ungridded_dims/parent.yaml
Labels: 0 diff, Skip Changelog, MAPL3

#2173 Feature/tclune/mapl3 service service
  generic3g/CMakeLists.txt
  generic3g/ComponentSpecParser.F90
  generic3g/OuterMetaComponent.F90
  generic3g/actions/ActionVector.F90
  generic3g/actions/CMakeLists.txt
  generic3g/actions/CopyAction.F90
  generic3g/actions/NullAction.F90
  generic3g/actions/RegridAction.F90
  generic3g/actions/TimeAverageAction.F90
  generic3g/registry/ActualPtSpecPtrMap.F90
  generic3g/registry/CMakeLists.txt
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/registry/StateItemSpecPtr.F90
  generic3g/registry/VirtualPtStateItemPtrMap.F90
  generic3g/specs/AbstractStateItemSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItem.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/gridcomps/SimpleLeafGridComp.F90
  generic3g/tests/scenarios/parent.yaml
  generic3g/tests/scenarios/precision_extension/A.yaml
  generic3g/tests/scenarios/precision_extension/B.yaml
  generic3g/tests/scenarios/precision_extension/expectations.yaml
  generic3g/tests/scenarios/scenario_regrid/A.yaml
  generic3g/tests/scenarios/scenario_regrid/B.yaml
  generic3g/tests/scenarios/scenario_regrid/expectations.yaml
  generic3g/tests/scenarios/service_service/child_A.yaml
  generic3g/tests/scenarios/service_service/child_B.yaml
  generic3g/tests/scenarios/service_service/child_C.yaml
  generic3g/tests/scenarios/service_service/expectations.yaml
  generic3g/tests/scenarios/service_service/parent.yaml
  geom/CMakeLists.txt
  geom/FieldBLAS.F90
  geom/MaplGeom.F90
  geom/geom.F90
  geom/tests/Test_FieldBLAS.pf
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#2203 Update CI BCs to v11.1.0
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#2205 Handmerge develop into MAPL3 2023-Jun-22
  .circleci/config.yml
  CHANGELOG.md
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_StationSamplerMod.F90
Labels: 0 diff, Skip Changelog, automatic

#2207 Fixes #2192. Fix ExtData2G Climatology bug
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/ExtData2G/ExtDataClimFileHandler.F90
Labels: 0 diff, bugfix

#2211 Fixes #2081. Remove unneeded and confusing default in History
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#2216 Feature/mapl3/wildcard spec
  generic3g/CMakeLists.txt
  generic3g/ChildComponent.F90
  generic3g/ChildComponent_run_smod.F90
  generic3g/ComponentSpecParser.F90
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/MethodPhasesMap.F90
  generic3g/OuterMetaComponent.F90
  generic3g/connection/ActualConnectionPt.F90
  generic3g/connection/CMakeLists.txt
  generic3g/connection/ConnectionPt.F90
  generic3g/connection/ConnectionPtVector.F90
  generic3g/connection/ConnectionVector.F90
  generic3g/connection/MatchConnection.F90
  generic3g/connection/ReexportConnection.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/connection/VirtualConnectionPt.F90
  generic3g/connection_pt/CMakeLists.txt
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/AbstractStateItemSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/ConnectionSpec.F90
  generic3g/specs/ConnectionSpecVector.F90
  generic3g/tests/Test_HierarchicalRegistry.pf
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  generic3g/tests/scenarios/history_wildcard/collection_1.yaml
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#2218 Move ExtData2G to HConfig
  CHANGELOG.md
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  gridcomps/ExtData2G/ExtDataYamlNodeStack.F90
  gridcomps/ExtData2G/ExtDataYamlNodeWrapper.F90
Labels: new feature, 0 diff
