Repository GEOS-ESM/MAPL, pull requests merged in 2023-08, with the labels that each got.

#2276 ReadForcing binary file converter
  Apps/CMakeLists.txt
  Apps/forcing_converter/binary_forcing_converter.py
  Apps/forcing_converter/cs_formatter.py
  Apps/forcing_converter/ll_formatter.py
  Apps/forcing_converter/tile_formatter.py
  Apps/forcing_converter/utilities.py
  CHANGELOG.md
Labels: new feature, 0 diff trivial

#2277 Fixes #2274
  CHANGELOG.md
  base/MAPL_Config.F90
Labels: 0 diff, bugfix

#2280 Prepare for 2.40.1 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#2284 Fixes #2283 - NAG and dangling pointers
  CHANGELOG.md
  CMakeLists.txt
  base/FileMetadataUtilities.F90
  base/MAPL_GridManager.F90
  griddedio/DataCollection.F90
  griddedio/FieldBundleRead.F90
  griddedio/GriddedIO.F90
  pfio/AbstractDirectoryService.F90
  pfio/AbstractServer.F90
  pfio/AbstractSocket.F90
  pfio/ClientThread.F90
  pfio/DirectoryService.F90
  pfio/ExtDataCollection.F90
  pfio/FileMetadata.F90
  pfio/HistoryCollection.F90
  pfio/MessageVisitor.F90
  pfio/MpiSocket.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/NetCDF4_FileFormatter.F90
  pfio/ServerThread.F90
  pfio/SimpleSocket.F90
Labels: 0 diff, bugfix

#2288 Update tile_formatter.py
  Apps/forcing_converter/tile_formatter.py
Labels: 0 diff, Skip Changelog

#2291 Fixes #2290 - pflogger in unit tests
  .circleci/config.yml
  CHANGELOG.md
  pfunit/MAPL_Initialize.F90
Labels: 0 diff, bugfix, MAPL3

#2293 Fixes #2292 - NAG + Darwin issue for ESMF_Config
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_Config.F90
  components.yaml
Labels: 0 diff, bugfix, refactor

#2295 Update FindESMF.cmake file to match ESMF 8.5.0
  CHANGELOG.md
  CMakeLists.txt
  cmake/FindESMF.cmake
Labels: 0 diff

#2296 Feature/hack for ExtData for using G5NR files with sample inputs for AIST project
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
Labels: new feature, 0 diff

#2302 Introduced standard mapl section in hconfig files.
  generic3g/ComponentSpecParser.F90
  generic3g/ESMF_Subset.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  generic3g/tests/scenarios/3d_specs/A.yaml
  generic3g/tests/scenarios/3d_specs/B.yaml
  generic3g/tests/scenarios/3d_specs/parent.yaml
  generic3g/tests/scenarios/extdata_1/cap.yaml
  generic3g/tests/scenarios/extdata_1/collection_1.yaml
  generic3g/tests/scenarios/extdata_1/extdata.yaml
  generic3g/tests/scenarios/extdata_1/root.yaml
  generic3g/tests/scenarios/history_1/A.yaml
  generic3g/tests/scenarios/history_1/B.yaml
  generic3g/tests/scenarios/history_1/cap.yaml
  generic3g/tests/scenarios/history_1/collection_1.yaml
  generic3g/tests/scenarios/history_1/history.yaml
  generic3g/tests/scenarios/history_1/root.yaml
  generic3g/tests/scenarios/history_wildcard/A.yaml
  generic3g/tests/scenarios/history_wildcard/B.yaml
  generic3g/tests/scenarios/history_wildcard/cap.yaml
  generic3g/tests/scenarios/history_wildcard/collection_1.yaml
  generic3g/tests/scenarios/history_wildcard/history.yaml
  generic3g/tests/scenarios/history_wildcard/root.yaml
  generic3g/tests/scenarios/leaf_A.yaml
  generic3g/tests/scenarios/leaf_B.yaml
  generic3g/tests/scenarios/precision_extension/A.yaml
  generic3g/tests/scenarios/precision_extension/B.yaml
  generic3g/tests/scenarios/precision_extension/parent.yaml
  generic3g/tests/scenarios/scenario_1/child_A.yaml
  generic3g/tests/scenarios/scenario_1/child_B.yaml
  generic3g/tests/scenarios/scenario_1/parent.yaml
  generic3g/tests/scenarios/scenario_2/child_A.yaml
  generic3g/tests/scenarios/scenario_2/child_B.yaml
  generic3g/tests/scenarios/scenario_2/parent.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_A.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_B.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/grandparent.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/parent.yaml
  generic3g/tests/scenarios/service_service/child_A.yaml
  generic3g/tests/scenarios/service_service/child_B.yaml
  generic3g/tests/scenarios/service_service/child_C.yaml
  generic3g/tests/scenarios/service_service/parent.yaml
  generic3g/tests/scenarios/ungridded_dims/A.yaml
  generic3g/tests/scenarios/ungridded_dims/B.yaml
  generic3g/tests/scenarios/ungridded_dims/parent.yaml
Labels: 0 diff, Skip Changelog, refactor, MAPL3

#2301 Feature/jk/doc check
  base/Plain_netCDF_Time.F90
  base/tests/Test_CFIO_Bundle.pf
  generic/MAPL_Generic.F90
Labels: 0 diff trivial, Skip Changelog

#2305 Feature/atrayano/#2304 index user
  CHANGELOG.md
  base/MAPL_LocStreamMod.F90
Labels: 0 diff

#2313 Read string attribute from netCDF variable
  CHANGELOG.md
  pfio/NetCDF4_FileFormatter.F90
  pfio/NetCDF_Supplement.F90
  pfio/pfio_get_att_string.c
Labels: 0 diff trivial

#2309 Feature/tclune/mapl3 latlongeomfactory
  base/Base/Base_Base.F90
  base/Base/Base_Base_implementation.F90
  generic3g/ComponentSpecParser.F90
  generic3g/tests/Test_Scenarios.pf
  geom_mgr/CMakeLists.txt
  geom_mgr/CoordinateAxis.F90
  geom_mgr/CoordinateAxis_smod.F90
  geom_mgr/GeomFactory.F90
  geom_mgr/GeomManager.F90
  geom_mgr/GeomManager_smod.F90
  geom_mgr/HConfigUtils.F90
  geom_mgr/LatLonGeomFactory.F90
  geom_mgr/MaplGeom.F90
  geom_mgr/MaplGeom_smod.F90
  geom_mgr/VectorBasis.F90
  geom_mgr/VectorBasis_smod.F90
  geom_mgr/latlon/LatAxis.F90
  geom_mgr/latlon/LatAxis_smod.F90
  geom_mgr/latlon/LatLonDecomposition.F90
  geom_mgr/latlon/LatLonDecomposition_smod.F90
  geom_mgr/latlon/LatLonGeomFactory.F90
  geom_mgr/latlon/LatLonGeomFactory_smod.F90
  geom_mgr/latlon/LatLonGeomSpec.F90
  geom_mgr/latlon/LatLonGeomSpec_smod.F90
  geom_mgr/latlon/LonAxis.F90
  geom_mgr/latlon/LonAxis_smod.F90
  geom_mgr/tests/CMakeLists.txt
  geom_mgr/tests/Test_CoordinateAxis.pf
  geom_mgr/tests/Test_LatAxis.pf
  geom_mgr/tests/Test_LatLonDecomposition.pf
  geom_mgr/tests/Test_LatLonDistribution.pf
  geom_mgr/tests/Test_LatLonGeomFactory.pf
  geom_mgr/tests/Test_LatLonGeomSpec.pf
  geom_mgr/tests/Test_LonAxis.pf
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#2311 Feature/bmauer/markup docs in source
  Apps/Regrid_Util.md
  CHANGELOG.md
  Tests/ExtDataDriver.md
  base/ArthParser.md
  base/regridding_methods.md
  gridcomps/Cap/CapGridComp.md
  gridcomps/ExtData2G/ExtDataGridComp.md
  gridcomps/History/HistoryGridComp.md
  pfio/fig_FrontendBackend.png
  pfio/fig_MpiServerClass.png
  pfio/fig_MultiGroupServerClass.png
  pfio/pfio.md
  shared/ErrorHandling.md
Labels: documentation, 0 diff trivial, 0 diff

#2316 Update to BCs 11.2.0
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#2321 Backport pfio changes from MAPL3 to enable tests
  CHANGELOG.md
  include/MAPL_ErrLog.h
  pfio/AbstractDataReference.F90
  pfio/AbstractMessage.F90
  pfio/AbstractRequestHandle.F90
  pfio/AbstractServer.F90
  pfio/AbstractSocket.F90
  pfio/ArrayReference.F90
  pfio/Attribute.F90
  pfio/BaseServer.F90
  pfio/BaseThread.F90
  pfio/CMakeLists.txt
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/DirectoryService.F90
  pfio/FastClientThread.F90
  pfio/FileMetadata.F90
  pfio/HistoryCollection.F90
  pfio/MessageVisitor.F90
  pfio/MpiSocket.F90
  pfio/MultiGroupServer.F90
  pfio/ServerThread.F90
  pfio/SimpleSocket.F90
  pfio/StringIntegerMapUtil.F90
  pfio/tests/MockClientThread.F90
  pfio/tests/MockServerThread.F90
  pfio/tests/MockSocket.F90
  pfio/tests/Test_Client.pf
  pfio/tests/Test_ServerThread.pf
Labels: 0 diff
