Repository GEOS-ESM/MAPL, pull requests merged in 2023-07, with the labels that each got.

#2220 Trajectory sampler for IODA file: step-1
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
Labels: 0 diff

#2221 Require ESMF 8.5.0 and 8.5.0b22 at least
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#2222 Fixes for fargparse use in CMake
  CHANGELOG.md
  CMakeLists.txt
  Tests/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
Labels: 0 diff, bugfix

#2223 Temporary action fix for push to dev
  .github/workflows/push-to-develop.yml
Labels: 0 diff trivial, Skip Changelog, github_actions

#2226 Fixes #2038. Cleaned the rules for split field names
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base_implementation.F90
Labels: 0 diff, bugfix

#2234 fixes #2232
  Apps/time_ave_util.F90
  CHANGELOG.md
  base/MAPL_TripolarGridFactory.F90
Labels: 0 diff, bugfix

#2225 Feature/bmauer/mapl3 hconfig
  CHANGELOG.md
  generic3g/ComponentSpecParser.F90
  generic3g/FieldDictionary.F90
  generic3g/GenericConfig.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_ComponentSpecParser.pf
  generic3g/tests/Test_FieldDictionary.pf
  generic3g/tests/Test_GenericInitialize.pf
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  generic3g/tests/Test_Traverse.pf
  generic3g/tests/gridcomps/SimpleParentGridComp.F90
Labels: new feature, 0 diff, Skip Changelog

#2239 Fixes for 2.39.6 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#2237 Feature/bmauer/extdatadriver delay
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
  shared/CMakeLists.txt
  shared/MAPL_Sleep.F90
  shared/MaplShared.F90
Labels: new feature, 0 diff

#2238 Fix a bug so that MultigroupServer does not allow a file written by m…
  CHANGELOG.md
  CMakeLists.txt
  pfio/CMakeLists.txt
  pfio/MultiGroupServer.F90
Labels: 0 diff, bugfix

#2242 GitFlow: Handmerge main into develop - 2023-Jul-18
  Apps/time_ave_util.F90
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_TripolarGridFactory.F90
  pfio/CMakeLists.txt
  pfio/MultiGroupServer.F90
Labels: 0 diff

#2229 Updates to allow building MAPL with Spack instead of Baselibs
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
  cmake/FindESMF.cmake
Labels: 0 diff

#2245 Fixes #2244. Add print of regrid method to history init
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff trivial

#2248 Handmerge develop into MAPL3 2023-Jul-20
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataRoot_GridComp.F90
  Tests/VarspecDescription.F90
  base/Base/Base_Base.F90
  base/Base/Base_Base_implementation.F90
  base/MAPL_NewArthParser.F90
  cmake/FindESMF.cmake
  geom/FieldPointerUtilities.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#2249 Feature/tclune/mapl3 wildcard support
  generic3g/ComponentSpecParser.F90
  generic3g/ESMF_Utilities.F90
  generic3g/OuterMetaComponent.F90
  generic3g/actions/CMakeLists.txt
  generic3g/actions/SequenceAction.F90
  generic3g/connection/CMakeLists.txt
  generic3g/connection/MatchConnection.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/connection/VirtualConnectionPt.F90
  generic3g/connection/VirtualConnectionPtVector.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/AbstractStateItemSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItem.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_HierarchicalRegistry.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/history_wildcard/A.yaml
  generic3g/tests/scenarios/history_wildcard/collection_1.yaml
  generic3g/tests/scenarios/history_wildcard/expectations.yaml
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#2252 Feature/bmaure/extdata on tiles
  CHANGELOG.md
  base/NCIO.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtData_IOBundleMod.F90
  griddedio/CMakeLists.txt
  griddedio/DataCollection.F90
  griddedio/TileIO.F90
Labels: new feature, 0 diff

#2255 Update to Baselibs 7.14.0 (ESMF 8.5.0, GFE 1.11.0)
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  Ford/docs-with-remote-esmf.md
  Ford/docs-with-remote-esmf.public_private_protected.md
  components.yaml
  geom/CMakeLists.txt
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataFileStream.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataSample.F90
  pfio/MultiGroupServer.F90
Labels: 0 diff

#2257 Prepare for MAPL 2.40.0
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#2265 Trajectory sampler
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_LocStreamFactoryMod.F90
  base/MAPL_LocstreamRegridder.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
Labels: 0 diff

#2269 Fixes #2268 - rename geom subdir
  CHANGELOG.md
  CMakeLists.txt
  MAPL/MAPL.F90
  base/Base/Base_Base_implementation.F90
  base/MAPL_NewArthParser.F90
  field_utils/CMakeLists.txt
  field_utils/EsmfRegridder.F90
  field_utils/FieldBLAS.F90
  field_utils/FieldBLAS_IntrinsicFunctions.F90
  field_utils/FieldBinaryOperations.F90
  field_utils/FieldBinaryOperatorTemplate.H
  field_utils/FieldPointerUtilities.F90
  field_utils/FieldUnaryFunctionTemplate.H
  field_utils/FieldUnaryFunctions.F90
  field_utils/FieldUtilities.F90
  field_utils/FieldUtils.F90
  field_utils/GeomManager.F90
  field_utils/MaplGeom.F90
  field_utils/Regridder.F90
  field_utils/StateSupplement.F90
  field_utils/function_overload.macro
  field_utils/tests/CMakeLists.txt
  field_utils/tests/Test_FieldArithmetic.pf
  field_utils/tests/Test_FieldBLAS.pf
  field_utils/tests/geom_setup.F90
  field_utils/undo_function_overload.macro
  gridcomps/ExtData2G/ExtDataBracket.F90
Labels: 0 diff structural, refactor, MAPL3

#2266 Demonstrated ExtData scenario
  generic3g/ComponentSpecParser.F90
  generic3g/ESMF_Utilities.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_setservices_smod.F90
  generic3g/connection/MatchConnection.F90
  generic3g/connection/VirtualConnectionPt.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/AbstractStateItemSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/gridcomps/CMakeLists.txt
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  generic3g/tests/scenarios/extdata_1/cap.yaml
  generic3g/tests/scenarios/extdata_1/collection_1.yaml
  generic3g/tests/scenarios/extdata_1/expectations.yaml
  generic3g/tests/scenarios/extdata_1/extdata.yaml
  generic3g/tests/scenarios/extdata_1/root.yaml
  generic3g/tests/scenarios/history_wildcard/collection_1.yaml
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#2273 Handmerge develop into MAPL3 2023-Jul-31
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL/MAPL.F90
  base/Base/Base_Base_implementation.F90
  base/CMakeLists.txt
  base/MAPL_NewArthParser.F90
  field_utils/CMakeLists.txt
  field_utils/EsmfRegridder.F90
  field_utils/FieldBLAS.F90
  field_utils/FieldBLAS_IntrinsicFunctions.F90
  field_utils/FieldBinaryOperations.F90
  field_utils/FieldBinaryOperatorTemplate.H
  field_utils/FieldPointerUtilities.F90
  field_utils/FieldUnaryFunctionTemplate.H
  field_utils/FieldUnaryFunctions.F90
  field_utils/FieldUtilities.F90
  field_utils/FieldUtils.F90
  field_utils/GeomManager.F90
  field_utils/MaplGeom.F90
  field_utils/Regridder.F90
  field_utils/StateSupplement.F90
  field_utils/function_overload.macro
  field_utils/tests/CMakeLists.txt
  field_utils/tests/Test_FieldArithmetic.pf
  field_utils/tests/Test_FieldBLAS.pf
  field_utils/tests/field_utils_setup.F90
  field_utils/undo_function_overload.macro
  generic3g/CMakeLists.txt
  generic3g/actions/CopyAction.F90
  geom/tests/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataBracket.F90
Labels: 0 diff

#2270 restore generic from 2g in 3g
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  generic/CMakeLists.txt
  generic/MAPL_Generic.F90
  generic/SetServicesWrapper.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 diff
