Repository GEOS-ESM/MAPL, pull requests merged in 2023-02, with the labels that each got.

#1943 Refactor MAPL_GetResource
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_Resource.F90
  generic/MAPL_Generic.F90
Labels: new feature, 0 diff

#1947 fixes #1941
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/GriddedIO.F90
  pfio/CMakeLists.txt
  pfio/pFIO.F90
  shared/CMakeLists.txt
  shared/DownBit.F90
  shared/MaplShared.F90
  shared/ShaveMantissa.c
  shared/ShaveMantissa.h
Labels: new feature, Non 0-diff

#1950 Update build like UFS CI test
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#1962 Bugfix/wdboggs/fix refactor error
  CHANGELOG.md
  base/MAPL_Resource.F90
  generic/MAPL_Generic.F90
Labels: 0 diff, bugfix

#1940 test optional argument arrdes before using it
  CHANGELOG.md
  base/NCIO.F90
Labels: 0 diff, bugfix

#1944 Feature/wjiang/large output
  CHANGELOG.md
  pfio/ForwardDataAndMessage.F90
  pfio/MessageVector.F90
  pfio/MpiSocket.F90
  pfio/MultiGroupServer.F90
  pfio/ServerThread.F90
  pfio/UnlimitedEntity.F90
Labels: 0 diff, bugfix

#1953 Fixes #1952. Remove _VERIFY from History GC
  CHANGELOG.md
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
Labels: 0 diff

#1938 Create MAPL.profiler logger
  CHANGELOG.md
  base/ApplicationSupport.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff

#1970 Handmerge develop into MAPL-v3 2023-Feb-13
  CHANGELOG.md
  base/ApplicationSupport.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  profiler/CMakeLists.txt
  profiler/MAPL_Profiler.F90
Labels: 0 diff

#1972 Fixes #1957
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataRoot_GridComp.F90
  Tests/ExtData_Testing_Framework/test_cases/case28/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/README
  Tests/ExtData_Testing_Framework/test_cases/case28/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case29/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case29/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case29/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case29/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case29/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case29/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case29/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case29/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case29/README
  Tests/ExtData_Testing_Framework/test_cases/case29/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
Labels: 0 diff, bugfix

#1945 Add shavemantissa f2py code
  CHANGELOG.md
  MAPL_cfio/CMakeLists.txt
  MAPL_cfio/ShaveMantissa_py.F90
  MAPL_cfio/shavemantissa.py
  Python/MAPL/constants.py
Labels: 0 diff

#1978 add variable through file formatter
  CHANGELOG.md
  pfio/NetCDF4_FileFormatter.F90
  pfio/tests/Test_NetCDF4_FileFormatter.pf
Labels: new feature, 0 diff

#1986 fixed and added subroutines to read and write char type in Netcdf file
  CHANGELOG.md
  pfio/NetCDF4_FileFormatter.F90
  pfio/new_overload.macro
Labels: 0 diff

#1989 Let users specify the grid type
  CHANGELOG.md
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 diff
