Repository GEOS-ESM/MAPL, pull requests merged in 2024-06, with the labels that each got.

#2865 Update CI for latest GEOSgcm
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 Diff Trivial, Changelog Skip

#2867 Break OuterMetaComponent.F90 into submodule files
  generic3g/CMakeLists.txt
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/SetServices.F90
  generic3g/OuterMetaComponent/add_child_by_name.F90
  generic3g/OuterMetaComponent/apply_to_children_custom.F90
  generic3g/OuterMetaComponent/attach_outer_meta.F90
  generic3g/OuterMetaComponent/connect_all.F90
  generic3g/OuterMetaComponent/finalize.F90
  generic3g/OuterMetaComponent/free_outer_meta.F90
  generic3g/OuterMetaComponent/get_child_by_name.F90
  generic3g/OuterMetaComponent/get_component_spec.F90
  generic3g/OuterMetaComponent/get_geom.F90
  generic3g/OuterMetaComponent/get_gridcomp.F90
  generic3g/OuterMetaComponent/get_hconfig.F90
  generic3g/OuterMetaComponent/get_internal_state.F90
  generic3g/OuterMetaComponent/get_lgr.F90
  generic3g/OuterMetaComponent/get_name.F90
  generic3g/OuterMetaComponent/get_outer_meta_from_outer_gc.F90
  generic3g/OuterMetaComponent/get_phases.F90
  generic3g/OuterMetaComponent/get_registry.F90
  generic3g/OuterMetaComponent/get_user_gc_driver.F90
  generic3g/OuterMetaComponent/init_meta.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/initialize_advertise_geom.F90
  generic3g/OuterMetaComponent/initialize_post_advertise.F90
  generic3g/OuterMetaComponent/initialize_realize.F90
  generic3g/OuterMetaComponent/initialize_realize_geom.F90
  generic3g/OuterMetaComponent/initialize_user.F90
  generic3g/OuterMetaComponent/new_outer_meta.F90
  generic3g/OuterMetaComponent/read_restart.F90
  generic3g/OuterMetaComponent/recurse.F90
  generic3g/OuterMetaComponent/run_child_by_name.F90
  generic3g/OuterMetaComponent/run_children.F90
  generic3g/OuterMetaComponent/run_clock_advance.F90
  generic3g/OuterMetaComponent/run_custom.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/OuterMetaComponent/set_entry_point.F90
  generic3g/OuterMetaComponent/set_geom.F90
  generic3g/OuterMetaComponent/set_hconfig.F90
  generic3g/OuterMetaComponent/set_vertical_geom.F90
  generic3g/OuterMetaComponent/write_restart.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2869 Mapl3/#2868 multiple coupler sources
  generic3g/CMakeLists.txt
  generic3g/ComponentDriver.F90
  generic3g/ComponentDriverPtrVector.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2870 Remove slow tests from ESSENTIAL ExtData tests, turn off ExtData1G as ESSENTIAL
  .circleci/config.yml
  CHANGELOG.md
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  components.yaml
Labels: 0 Diff Trivial

#2858 Allow alternative mangle for LONG_NAME
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  cmake/mapl_acg.cmake
Labels: :gift: New Feature, 0 Diff

#2874 Bugfix/mapl3/reexport
  generic3g/connection/ReexportConnection.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/tests/Test_HierarchicalRegistry.pf
  generic3g/tests/scenarios/scenario_2/expectations.yaml
  generic3g/tests/scenarios/scenario_2/parent.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/expectations.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/grandparent.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/parent.yaml
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2860 Allow alternative mangle for LONG_NAME (R21C)
  .github/workflows/changelog-enforcer.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/validate_yaml_files.yml
  .github/workflows/workflow.yml
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  cmake/mapl_acg.cmake
Labels: 0 Diff

#2852 Trivial update for time_ave_util.x
  Apps/time_ave_util.F90
Labels: 0 Diff Trivial, 0 Diff, Changelog Skip

#2877 Update to ESMA_cmake v3.46.0
  CHANGELOG.md
  components.yaml
Labels: 0 Diff Trivial

#2878 Handmerge develop into MAPL3 2024-Jun-21, remove explicit esma_add_fortran_submodules
  .circleci/config.yml
  CHANGELOG.md
  components.yaml
  generic3g/CMakeLists.txt
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2882 Fix CMake in GeomIO
  GeomIO/CMakeLists.txt
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2838 Improved station sampler
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_StationSamplerMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
Labels: 0 Diff Trivial

#2876 Prepare for 2.47.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial

#2887 GitFlow: Merge develop into main for 2.47 release
  .circleci/config.yml
  Apps/MAPL_GridCompSpecs_ACG.py
  Apps/Regrid_Util.F90
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  benchmarks/io/checkpoint_simulator/README.md
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
  cmake/mapl_acg.cmake
  components.yaml
  docs/tutorial/driver_app/Example_Driver.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_StationSamplerMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
  griddedio/FieldBundleRead.F90
  pfio/BaseThread.F90
  pfio/ClientThread.F90
Labels: 0 Diff

#2888 Handmerge develop to MAPL3 2024-Jun-24
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_StationSamplerMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2885 Mapl v3/smods/generic3g/v6
  generic3g/CMakeLists.txt
  generic3g/ComponentSpecParser/CMakeLists.txt
  generic3g/ESMF_HConfigUtilities/CMakeLists.txt
  generic3g/GriddedComponentDriver/CMakeLists.txt
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2890 Improved mask sampler
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod_smod.F90
Labels: 0 Diff
