Repository GEOS-ESM/MAPL, pull requests merged in 2024-07, with the labels that each got.

#2893 fixes #2892
  griddedio/GriddedIO.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2905 Update to ESMA_cmake v3.48.0
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#2895 Add ungridded dimensions and vertical dimensions for History3G
  CHANGELOG.md
  GeomIO/CMakeLists.txt
  GeomIO/SharedIO.F90
  GeomIO/tests/CMakeLists.txt
  GeomIO/tests/Test_SharedIO.pf
  generic3g/CMakeLists.txt
  generic3g/Generic3g.F90
  generic3g/OutputInfo.F90
  gridcomps/History3G/CMakeLists.txt
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#2907 Implement ungridded dim mirroring and complete ungridded dim parsing
  GeomIO/tests/Test_SharedIO.pf
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/OutputInfo.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/UngriddedDim.F90
  generic3g/specs/UngriddedDims.F90
  generic3g/tests/Test_FieldInfo.pf
  generic3g/tests/Test_FieldSpec.pf
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2908 Fixes #2903 Support for mirror geometry
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/actions/ConvertUnitsAction.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_BracketSpec.pf
  generic3g/tests/Test_FieldInfo.pf
  generic3g/tests/Test_FieldSpec.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/extdata_1/cap.yaml
  generic3g/tests/scenarios/extdata_1/extdata.yaml
  generic3g/tests/scenarios/extdata_1/root.yaml
  generic3g/tests/scenarios/history_1/A.yaml
  generic3g/tests/scenarios/history_1/expectations.yaml
  generic3g/tests/scenarios/history_1/history.yaml
  generic3g/tests/scenarios/history_1/mirror_geom_collection.yaml
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2904 Do not run changelog enforcer on MAPL3 PRs
  .github/workflows/changelog-enforcer.yml
Labels: 0 Diff

#2914 fixes #2913
  CHANGELOG.md
  CMakeLists.txt
  field_utils/FieldUtilities.F90
Labels: :beetle: Bug, 0 Diff

#2918 fixes #2909
  generic3g/specs/FieldSpec.F90
Labels: 0 Diff Trivial, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2897 Update CI Baselibs to 7.25.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 Diff

#2898 Restart/checkpoint
  CMakeLists.txt
  GeomIO/CMakeLists.txt
  GeomIO/Geom_PFIO.F90
  GeomIO/Grid_PFIO.F90
  GeomIO/pFIOServerBounds.F90
  GeomIO/tests/CMakeLists.txt
  esmf_utils/CMakeLists.txt
  esmf_utils/LU_Bound.F90
  esmf_utils/OutputInfo.F90
  esmf_utils/UngriddedDim.F90
  esmf_utils/UngriddedDimVector.F90
  esmf_utils/UngriddedDims.F90
  generic3g/CMakeLists.txt
  generic3g/ComponentDriver.F90
  generic3g/GenericGridComp.F90
  generic3g/GriddedComponentDriver.F90
  generic3g/GriddedComponentDriver/read_restart.F90
  generic3g/GriddedComponentDriver/write_restart.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/read_restart.F90
  generic3g/OuterMetaComponent/recurse.F90
  generic3g/OuterMetaComponent/write_restart.F90
  generic3g/RestartHandler.F90
  generic3g/specs/CMakeLists.txt
  gridcomps/cap3g/Cap.F90
  gridcomps/cap3g/tests/cases.txt
  gridcomps/cap3g/tests/write_restart/AGCM.yaml
  gridcomps/cap3g/tests/write_restart/GCM.yaml
  gridcomps/cap3g/tests/write_restart/cap.yaml
  gridcomps/cap3g/tests/write_restart/history.yaml
  mapl3g/MaplFramework.F90
Labels: 0 Diff, Changelog Skip

#2912 Feature/mapl3/new registry
  generic3g/MultiState.F90
  generic3g/connection/MatchConnection.F90
  generic3g/connection/ReexportConnection.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/connection/VirtualConnectionPt.F90
  generic3g/registry/CMakeLists.txt
  generic3g/registry/ExtensionFamily.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/registry/Registry.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/registry/StateItemExtensionPtrVector.F90
  generic3g/registry/StateItemExtensionVector.F90
  generic3g/registry/StateItemSpecPtrVector.F90
  generic3g/registry/VirtualPtFamilyMap.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_Registry.pf
  generic3g/tests/scenarios/precision_extension/A.yaml
  generic3g/tests/scenarios/precision_extension/B.yaml
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2922 Activated new Registry (now StateRegistry)
  generic3g/ComponentSpecParser.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/get_registry.F90
  generic3g/OuterMetaComponent/init_meta.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/read_restart.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/OuterMetaComponent/write_restart.F90
  generic3g/connection/ActualConnectionPt.F90
  generic3g/connection/ConnectionVector.F90
  generic3g/connection/MatchConnection.F90
  generic3g/connection/ReexportConnection.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/registry/CMakeLists.txt
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_HierarchicalRegistry.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  generic3g/tests/Test_StateRegistry.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  generic3g/tests/scenarios/extdata_1/expectations.yaml
  generic3g/tests/scenarios/history_1/cap.yaml
  generic3g/tests/scenarios/history_1/expectations.yaml
  generic3g/tests/scenarios/history_wildcard/A.yaml
  generic3g/tests/scenarios/history_wildcard/expectations.yaml
  generic3g/tests/scenarios/precision_extension/expectations.yaml
  generic3g/tests/scenarios/precision_extension_3d/expectations.yaml
  generic3g/tests/scenarios/propagate_geom/expectations.yaml
  generic3g/tests/scenarios/regrid/expectations.yaml
  generic3g/tests/scenarios/scenario_1/expectations.yaml
  generic3g/tests/scenarios/scenario_2/expectations.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/expectations.yaml
  include/MAPL_private_state.h
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2923 Fix for change in Fortran 2023
  generic3g/specs/ChildSpec.F90
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2924 Initial placeholder for extdata3g
  generic3g/OuterMetaComponent/read_restart.F90
  generic3g/OuterMetaComponent/write_restart.F90
  gridcomps/CMakeLists.txt
  gridcomps/ExtData3G/CMakeLists.txt
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/ExtDataGridComp_private.F90
  gridcomps/ExtData3G/tests/CMakeLists.txt
  gridcomps/ExtData3G/tests/Test_ExtDataGridComp.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2925 cleanup tests to use _RC
  gridcomps/ExtData3G/tests/Test_ExtDataGridComp.pf
  gridcomps/History3G/tests/Test_HistoryGridComp.pf
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2929 Fixes #2928 - Simple refactoring.
  generic3g/ComponentSpecParser.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/connection/CMakeLists.txt
  generic3g/connection/Connection.F90
  generic3g/connection/ConnectionVector.F90
  generic3g/connection/MatchConnection.F90
  generic3g/connection/ReexportConnection.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/tests/Test_StateRegistry.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2930 Add Refactor to PR Template
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/workflow.yml
Labels: 0 Diff Trivial

#2932 Add Refactor to PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 0 Diff Trivial

#2934 Pull UDUNITS fortran interface into develop
  CHANGELOG.md
  CMakeLists.txt
  cmake/Findudunits.cmake
  udunits2f/CMakeLists.txt
  udunits2f/CptrWrapper.F90
  udunits2f/UDSystem.F90
  udunits2f/encoding.F90
  udunits2f/error_handling.h
  udunits2f/interfaces.F90
  udunits2f/status_codes.F90
  udunits2f/tests/CMakeLists.txt
  udunits2f/tests/Test_UDSystem.pf
  udunits2f/tests/Test_udunits2f.pf
  udunits2f/udunits2f.F90
  udunits2f/ut_set_ignore_error_message_handler.c
Labels: :gift: New Feature, 0 Diff Trivial

#2937 Handmerge develop into MAPL3 2024-Jul-31
  CHANGELOG.md
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2936 Clarify changelog for udunits dependency, reorder cmake
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial

#2927 Update to ESMA_env v4.30.0 (Baselibs 7.25, Intel 2021.13)
  CHANGELOG.md
  components.yaml
Labels: 0 Diff, :astonished: Non 0 Diff
