Repository GEOS-ESM/MAPL, pull requests merged in 2024-12, with the labels that each got.

#3200 Feature/tclune/refactor outer meta
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/SetServices.F90
  generic3g/OuterMetaComponent/add_child_by_name.F90
  generic3g/OuterMetaComponent/apply_to_children_custom.F90
  generic3g/OuterMetaComponent/attach_outer_meta.F90
  generic3g/OuterMetaComponent/connect_all.F90
  generic3g/OuterMetaComponent/finalize.F90
  generic3g/OuterMetaComponent/free_outer_meta.F90
  generic3g/OuterMetaComponent/get_child_by_name.F90
  generic3g/OuterMetaComponent/get_internal_state.F90
  generic3g/OuterMetaComponent/get_name.F90
  generic3g/OuterMetaComponent/get_outer_meta_from_outer_gc.F90
  generic3g/OuterMetaComponent/init_meta.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised2.F90
  generic3g/OuterMetaComponent/initialize_realize.F90
  generic3g/OuterMetaComponent/initialize_user.F90
  generic3g/OuterMetaComponent/read_restart.F90
  generic3g/OuterMetaComponent/recurse.F90
  generic3g/OuterMetaComponent/run_child_by_name.F90
  generic3g/OuterMetaComponent/run_children.F90
  generic3g/OuterMetaComponent/run_clock_advance.F90
  generic3g/OuterMetaComponent/run_custom.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/OuterMetaComponent/set_entry_point.F90
  generic3g/OuterMetaComponent/write_restart.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3204 Add accumulation_type variable
  CHANGELOG.md
  generic3g/actions/AccumulatorAction.F90
  generic3g/actions/AccumulatorActionInterface.F90
  generic3g/actions/CMakeLists.txt
  generic3g/actions/MaxAction.F90
  generic3g/actions/MeanAction.F90
  generic3g/actions/MinAction.F90
  generic3g/specs/FieldSpec.F90
  generic3g/tests/Test_AccumulatorAction.pf
  generic3g/tests/Test_FieldSpec.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3195 Resolve gfortran segfault issue with vertical regridding tests
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/tests/Test_Scenarios.pf
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3203 fixes #3201
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  pfio/NetCDF4_FileFormatter.F90
Labels: :beetle: Bug, 0 Diff

#3205 Add accumulation_type to VariableSpec and ComponentSpecParser
  CHANGELOG.md
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3211 Feature/bmauer/fixes #3210
  CHANGELOG.md
  base/FileMetadataUtilities.F90
  pfio/Variable.F90
Labels: :gift: New Feature, 0 Diff

#3212 Feature/fixes #3175
  CHANGELOG.md
  base/MAPL_LatLonGridFactory.F90
  griddedio/FieldBundleRead.F90
Labels: :gift: New Feature, 0 Diff

#3174 Fixes #2845. Allow ESMF_CONFIG_FILE to specify ESMF control file
  CHANGELOG.md
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 Diff

#3176 WIP: Fixes needed for flang
  CHANGELOG.md
  generic/AbstractComponent.F90
  generic/MAPL_Generic.F90
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  include/unused_dummy.H
  pfio/AbstractServer.F90
Labels: 0 Diff

#3185 Workaround for ifx bug
  .circleci/config.yml
  CHANGELOG.md
  base/CMakeLists.txt
  pfio/ArrayReference.F90
  pfio/CMakeLists.txt
Labels: 0 Diff

#2982 support for CICE6(or others) to rewind
  CHANGELOG.md
  generic/MAPL_Generic.F90
Labels: 0 Diff

#3224 Prepare for 2.51.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial

#3221 Feature/wdboggs/component timestep
  CHANGELOG.md
  generic3g/CMakeLists.txt
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/ComponentSpecParser/parse_run_dt.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/tests/Test_ComponentSpecParser.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3226 GitFlow: Merge develop into main for 2.51 release
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
  base/CMakeLists.txt
  base/FileMetadataUtilities.F90
  base/MAPL_CFIO.F90
  base/MAPL_DefGridName.F90
  base/MAPL_LatLonGridFactory.F90
  base/Plain_netCDF_Time.F90
  benchmarks/io/checkpoint_simulator/README.md
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
  benchmarks/io/restart_simulator/README.md
  benchmarks/io/restart_simulator/restart_simulator.F90
  components.yaml
  generic/AbstractComponent.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/tests/CMakeLists.txt
  gridcomps/ExtData2G/tests/Test_ExtDataUpdatePointer.pf
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
  griddedio/FieldBundleRead.F90
  include/unused_dummy.H
  pfio/AbstractDataReference.F90
  pfio/AbstractServer.F90
  pfio/ArrayReference.F90
  pfio/CMakeLists.txt
  pfio/ServerThread.F90
  pfio/Variable.F90
Labels: 0 Diff

#3234 Fixes #3232. Properly initialized per-cell counters
  CHANGELOG.md
  generic/GenericCplComp.F90
Labels: 0 Diff

#3236 Prepare for 2.51.1 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial

#3233 Add loggers when reading and writing weights
  CHANGELOG.md
  base/MAPL_EsmfRegridder.F90
Labels: 0 Diff

#3243 fixes #3242
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: :gift: New Feature, 0 Diff, :hammer_and_wrench: Refactor

#3240 Feature/wdboggs/add run dt to field specs
  CHANGELOG.md
  generic3g/OuterMetaComponent/initialize_modify_advertised.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3245 Follow up for #3231
  generic3g/vertical/BasicVerticalGrid.F90
  gridcomps/configurable/ConfigurableGridComp.F90
Labels: :beetle: Bug, 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3249 Fixes #3247 - Initial implementation of StateItemAspect.
  generic3g/registry/ExtensionFamily.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/specs/AspectMap.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/GeomAspect.F90
  generic3g/specs/StateItemAspect.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/UngriddedDimsAspect.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockAspect.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_BaseAspect.pf
  generic3g/tests/Test_BaseItemSpec.pf
  generic3g/tests/Test_ComponentSpecParser.pf
  geom_mgr/CubedSphere/CubedSphereGeomFactory_smod.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3256 fixes #3255
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  profiler/tests/test_ExclusiveColumn.pf
Labels: :beetle: Bug, 0 Diff

#3260 Remove comments in UDSystem.F90
  udunits2f/UDSystem.F90
Labels: :beetle: Bug, 0 Diff, Changelog Skip

#3263 Fixes #3250 - integration of aspects
  generic3g/GriddedComponentDriver/run.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/ExtensionFamily.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/AspectCollection.F90
  generic3g/specs/AspectMap.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/GeomAspect.F90
  generic3g/specs/StateItemAspect.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/specs/WildcardSpec.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3266 Feature/tclune/#3264 producer consumer swap
  generic3g/ComponentDriver.F90
  generic3g/actions/VerticalRegridAction.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/tests/Test_ModelVerticalGrid.pf
  generic3g/vertical/BasicVerticalGrid.F90
  generic3g/vertical/FixedLevelsVerticalGrid.F90
  generic3g/vertical/MirrorVerticalGrid.F90
  generic3g/vertical/ModelVerticalGrid.F90
  generic3g/vertical/VerticalGrid.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3269 fixes #3262
  CHANGELOG.md
  base/NCIO.F90
  generic/MAPL_Generic.F90
Labels: :gift: New Feature, 0 Diff
