Repository GEOS-ESM/MAPL, pull requests merged in 2024-05, with the labels that each got.

#2800 Fixes #2793 basic time spec
  base/TimeStringConversion.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/History3G/tests/Test_HistoryCollectionGridComp.pf
  gridcomps/cap3g/Cap.F90
  gridcomps/cap3g/tests/basic_captest/history.yaml
  gridcomps/cap3g/tests/parent_child_captest/history.yaml
  pfunit/MAPL_Initialize.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2802 Extract multiple field names from var_list expressions in History3g Collection
  CHANGELOG.md
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/History3G/tests/Test_HistoryCollectionGridComp.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#2804 GitFlow: Merge develop into main for 2.46 release
  .circleci/config.yml
  .github/workflows/workflow.yml
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  cmake/FindESMF.cmake
  components.yaml
Labels: 0 Diff

#2810 Fix GNU docker build
  .circleci/config.yml
Labels: 0 Diff Trivial, Changelog Skip, :wrench: Github Actions

#2809 Update to ESMA_cmake v3.45.1
  CHANGELOG.md
  components.yaml
Labels: 0 Diff Trivial

#2812 Fixes #2797
  generic3g/CMakeLists.txt
  generic3g/ComponentBuilder.F90
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/MethodPhasesMap.F90
  generic3g/OuterMetaComponent.F90
  generic3g/SetServices_smod.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_GenericInitialize.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2813 Refactoring init - simplified GEOS.F90
  mapl3g/GEOS.F90
  mapl3g/MaplFramework.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2817 New folders in `geom_mgr` to accommodate submodule files.
  geom_mgr/CMakeLists.txt
  geom_mgr/CoordinateAxis/CMakeLists.txt
  geom_mgr/CoordinateAxis/equal_to_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/get_centers_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/get_coordinates_dim_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/get_corners_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/get_dim_name_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/get_extent_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/is_periodic_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/new_CoordinateAxis_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/not_equal_to_CoordinateAxis.F90
  geom_mgr/CoordinateAxis_smod.F90
  geom_mgr/GeomManager/CMakeLists.txt
  geom_mgr/GeomManager/add_factory_GeomManager.F90
  geom_mgr/GeomManager/add_mapl_geom_GeomManager.F90
  geom_mgr/GeomManager/delete_mapl_geom_GeomManager.F90
  geom_mgr/GeomManager/get_geom_from_id_GeomManager.F90
  geom_mgr/GeomManager/get_mapl_geom_from_hconfig_GeomManager.F90
  geom_mgr/GeomManager/get_mapl_geom_from_id_GeomManager.F90
  geom_mgr/GeomManager/get_mapl_geom_from_metadata_GeomManager.F90
  geom_mgr/GeomManager/get_mapl_geom_from_spec_GeomManager.F90
  geom_mgr/GeomManager/initialize_GeomManager.F90
  geom_mgr/GeomManager/make_geom_spec_from_hconfig_GeomManager.F90
  geom_mgr/GeomManager/make_geom_spec_from_metadata_GeomManager.F90
  geom_mgr/GeomManager/make_mapl_geom_from_spec_GeomManager.F90
  geom_mgr/GeomManager/new_GeomManager_GeomManager.F90
  geom_mgr/GeomManager_smod.F90
  geom_mgr/MaplGeom/CMakeLists.txt
  geom_mgr/MaplGeom/get_basis_MaplGeom.F90
  geom_mgr/MaplGeom/get_factory_MaplGeom.F90
  geom_mgr/MaplGeom/get_file_metadata_MaplGeom.F90
  geom_mgr/MaplGeom/get_geom_MaplGeom.F90
  geom_mgr/MaplGeom/get_gridded_dims_MaplGeom.F90
  geom_mgr/MaplGeom/get_spec_MaplGeom.F90
  geom_mgr/MaplGeom/new_MaplGeom_MaplGeom.F90
  geom_mgr/MaplGeom/set_id_MaplGeom.F90
  geom_mgr/MaplGeom_smod.F90
  geom_mgr/VectorBasis/CMakeLists.txt
  geom_mgr/VectorBasis/MAPL_GeomGetCoords_VectorBasis.F90
  geom_mgr/VectorBasis/create_fields_VectorBasis.F90
  geom_mgr/VectorBasis/destroy_fields_VectorBasis.F90
  geom_mgr/VectorBasis/get_unit_vector_VectorBasis.F90
  geom_mgr/VectorBasis/grid_get_centers_VectorBasis.F90
  geom_mgr/VectorBasis/grid_get_coords_1d_VectorBasis.F90
  geom_mgr/VectorBasis/grid_get_coords_2d_VectorBasis.F90
  geom_mgr/VectorBasis/grid_get_corners_VectorBasis.F90
  geom_mgr/VectorBasis/latlon2xyz_VectorBasis.F90
  geom_mgr/VectorBasis/mid_pt_sphere_VectorBasis.F90
  geom_mgr/VectorBasis/new_GridVectorBasis_VectorBasis.F90
  geom_mgr/VectorBasis/new_NS_Basis_VectorBasis.F90
  geom_mgr/VectorBasis/xyz2latlon_VectorBasis.F90
  geom_mgr/VectorBasis_smod.F90
  geom_mgr/latlon/CMakeLists.txt
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2822 Update to ESMA_cmake v3.45.1 on main
  CHANGELOG.md
  CMakeLists.txt
  components.yaml
Labels: 0 Diff

#2824 Break procedures in generic3g/ComponentSpecParser.F90 into submodules
  generic3g/CMakeLists.txt
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/CMakeLists.txt
  generic3g/ComponentSpecParser/parse_child.F90
  generic3g/ComponentSpecParser/parse_children.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/ComponentSpecParser/parse_connections.F90
  generic3g/ComponentSpecParser/parse_geometry_spec.F90
  generic3g/ComponentSpecParser/parse_setservices.F90
  generic3g/ComponentSpecParser/parse_var_specs.F90
  geom_mgr/CoordinateAxis/CMakeLists.txt
  geom_mgr/CoordinateAxis/equal_to.F90
  geom_mgr/CoordinateAxis/get_centers.F90
  geom_mgr/CoordinateAxis/get_coordinates_dim.F90
  geom_mgr/CoordinateAxis/get_corners.F90
  geom_mgr/CoordinateAxis/get_dim_name.F90
  geom_mgr/CoordinateAxis/get_extent.F90
  geom_mgr/CoordinateAxis/is_periodic.F90
  geom_mgr/CoordinateAxis/new_CoordinateAxis.F90
  geom_mgr/CoordinateAxis/not_equal_to.F90
  geom_mgr/GeomManager.F90
  geom_mgr/GeomManager/CMakeLists.txt
  geom_mgr/GeomManager/add_factory.F90
  geom_mgr/GeomManager/add_mapl_geom.F90
  geom_mgr/GeomManager/delete_mapl_geom.F90
  geom_mgr/GeomManager/get_geom_from_id.F90
  geom_mgr/GeomManager/get_geom_manager.F90
  geom_mgr/GeomManager/get_mapl_geom_from_hconfig.F90
  geom_mgr/GeomManager/get_mapl_geom_from_id.F90
  geom_mgr/GeomManager/get_mapl_geom_from_metadata.F90
  geom_mgr/GeomManager/get_mapl_geom_from_spec.F90
  geom_mgr/GeomManager/initialize.F90
  geom_mgr/GeomManager/make_geom_spec_from_hconfig.F90
  geom_mgr/GeomManager/make_geom_spec_from_metadata.F90
  geom_mgr/GeomManager/make_mapl_geom_from_spec.F90
  geom_mgr/GeomManager/new_GeomManager.F90
  geom_mgr/MaplGeom/CMakeLists.txt
  geom_mgr/MaplGeom/get_basis.F90
  geom_mgr/MaplGeom/get_factory.F90
  geom_mgr/MaplGeom/get_file_metadata.F90
  geom_mgr/MaplGeom/get_geom.F90
  geom_mgr/MaplGeom/get_gridded_dims.F90
  geom_mgr/MaplGeom/get_spec.F90
  geom_mgr/MaplGeom/new_MaplGeom.F90
  geom_mgr/MaplGeom/set_id.F90
  geom_mgr/VectorBasis/CMakeLists.txt
  geom_mgr/VectorBasis/MAPL_GeomGetCoords.F90
  geom_mgr/VectorBasis/create_fields.F90
  geom_mgr/VectorBasis/destroy_fields.F90
  geom_mgr/VectorBasis/get_unit_vector.F90
  geom_mgr/VectorBasis/grid_get_centers.F90
  geom_mgr/VectorBasis/grid_get_coords_1d.F90
  geom_mgr/VectorBasis/grid_get_coords_2d.F90
  geom_mgr/VectorBasis/grid_get_corners.F90
  geom_mgr/VectorBasis/latlon2xyz.F90
  geom_mgr/VectorBasis/mid_pt_sphere.F90
  geom_mgr/VectorBasis/new_GridVectorBasis.F90
  geom_mgr/VectorBasis/new_NS_Basis.F90
  geom_mgr/VectorBasis/xyz2latlon.F90
  shared/MAPL_Throw.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2828 Break the module mapl3g_ESMF_HConfigUtilities into submodules
  generic3g/CMakeLists.txt
  generic3g/ESMF_HConfigUtilities.F90
  generic3g/ESMF_HConfigUtilities/CMakeLists.txt
  generic3g/ESMF_HConfigUtilities/MAPL_HConfigMatch.F90
  generic3g/ESMF_HConfigUtilities/write_hconfig.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2826 Mapl3/tclune/improve mapl init
  generic3g/GriddedComponentDriver_smod.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/cap3g/Cap.F90
  gridcomps/cap3g/tests/basic_captest/cap.yaml
  gridcomps/cap3g/tests/parent_child_captest/cap.yaml
  mapl3g/CMakeLists.txt
  mapl3g/GEOS.F90
  mapl3g/MaplFramework.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2801 Backport Python3 changes to MAPL 2.8.0
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  CMakeLists.txt
  Python/MAPL/Date.py
  Python/MAPL/__init__.py
  Python/MAPL/config.py
  Python/MAPL/constants.py
  Python/MAPL/exp.py
  Python/MAPL/history.py
  Python/MAPL/job.py
  Python/MAPL/run.py
Labels: 0 Diff

#2832 Add Cubed Sphere grid factory to MAPL3 geom factory
  generic3g/UserSetServices.F90
  geom_mgr/CMakeLists.txt
  geom_mgr/CubedSphere/CMakeLists.txt
  geom_mgr/CubedSphere/CubedSphereDecomposition.F90
  geom_mgr/CubedSphere/CubedSphereDecomposition_smod.F90
  geom_mgr/CubedSphere/CubedSphereGeomFactory.F90
  geom_mgr/CubedSphere/CubedSphereGeomFactory_smod.F90
  geom_mgr/CubedSphere/CubedSphereGeomSpec.F90
  geom_mgr/CubedSphere/CubedSphereGeomSpec_smod.F90
  geom_mgr/GeomManager/initialize.F90
  geom_mgr/GeomManager/new_GeomManager.F90
  geom_mgr/tests/CMakeLists.txt
  geom_mgr/tests/Test_CubedSphereGeomFactory.pf
  gridcomps/cap3g/tests/basic_captest/history.yaml
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2815 Do not create file if not writing
  CHANGELOG.md
  benchmarks/io/checkpoint_simulator/README.md
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
Labels: 0 Diff Trivial

#2833 Fix issue with Open MPI 4, GCC 13, and MPI_Group_range_incl
  mapl3g/MaplFramework.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2834 Revist the creation of submodules in geom_mgr
  geom_mgr/GeomManager.F90
  geom_mgr/GeomManager/CMakeLists.txt
  geom_mgr/GeomManager/add_factory.F90
  geom_mgr/GeomManager/add_mapl_geom.F90
  geom_mgr/GeomManager/delete_mapl_geom.F90
  geom_mgr/GeomManager/find_factory.F90
  geom_mgr/GeomManager/get_geom_from_id.F90
  geom_mgr/GeomManager/get_mapl_geom_from_hconfig.F90
  geom_mgr/GeomManager/get_mapl_geom_from_id.F90
  geom_mgr/GeomManager/get_mapl_geom_from_metadata.F90
  geom_mgr/GeomManager/get_mapl_geom_from_spec.F90
  geom_mgr/GeomManager/initialize.F90
  geom_mgr/GeomManager/make_geom_spec_from_hconfig.F90
  geom_mgr/GeomManager/make_geom_spec_from_metadata.F90
  geom_mgr/GeomManager/make_mapl_geom_from_spec.F90
  geom_mgr/GeomManager/new_GeomManager.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2830 Add debug information to fglob function
  CHANGELOG.md
  base/MAPL_ObsUtil.F90
Labels: 0 Diff Trivial

#2808 avoid "done" message when there is no request
  CHANGELOG.md
  pfio/BaseThread.F90
  pfio/ClientThread.F90
Labels: 0 Diff

#2835 Generic IO for server
  GeomIO/CMakeLists.txt
  GeomIO/Grid_PFIO.F90
  GeomIO/SharedIO.F90
  GeomIO/pFIOServerBounds.F90
  pfio/ArrayReference.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2840 Fix a bug for Nx Ny in swath grid
  CHANGELOG.md
  base/MAPL_SwathGridFactory.F90
Labels: 0 Diff, Changelog Skip

#2854 rm debugging print statement
  CHANGELOG.md
  CMakeLists.txt
  generic/OpenMP_Support.F90
Labels: 0 Diff Trivial
