Repository GEOS-ESM/MAPL, pull requests merged in 2024-02, with the labels that each got.

#2565 Added ability to print HConfig objects.
  generic3g/CMakeLists.txt
  generic3g/ESMF_HConfigUtilities.F90
  generic3g/ESMF_Utilities.F90
  generic3g/Generic3g.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_HConfigMatch.pf
  generic3g/tests/Test_WriteYaml.pf
  gridcomps/History3G/CMakeLists.txt
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/History3G/HistoryGridComp_private.F90
  gridcomps/History3G/tests/CMakeLists.txt
  gridcomps/History3G/tests/Test_HistoryGridComp.pf
  include/MAPL_TestErr.h
Labels: 0 diff, Skip Changelog, MAPL3

#2567 Feature/wdboggs/mapl3 history
  CHANGELOG.md
  generic3g/ESMF_HConfigUtilities.F90
  generic3g/tests/Test_HConfigMatch.pf
  gridcomps/History3G/CMakeLists.txt
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/History3G/HistoryGridComp_private.F90
  gridcomps/History3G/tests/CMakeLists.txt
  gridcomps/History3G/tests/Test_HistoryCollectionGridComp.pf
  gridcomps/History3G/tests/Test_HistoryGridComp.pf
Labels: Non 0-diff, MAPL3

#2571 Fixed a memory leak affecting regional masking
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataMasking.F90
Labels: 0 diff, bugfix

#2566 Add Special NCCS Build Preset
  .gitignore
  CHANGELOG.md
  CMakePresets.json
  presets/CMakeDefaultPresets.json
  presets/CMakeNCCSPresets.json
Labels: 0 diff trivial

#2568 added nf90 interface to read and write 1d string
  CHANGELOG.md
  pfio/CMakeLists.txt
  pfio/NetCDF4_FileFormatter.F90
  pfio/NetCDF4_get_var.H
  pfio/NetCDF4_put_var.H
  pfio/NetCDF_Supplement.F90
  pfio/pfio_get_att_string.c
  pfio/pfio_nf90_supplement.c
  pfio/tests/pfio_read_write_1d_string_example.F90
Labels: 0 diff

#2575 Fixes #2569. Convert MAPL to use ESMF::ESMF target
  Apps/CMakeLists.txt
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL_cfio/CMakeLists.txt
  Tests/CMakeLists.txt
  base/CMakeLists.txt
  base/tests/CMakeLists.txt
  benchmarks/io/checkpoint_simulator/CMakeLists.txt
  cmake/FindESMF.cmake
  components.yaml
  docs/tutorial/grid_comps/automatic_code_generator_example/CMakeLists.txt
  docs/tutorial/grid_comps/hello_world_gridcomp/CMakeLists.txt
  docs/tutorial/grid_comps/leaf_comp_a/CMakeLists.txt
  docs/tutorial/grid_comps/leaf_comp_b/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_no_children/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_one_child/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_two_children/CMakeLists.txt
  field_utils/CMakeLists.txt
  generic/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/ExtData/CMakeLists.txt
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  gridcomps/Orbit/CMakeLists.txt
  griddedio/CMakeLists.txt
  pfunit/CMakeLists.txt
Labels: 0 diff

#2582 Handmerge develop into release/MAPL-v3 2024-Feb-07
  Apps/CMakeLists.txt
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL_cfio/CMakeLists.txt
  Tests/CMakeLists.txt
  base/CMakeLists.txt
  base/tests/CMakeLists.txt
  benchmarks/esmf/CMakeLists.txt
  benchmarks/io/checkpoint_simulator/CMakeLists.txt
  cmake/FindESMF.cmake
  components.yaml
  docs/tutorial/grid_comps/automatic_code_generator_example/CMakeLists.txt
  docs/tutorial/grid_comps/hello_world_gridcomp/CMakeLists.txt
  docs/tutorial/grid_comps/leaf_comp_a/CMakeLists.txt
  docs/tutorial/grid_comps/leaf_comp_b/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_no_children/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_one_child/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_two_children/CMakeLists.txt
  field_utils/CMakeLists.txt
  generic/CMakeLists.txt
  generic3g/CMakeLists.txt
  geom_mgr/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/ExtData/CMakeLists.txt
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  gridcomps/Orbit/CMakeLists.txt
  griddedio/CMakeLists.txt
  pfunit/CMakeLists.txt
  regridder_mgr/CMakeLists.txt
Labels: 0 diff, Skip Changelog, automatic, MAPL3

#2580 Mapl3/tclune/couplers
  generic3g/GriddedComponentDriver_smod.F90
  generic3g/OuterMetaComponent.F90
  generic3g/actions/ConvertUnitsAction.F90
  generic3g/actions/PrecisionConverter.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/ActualPtComponentDriverMap.F90
  generic3g/registry/CMakeLists.txt
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/tests/Test_HierarchicalRegistry.pf
Labels: 0 diff, Skip Changelog, MAPL3

#2584 Fix field utils tests
  CHANGELOG.md
  field_utils/tests/Test_FieldArithmetic.pf
  field_utils/tests/Test_FieldBLAS.pf
  field_utils/tests/field_utils_setup.F90
Labels: 0 diff, bugfix

#2586 Handmerge of develop into MAPL3 2024-Feb-08
  CHANGELOG.md
  field_utils/tests/Test_FieldArithmetic.pf
  field_utils/tests/Test_FieldBLAS.pf
  field_utils/tests/field_utils_setup.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2583 Add INSTALL.md
  CHANGELOG.md
  INSTALL.md
  README.md
Labels: documentation, 0 diff trivial

#2395 Fixes for NVHPC
  Apps/Regrid_Util.F90
  CHANGELOG.md
  docs/tutorial/driver_app/Example_Driver.F90
  generic/OpenMP_Support.F90
  gridcomps/Cap/FargparseCLI.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
  griddedio/TileIO.F90
Labels: 0 diff, long term

#2589 Handmerge develop into MAPL3 2024-Feb-08 2nd
  Apps/Regrid_Util.F90
  CHANGELOG.md
  docs/tutorial/driver_app/Example_Driver.F90
  generic/OpenMP_Support.F90
  gridcomps/Cap/FargparseCLI.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
  griddedio/TileIO.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2590 Prepare for 2.44.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#2595 Mapl3/tclune/activate unit conversion
  generic3g/OuterMetaComponent.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  generic3g/tests/Test_WriteYaml.pf
  generic3g/tests/gridcomps/SimpleParentGridComp.F90
  generic3g/tests/scenarios/history_1/A.yaml
  generic3g/tests/scenarios/history_1/collection_1.yaml
  generic3g/tests/scenarios/history_1/expectations.yaml
Labels: 0 diff, Skip Changelog, MAPL3

#2597 Added return code to `can_connect_to` method.
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_FieldSpec.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
Labels: 0 diff, Skip Changelog, MAPL3

#2394 New SPLIT_CHECKPOINT option to replace read/write by face
  Apps/CMakeLists.txt
  Apps/combine_restarts.py
  Apps/split_restart.py
  CHANGELOG.md
  base/FileIOShared.F90
  base/MAPL_GridManager.F90
  base/MaplGrid.F90
  base/NCIO.F90
  generic/MAPL_Generic.F90
Labels: new feature, 0 diff

#2603 Mapl3/tclune/change spec create interface
  generic3g/ComponentSpecParser.F90
  generic3g/OuterMetaComponent.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_BracketSpec.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2619 ignore iclients call when no exdata is needed
  CHANGELOG.md
  gridcomps/ExtData/ExtDataGridCompMod.F90
Labels: 0 diff

#2622 Feature/bmauer/per collection timer
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: new feature, 0 diff

#2602 Fixes to allow SCM model to run
  CHANGELOG.md
  base/FileIOShared.F90
  base/NCIO.F90
  generic/MAPL_Generic.F90
Labels: 0 diff, bugfix

#2626 Add remove attribute procedure to FileMetadata
  CHANGELOG.md
  pfio/FileMetadata.F90
  pfio/Variable.F90
Labels: new feature, 0 diff
