Repository GEOS-ESM/MAPL, pull requests merged in 2024-03, with the labels that each got.

#2629 Fix but with split restarts
  Apps/combine_restarts.py
  Apps/split_restart.py
  CHANGELOG.md
  base/NCIO.F90
  generic/MAPL_Generic.F90
Labels: 0 diff, bugfix

#2634 restore line
  base/MAPL_EsmfRegridder.F90
Labels: 0 diff, Skip Changelog

#2635 Handmerge develop into mapl3 2024-Mar-07
  Apps/Regrid_Util.F90
  CHANGELOG.md
  base/MAPL_EsmfRegridder.F90
  base/MaplGrid.F90
  base/RegridMethods.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/GriddedIO.F90
Labels: 0 diff

#2637 Fix a bug in subroutine destroy_route_handle
  CHANGELOG.md
  base/MAPL_EsmfRegridder.F90
Labels: bug, 0 diff structural

#2639 Fix bug with GriddedIO and Extdata1G
  griddedio/GriddedIO.F90
Labels: 0 diff, Skip Changelog

#2600 Mask sampler for geostationary satellite
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_StationSamplerMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: 0 diff structural, 0 diff trivial

#2646 Handmerge develop into MAPL3 2024-Mar-12
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_StationSamplerMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: 0 diff

#2645 Minor improvement on swath sampler
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: 0 diff structural, 0 diff trivial

#2651 Update to ESMA_cmake v3.42.0
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#2652 Fix test.
  geom_mgr/tests/Test_GeomManager.pf
Labels: 0 diff, Skip Changelog, MAPL3

#2654 Hotfix/mapl3/mapl3 port to ifort 2021.11
  generic3g/ComponentSpecParser.F90
  geom_mgr/latlon/LatLonGeomSpec.F90
  geom_mgr/latlon/LatLonGeomSpec_smod.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2658 fixes #2657
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: Non 0-diff, bugfix

#2664 Feature/tclune#2663 port to nag 7.201
  CHANGELOG.md
  docs/tutorial/driver_app/Example_Driver.F90
  gridcomps/MAPL_GridComps.F90
Labels: bug, 0 diff, Skip Changelog

#2666 Handmerge develop into MAPL3 2024-Mar-21
  CHANGELOG.md
  docs/tutorial/driver_app/Example_Driver.F90
  gridcomps/MAPL_GridComps.F90
Labels: 0 diff, MAPL3

#2668 Fix up Ford Docs
  .github/actions/deploy-ford-docs/action.yml
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
Labels: documentation, 0 diff trivial, Skip Changelog

#2670 Feature/bmauer/fixes #2440
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
  Tests/VarspecDescription.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: new feature, 0 diff

#2673 remove block that was for debugging
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff

#2674 Handmerge develop into MAPL3 2024-Mar-25
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
  Tests/VarspecDescription.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2677 fixes #2675
  Apps/time_ave_util.F90
  CHANGELOG.md
Labels: 0 diff, bugfix

#2678 Prepare for 2.44.2 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff

#2680 Convert ESMF_AttributeCopy to three-step info
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2685 changes needed for R21C
  .circleci/config.yml
  CHANGELOG.md
  griddedio/GriddedIO.F90
  pfio/Variable.F90
Labels: new feature, 0 diff

#2689 Merge R21C into develop: Compress lats and lons in CS output if deflate requested
  CHANGELOG.md
  griddedio/GriddedIO.F90
  pfio/Variable.F90
Labels: 0 diff

#2687 Fixes #2686
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_CubedSphereGridFactory.F90
  base/tests/mapl_bundleio_test.F90
Labels: 0 diff, bugfix

#2691 Removed unused logic.
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
Labels: 0 diff, Skip Changelog, refactor, MAPL3

#2695 Mapl3/tclune/per component clock
  generic3g/GenericGridComp.F90
  generic3g/GriddedComponentDriver.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_smod.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  gridcomps/cap3g/Cap.F90
Labels: new feature, 0 diff, Skip Changelog, MAPL3
