Repository GEOS-ESM/MAPL, pull requests merged in 2024-01, with the labels that each got.

#2520 Feature/tclune/mapl3 dec23
  benchmarks/CMakeLists.txt
  benchmarks/esmf/CMakeLists.txt
  benchmarks/esmf/README.md
  benchmarks/esmf/gc_run.F90
  generic3g/CMakeLists.txt
  generic3g/ChildComponent.F90
  generic3g/ChildComponentMap.F90
  generic3g/ComponentDriver.F90
  generic3g/ComponentDriverMap.F90
  generic3g/ComponentDriver_smod.F90
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/MAPL_Generic.F90
  generic3g/MultiState.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_addChild_smod.F90
  generic3g/OuterMetaComponent_smod.F90
  generic3g/UserComponent.F90
  generic3g/couplers/BidirectionalObserver.F90
  generic3g/couplers/CMakeLists.txt
  generic3g/couplers/GenericCoupler.F90
  generic3g/couplers/HandlerMap.F90
  generic3g/couplers/HandlerVector.F90
  generic3g/couplers/ImportCoupler.F90
  generic3g/couplers/Observable.F90
  generic3g/couplers/ObservablePtrVector.F90
  generic3g/couplers/Observed.F90
  generic3g/couplers/Observer.F90
  generic3g/couplers/ObserverPtrVector.F90
  generic3g/couplers/esmf-way/CouplerMetaComponent.F90
  generic3g/couplers/esmf-way/GenericCoupler.F90
  generic3g/couplers/outer.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  generic3g/tests/Test_Traverse.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  generic3g/tests/gridcomps/SimpleParentGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/History3G/schema.yml
  gridcomps/cap3g/ApplicationMode.F90
  gridcomps/cap3g/Cap.F90
  gridcomps/cap3g/CapGridComp.F90
  gridcomps/cap3g/Generic.F90
  gridcomps/cap3g/ModelMode.F90
  gridcomps/cap3g/ServerMode.F90
  gridcomps/cap3g/cap.yaml
  gridcomps/cap3g/mit.F90
  include/MAPL_ErrLog.h
Labels: 0 diff, Skip Changelog, MAPL3

#2519 Update CI to use Open MPI 5.0.0 for GNU
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 diff trivial

#2517 Enable Ninja Builds of GEOS in CI
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#2522 Fix wrong type of RETURN
  base/MAPL_MemUtils.F90
Labels: 0 diff trivial

#2529 Feature/tclune/mapl3 jan24
  MAPL/CMakeLists.txt
  MAPL/GEOS.F90
  MAPL/mapl3g.F90
  generic3g/CMakeLists.txt
  generic3g/ComponentDriver.F90
  generic3g/ComponentDriverMap.F90
  generic3g/ComponentDriverVector.F90
  generic3g/Generic3g.F90
  generic3g/GriddedComponentDriver.F90
  generic3g/GriddedComponentDriverMap.F90
  generic3g/GriddedComponentDriver_smod.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_smod.F90
  generic3g/couplers/CMakeLists.txt
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_FieldSpec.pf
  generic3g/tests/Test_GenericInitialize.pf
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  gridcomps/CMakeLists.txt
  gridcomps/cap3g/CMakeLists.txt
  gridcomps/cap3g/Cap.F90
  gridcomps/cap3g/CapGridComp.F90
  gridcomps/cap3g/CapGridComp.yaml
  gridcomps/cap3g/Generic.F90
  gridcomps/cap3g/MAPL_Framework.F90
  gridcomps/cap3g/cap.yaml
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#2533 Feature/tclune/mapl3 units
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_FieldSpec.pf
  generic3g/tests/scenarios/history_1/A.yaml
  generic3g/tests/scenarios/history_1/B.yaml
  generic3g/tests/scenarios/history_1/collection_1.yaml
  generic3g/tests/scenarios/history_wildcard/A.yaml
  generic3g/tests/scenarios/history_wildcard/B.yaml
  generic3g/tests/scenarios/history_wildcard/collection_1.yaml
  generic3g/tests/scenarios/scenario_1/child_A.yaml
  generic3g/tests/scenarios/scenario_1/child_B.yaml
  generic3g/tests/scenarios/ungridded_dims/A.yaml
  generic3g/tests/scenarios/ungridded_dims/B.yaml
Labels: new feature, 0 diff, Skip Changelog, MAPL3

#2531 Explicitly use iso_c_binding types
  CHANGELOG.md
  base/Plain_netCDF_Time.F90
  benchmarks/io/checkpoint_simulator/CMakeLists.txt
  benchmarks/io/combo/CMakeLists.txt
  benchmarks/io/gatherv/CMakeLists.txt
  benchmarks/io/raw_bw/CMakeLists.txt
  field_utils/FieldPointerUtilities.F90
Labels: 0 diff

#2524 Remove ESMF_HAS_ACHAR_BUG CMake and cpp macro, update to ESMA_cmake v3.37.0
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_Config.F90
  components.yaml
Labels: 0 diff trivial

#2518 Restore missing interfaces
  CHANGELOG.md
  base/Base/Base_Base.F90
  base/Base/Base_Base_implementation.F90
Labels: 0 diff

#2536 Refactor CircleCI workflows
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial

#2542 Handmerge develop into MAPL 3 2024-Jan-18
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 diff trivial, Skip Changelog, automatic

#2543 changes for History3G
  generic3g/ESMF_Subset.F90
  generic3g/MAPL_Generic.F90
  gridcomps/CMakeLists.txt
  gridcomps/History3G/CMakeLists.txt
  gridcomps/History3G/HistoryGridComp.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2527 Revise sampler code in History
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  base/MAPL_Comms.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/MAPL_EpochSwathMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
Labels: 0 diff structural

#2545 Handmerge develop into MAPL3 2024-Jan-19
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  base/MAPL_Comms.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/MAPL_EpochSwathMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod.F90
  gridcomps/History/MAPL_HistoryTrajectoryMod_smod.F90
Labels: 0 diff, Skip Changelog, automatic, MAPL3

#2538 Fix fields utils, Issue #2530
  CHANGELOG.md
  field_utils/tests/Test_FieldArithmetic.pf
  field_utils/tests/Test_FieldBLAS.pf
  field_utils/tests/field_utils_setup.F90
Labels: 0 diff, refactor

#2516 MAPL3 Interface between ESMF_Field and udunits2
  CHANGELOG.md
  cmake/Findudunits.cmake
  field_utils/CMakeLists.txt
  field_utils/FieldUnits.F90
  field_utils/MockField.F90
  field_utils/mapl_udunits2.F90
  field_utils/mapl_udunits2cfunc.c
  field_utils/mapl_udunits2cfunc.h
  field_utils/mapl_udunits2encoding.F90
  field_utils/mapl_udunits2interfaces.F90
  field_utils/mapl_udunits2status.F90
  field_utils/tests/CMakeLists.txt
  field_utils/tests/Test_mapl_udunits2.pf
  field_utils/tests/Test_mapl_udunits2private.pf
Labels: new feature, 0 diff, MAPL3

#2548 Feature/tclune/mapl3 field spec
  generic3g/CMakeLists.txt
  generic3g/Generic3g.F90
  generic3g/MAPL3_Deprecated.F90
  generic3g/MAPL_Generic.F90
  generic3g/actions/BundleAction.F90
  generic3g/actions/CMakeLists.txt
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/StateItem.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_BracketSpec.pf
  generic3g/tests/Test_FieldSpec.pf
  generic3g/tests/Test_RunChild.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/cap3g/Cap.F90
  gridcomps/cap3g/CapGridComp.F90
Labels: 0 diff, Skip Changelog, MAPL3

#2546 updates for geostationary output part 2
  CHANGELOG.md
  base/MAPL_Comms.F90
  base/MAPL_EsmfRegridder.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/MAPL_XYGridFactory.F90
  base/Plain_netCDF_Time.F90
  shared/Shmem/Shmem.F90
  shared/Shmem/Shmem_implementation.F90
Labels: 0 diff

#2559 add message to oserver-root even it is 0-sized
  CHANGELOG.md
  pfio/MultiGroupServer.F90
Labels: 0 diff, bugfix

#2561 Prepare for 2.43.1 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 diff trivial

#2556 Fixes #2553. Detect mpiuni builds of ESMF
  CHANGELOG.md
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 diff
