Repository GEOS-ESM/MAPL, pull requests merged in 2024-09, with the labels that each got.

#3004 Remove the procedure process_connections from a module file.
  generic3g/OuterMetaComponent/initialize_modify_advertised2.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3005 Update to ESMA_cmake v3.51.0
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#3007 Feature/bmauer/containers extdata2g
  CHANGELOG.md
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataDerivedExportVector.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataPrimaryExportVector.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor

#3008 Mapl3/tclune/vert regrid single double
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_CSR_SparseMatrix.pf
  generic3g/vertical/CMakeLists.txt
  generic3g/vertical/CSR_SparseMatrix.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3010 Remove pick_geom_ from VariableSpec
  generic3g/specs/VariableSpec.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2990 Move from stale bot to stale action
  .github/stale.yml
  .github/workflows/cron-stale.yml
Labels: 0 Diff Trivial, Changelog Skip

#3012 GitFlow: Handmerge develop into MAPL3
  CHANGELOG.md
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataDerivedExportVector.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataPrimaryExportVector.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3006 Enable import items to specify regrid parameter
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3014 Further work to reduce compiler warnings.
  generic3g/FieldDictionary.F90
  generic3g/InnerMetaComponent.F90
  generic3g/MultiState.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/attach_outer_meta.F90
  generic3g/OuterMetaComponent/init_meta.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised.F90
  generic3g/OuterMetaComponent/run_child_by_name.F90
  generic3g/OuterMetaComponent/run_children.F90
  generic3g/OuterMetaComponent/run_clock_advance.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/OuterMetaComponent/write_restart.F90
  generic3g/RestartHandler.F90
  generic3g/UserSetServices.F90
  generic3g/actions/ConvertUnitsAction.F90
  generic3g/actions/CopyAction.F90
  generic3g/actions/NullAction.F90
  generic3g/actions/RegridAction.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/esmf-way/CouplerMetaComponent.F90
  generic3g/couplers/esmf-way/GenericCoupler.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/WildcardSpec.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/cap3g/CapGridComp.F90
  include/MAPL_private_state.h
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3015 Update to ESMA_env v4.30.1
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#3016 Cleanup for VariableSpec
  generic3g/specs/VariableSpec.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3017 Update stale action to remove stale label when unstale
  .github/workflows/cron-stale.yml
Labels: 0 Diff Trivial, Changelog Skip, :wrench: Github Actions

#3019 Feature/bmauer/fixes #2986
  generic3g/ComponentSpecParser/parse_geometry_spec.F90
  generic3g/tests/Test_FixedLevelsVerticalGrid.pf
  generic3g/vertical/FixedLevelsVerticalGrid.F90
  generic3g/vertical/FixedLevelsVerticalGrid/can_connect_to.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3026 read explicit "string" type of an attribute of a netcdf variable
  CHANGELOG.md
  pfio/NetCDF4_FileFormatter.F90
Labels: 0 Diff

#3029 Mapl3/tclune/filter for closest
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/ExtensionFamily.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_ExtensionFamily.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  generic3g/tests/Test_StateRegistry.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  generic3g/tests/scenarios/3d_specs/parent.yaml
  generic3g/tests/scenarios/export_dependency/parent.yaml
  generic3g/tests/scenarios/extdata_1/root.yaml
  generic3g/tests/scenarios/history_wildcard/B.yaml
  generic3g/tests/scenarios/history_wildcard/cap.yaml
  generic3g/tests/scenarios/history_wildcard/root.yaml
  generic3g/tests/scenarios/precision_extension/parent.yaml
  generic3g/tests/scenarios/precision_extension_3d/parent.yaml
  generic3g/tests/scenarios/scenario_1/parent.yaml
  generic3g/tests/scenarios/scenario_2/parent.yaml
  generic3g/tests/scenarios/service_service/parent.yaml
  generic3g/tests/scenarios/ungridded_dims/parent.yaml
  generic3g/vertical/BasicVerticalGrid.F90
  generic3g/vertical/VerticalGrid.F90
  generic3g/vertical/t.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3032 candidate for a v2.35.2+R21C_v1.3.0
  griddedio/FieldBundleRead.F90
  griddedio/FieldBundleWrite.F90
Labels: :gift: New Feature, 0 Diff Trivial, Changelog Skip

#3033 Adapter adapts.
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/ExtensionFamily.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_FieldSpec.pf
  generic3g/tests/Test_ModelVerticalGrid.pf
  generic3g/tests/scenarios/extdata_1/expectations.yaml
  generic3g/tests/scenarios/extdata_1/extdata.yaml
  generic3g/vertical/ModelVerticalGrid.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3035 Fixes #3034. Convert Cap time print to colons
  CHANGELOG.md
  docs/tutorial/mapl_tutorials/hello_world/README.md
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 Diff

#3039 querring VLOCATION on MAPL_VerticalMethods.F90 for rank 2 fields
  CHANGELOG.md
  base/MAPL_VerticalMethods.F90
Labels: 0 Diff

#3044 Refactor make_extension()
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3040 new restart_simulator.x code
  CHANGELOG.md
  benchmarks/io/CMakeLists.txt
  benchmarks/io/restart_simulator/CMakeLists.txt
  benchmarks/io/restart_simulator/README.md
  benchmarks/io/restart_simulator/restart_simulator.F90
Labels: :gift: New Feature, 0 Diff Trivial

#3049 Prepare for 2.48.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff

#3045 Get array size of a condensed rank-3 array pointer formed from ESMF_Field Fortran pointer
  CHANGELOG.md
  GeomIO/SharedIO.F90
  base/CMakeLists.txt
  esmf_utils/CMakeLists.txt
  esmf_utils/FieldDimensionInfo.F90
  esmf_utils/tests/CMakeLists.txt
  esmf_utils/tests/Test_FieldDimensionInfo.pf
  field_utils/CMakeLists.txt
  field_utils/FieldCondensedArray.F90
  field_utils/FieldCondensedArray_private.F90
  field_utils/FieldPointerUtilities.F90
  field_utils/tests/CMakeLists.txt
  field_utils/tests/Test_FieldCondensedArray_private.pf
  generic3g/Generic3g.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/History3G/tests/CMakeLists.txt
  shared/CMakeLists.txt
  shared/MAPL_ESMF_InfoKeys.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3058 fixes #3042
  CHANGELOG.md
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  Tests/ExtData_Testing_Framework/run_extdata.cmake
Labels: 0 Diff Trivial, :hammer_and_wrench: Refactor
