Repository GEOS-ESM/MAPL, pull requests merged in 2024-08, with the labels that each got.

#2933 Connection parameters
  generic3g/FieldDictionary.F90
  generic3g/FieldDictionaryItem.F90
  generic3g/actions/RegridAction.F90
  generic3g/specs/FieldSpec.F90
Labels: 0 Diff, Changelog Skip

#2941 Update to ESMA_cmake v3.49.0 (SMOD for submodules)
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#2942 Rename hist/ext collection in pfio as write/read data
  GeomIO/Geom_PFIO.F90
  Tests/pfio_MAPL_demo.F90
  base/NCIO.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/FieldBundleRead.F90
  griddedio/FieldBundleWrite.F90
  pfio/AbstractMessage.F90
  pfio/AddReadDataCollectionMessage.F90
  pfio/AddWriteDataCollectionMessage.F90
  pfio/CMakeLists.txt
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/MessageVisitor.F90
  pfio/ProtocolParser.F90
  pfio/ServerThread.F90
  pfio/pfio.md
  pfio/pfio_collective_demo.F90
  pfio/pfio_server_demo.F90
  pfio/tests/MockClientThread.F90
  pfio/tests/MockServerThread.F90
  pfio/tests/MockSocket.F90
  pfio/tests/Test_Client.pf
  pfio/tests/Test_ProtocolParser.pf
  pfio/tests/Test_ServerThread.pf
  pfio/tests/Test_SimpleSocket.pf
  pfio/tests/pfio_ctest_io.F90
  pfio/tests/pfio_performance.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2946 Fix GCC 14 issue with profiler test
  CHANGELOG.md
  profiler/tests/test_PercentageColumn.pf
Labels: 0 Diff

#2947 Fix bug in CMake for ExtData2G Tests
  CHANGELOG.md
  Tests/ExtData_Testing_Framework/CMakeLists.txt
Labels: 0 Diff

#2949 some prep work for extdata2g vertical regridding development
  CHANGELOG.md
  Tests/CMakeLists.txt
  Tests/CapDriver.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: :gift: New Feature, 0 Diff, :hammer_and_wrench: Refactor, :exclamation: High Priority

#2951 Handmerge develop into MAPL3 2024-Aug-06
  CHANGELOG.md
  Tests/CMakeLists.txt
  Tests/CapDriver.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2952 Make ESMF_CONTEXT_PARENT_VM default for ESMF_GridComp creation in generic3g/GenericGridComp.F90 (MAPL3)
  CHANGELOG.md
  generic3g/GenericGridComp.F90
  generic3g/couplers/GenericCoupler.F90
Labels: :chart_with_upwards_trend: MAPL3, :astonished: Non 0 Diff

#2940 Fixes #2926. Update quantization properties
  Apps/Regrid_Util.F90
  CHANGELOG.md
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/GriddedIO.F90
  pfio/Variable.F90
  shared/Constants/InternalConstants.F90
Labels: 0 Diff

#2953 Mapl3/tclune/refactor coupler meta
  generic3g/GriddedComponentDriver/initialize.F90
  generic3g/OuterMetaComponent/initialize_realize.F90
  generic3g/actions/BundleAction.F90
  generic3g/actions/ConvertUnitsAction.F90
  generic3g/actions/CopyAction.F90
  generic3g/actions/ExtensionAction.F90
  generic3g/actions/NullAction.F90
  generic3g/actions/RegridAction.F90
  generic3g/actions/SequenceAction.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  generic3g/tests/scenarios/history_1/expectations.yaml
  generic3g/tests/scenarios/history_wildcard/expectations.yaml
  generic3g/tests/scenarios/propagate_geom/expectations.yaml
  generic3g/tests/scenarios/scenario_1/expectations.yaml
  generic3g/tests/scenarios/scenario_2/expectations.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/expectations.yaml
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2957 Mapl3/tclune/introduce vertical grid
  generic3g/CMakeLists.txt
  generic3g/Generic3g.F90
  generic3g/MAPL_Generic.F90
  generic3g/MultiState.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/initialize_realize_geom.F90
  generic3g/OuterMetaComponent/set_vertical_geom.F90
  generic3g/OuterMetaComponent/set_vertical_grid.F90
  generic3g/VerticalGeom.F90
  generic3g/actions/CMakeLists.txt
  generic3g/actions/VerticalRegridAction.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_BracketSpec.pf
  generic3g/tests/Test_FieldInfo.pf
  generic3g/tests/Test_FieldSpec.pf
  generic3g/tests/Test_FixedLevelsVerticalGrid.pf
  generic3g/tests/Test_ModelVerticalGrid.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  generic3g/tests/Test_SimpleParentGridComp.pf
  generic3g/vertical/BasicVerticalGrid.F90
  generic3g/vertical/CMakeLists.txt
  generic3g/vertical/FixedLevelsVerticalGrid.F90
  generic3g/vertical/MirrorVerticalGrid.F90
  generic3g/vertical/ModelVerticalGrid.F90
  generic3g/vertical/VerticalGrid.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/configurable/ConfigurableLeafGridComp.F90
  gridcomps/configurable/ConfigurableParentGridComp.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2958 Clean up CODEOWNERS
  .github/CODEOWNERS
Labels: 0 Diff Trivial, Changelog Skip

#2961 Detritus cleanup.
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/actions/BundleAction.F90
  generic3g/actions/CMakeLists.txt
  generic3g/actions/ConvertUnitsAction.F90
  generic3g/actions/CopyAction.F90
  generic3g/actions/ExtensionAction.F90
  generic3g/actions/ExtensionVector.F90
  generic3g/actions/NullAction.F90
  generic3g/actions/RegridAction.F90
  generic3g/actions/SequenceAction.F90
  generic3g/actions/StateExtension.F90
  generic3g/actions/VerticalRegridAction.F90
  generic3g/specs/BracketSpec.F90
  generic3g/tests/MockItemSpec.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2960 Clean up NAG + OpenMP CMake
  Apps/CMakeLists.txt
  CHANGELOG.md
  Tests/CMakeLists.txt
  base/CMakeLists.txt
  benchmarks/io/checkpoint_simulator/CMakeLists.txt
  benchmarks/io/combo/CMakeLists.txt
  benchmarks/io/gatherv/CMakeLists.txt
  benchmarks/io/raw_bw/CMakeLists.txt
  components.yaml
  docs/tutorial/driver_app/CMakeLists.txt
  docs/tutorial/grid_comps/automatic_code_generator_example/CMakeLists.txt
  docs/tutorial/grid_comps/hello_world_gridcomp/CMakeLists.txt
  docs/tutorial/grid_comps/leaf_comp_a/CMakeLists.txt
  docs/tutorial/grid_comps/leaf_comp_b/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_no_children/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_one_child/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_two_children/CMakeLists.txt
  generic/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/ExtData/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  gridcomps/Orbit/CMakeLists.txt
  griddedio/CMakeLists.txt
  pfio/CMakeLists.txt
  pfio/tests/CMakeLists.txt
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 Diff

#2964 Handmerge develop into MAPL3 2024-Aug-13
  Apps/CMakeLists.txt
  CHANGELOG.md
  Tests/CMakeLists.txt
  base/CMakeLists.txt
  benchmarks/io/checkpoint_simulator/CMakeLists.txt
  benchmarks/io/combo/CMakeLists.txt
  benchmarks/io/gatherv/CMakeLists.txt
  benchmarks/io/raw_bw/CMakeLists.txt
  components.yaml
  docs/tutorial/driver_app/CMakeLists.txt
  docs/tutorial/grid_comps/automatic_code_generator_example/CMakeLists.txt
  docs/tutorial/grid_comps/hello_world_gridcomp/CMakeLists.txt
  docs/tutorial/grid_comps/leaf_comp_a/CMakeLists.txt
  docs/tutorial/grid_comps/leaf_comp_b/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_no_children/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_one_child/CMakeLists.txt
  docs/tutorial/grid_comps/parent_with_two_children/CMakeLists.txt
  generic/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/ExtData/CMakeLists.txt
  gridcomps/History/CMakeLists.txt
  gridcomps/Orbit/CMakeLists.txt
  griddedio/CMakeLists.txt
  pfio/CMakeLists.txt
  pfio/tests/CMakeLists.txt
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2970 Fix support for external MPI
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 Diff

#2972 Hotfix: Fix support for external MPI
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 Diff

#2973 GitFlow: Merge main into develop 2024-Aug-16
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 Diff

#2965 Add geom to VariableSpec
  generic3g/specs/VariableSpec.F90
Labels: 0 Diff, Changelog Skip

#2978 Handmerge of develop into MAPL3 2024-Aug-20
  base/MAPL_VerticalMethods.F90
  generic/CMakeLists.txt
  generic/ComponentSpecification.F90
  generic/MAPL_Generic.F90
  generic/MaplGeneric.F90
  generic/StateSpecification.F90
  generic/VarSpec.F90
  generic/VarSpecMiscMod.F90
  generic/VarSpecType.F90
  generic/VariableSpecification.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2919 VERIFY Statement after MPI call
  Apps/Regrid_Util.F90
  Apps/time_ave_util.F90
  Tests/ExtDataDriverMod.F90
  Tests/pfio_MAPL_demo.F90
  base/ApplicationSupport.F90
  base/FileIOShared.F90
  base/MAPL_Comms.F90
  base/MAPL_LocStreamMod.F90
  base/MAPL_MemUtils.F90
  base/MAPL_SwathGridFactory.F90
  base/ServerManager.F90
  base/cub2latlon_regridder.F90
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
  benchmarks/io/combo/GathervKernel.F90
  benchmarks/io/combo/driver.F90
  benchmarks/io/gatherv/GathervKernel.F90
  benchmarks/io/gatherv/GathervSpec.F90
  benchmarks/io/gatherv/driver.F90
  benchmarks/io/raw_bw/BW_BenchmarkSpec.F90
  benchmarks/io/raw_bw/driver.F90
  generic/MAPL_Generic.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_NUOPCWrapperMod.F90
  gridcomps/History/Sampler/MAPL_GeosatMaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_StationSamplerMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
  pfio/AbstractServer.F90
  pfio/ClientManager.F90
  pfio/DirectoryService.F90
  pfio/MpiMutex.F90
  pfio/MpiSocket.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/MultiLayerServer.F90
  pfio/RDMAReference.F90
  pfio/ServerThread.F90
  pfio/ShmemReference.F90
  pfio/pfio_base.F90
  pfio/pfio_collective_demo.F90
  pfio/pfio_parallel_netcdf_reproducer.F90
  pfio/pfio_server_demo.F90
  pfio/pfio_writer.F90
  profiler/AbstractMeter.F90
  profiler/DistributedMeter.F90
  profiler/VmstatMemoryGauge.F90
  profiler/demo/demo.F90
  profiler/demo/mpi_demo.F90
Labels: 0 Diff Trivial, Changelog Skip

#2979 Marginal progress on vertical grid support.
  generic3g/specs/FieldSpec.F90
  generic3g/vertical/BasicVerticalGrid.F90
  generic3g/vertical/BasicVerticalGrid/can_connect_to.F90
  generic3g/vertical/CMakeLists.txt
  generic3g/vertical/FixedLevelsVerticalGrid.F90
  generic3g/vertical/MirrorVerticalGrid.F90
  generic3g/vertical/ModelVerticalGrid.F90
  generic3g/vertical/ModelVerticalGrid/can_connect_to.F90
  generic3g/vertical/VerticalGrid.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2987 Mapl3/refactor phases
  generic3g/CMakeLists.txt
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_geometry_spec.F90
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/SetServices.F90
  generic3g/OuterMetaComponent/add_child_by_name.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/initialize_advertise_geom.F90
  generic3g/OuterMetaComponent/initialize_modify_advertise.F90
  generic3g/OuterMetaComponent/initialize_realize.F90
  generic3g/OuterMetaComponent/initialize_realize_geom.F90
  generic3g/OuterMetaComponent/initialize_user.F90
  generic3g/connection/Connection.F90
  generic3g/connection/MatchConnection.F90
  generic3g/connection/ReexportConnection.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/GeometrySpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  generic3g/tests/scenarios/extdata_1/extdata.yaml
  generic3g/tests/scenarios/history_1/collection_1.yaml
  generic3g/tests/scenarios/history_1/root.yaml
  generic3g/tests/scenarios/propagate_geom/child_A.yaml
  generic3g/tests/scenarios/regrid/A.yaml
  generic3g/tests/scenarios/regrid/B.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_A.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_B.yaml
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2989 Mapl3/refactor phases
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/initialize_modify_advertise.F90
  generic3g/connection/ReexportConnection.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/tests/scenarios/3d_specs/A.yaml
  generic3g/tests/scenarios/3d_specs/B.yaml
  generic3g/tests/scenarios/precision_extension_3d/A.yaml
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2956 Add future ability to test ifx in CI
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 Diff Trivial

#2993 Feature/wdboggs/#2980 refactor state item spec
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/specs/make_itemSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_ModelVerticalGrid.pf
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2994 Feature/bmauer/add extdata imports
  CHANGELOG.md
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: :gift: New Feature, 0 Diff

#2997 Fix bug from dev-to-mapl3 merge 2024-Aug-27
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 Diff, Changelog Skip

#2998 fixes #2996
  generic3g/ESMF_HConfigUtilities.F90
  generic3g/ESMF_HConfigUtilities/MAPL_HConfigMatch.F90
  generic3g/tests/Test_HConfigMatch.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2999 Mapl3/tclune/init phase refactoring
  generic3g/CMakeLists.txt
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/OuterMetaComponent/initialize_advertise_geom.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised2.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/make_itemSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  generic3g/tests/scenarios/export_dependency/child_A.yaml
  generic3g/tests/scenarios/export_dependency/child_B.yaml
  generic3g/tests/scenarios/extdata_1/collection_1.yaml
  generic3g/tests/scenarios/extdata_1/expectations.yaml
  generic3g/tests/scenarios/service_service/child_A.yaml
  generic3g/tests/scenarios/service_service/child_C.yaml
  generic3g/vertical/BasicVerticalGrid.F90
  generic3g/vertical/FixedLevelsVerticalGrid.F90
  generic3g/vertical/ModelVerticalGrid.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3001 Cleanup/refactor.
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised2.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_ModelVerticalGrid.pf
Labels: :gift: New Feature, 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip
