Repository GEOS-ESM/MAPL, pull requests merged in 2024-10, with the labels that each got.

#3063 Fixes #3062 - mapl accessors for ESMF info object
  generic3g/CMakeLists.txt
  generic3g/InfoUtilities.F90
  generic3g/actions/NullAction.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_InfoUtilities.F90
  shared/MAPL_ESMF_InfoKeys.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3066 Update to ecbuild geos/v1.4.0
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#3056 Fixes #1618. Add zstandard support
  Apps/Regrid_Util.F90
  CHANGELOG.md
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  Tests/ExtData_Testing_Framework/test_cases/case35/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/README
  Tests/ExtData_Testing_Framework/test_cases/case35/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case36/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/README
  Tests/ExtData_Testing_Framework/test_cases/case36/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  griddedio/FieldBundleWrite.F90
  griddedio/GriddedIO.F90
  pfio/CMakeLists.txt
  pfio/NetCDF4_FileFormatter.F90
  pfio/Variable.F90
Labels: 0 Diff

#3068 Workarounds for NVHPC 24.9
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base_implementation.F90
Labels: 0 Diff

#3071 GitFlow: Merge develop into main for 2.49 release
  Apps/Regrid_Util.F90
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  Tests/ExtData_Testing_Framework/run_extdata.cmake
  Tests/ExtData_Testing_Framework/test_cases/case35/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case35/README
  Tests/ExtData_Testing_Framework/test_cases/case35/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case36/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case36/README
  Tests/ExtData_Testing_Framework/test_cases/case36/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  base/Base/Base_Base_implementation.F90
  components.yaml
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  griddedio/FieldBundleWrite.F90
  griddedio/GriddedIO.F90
  pfio/CMakeLists.txt
  pfio/NetCDF4_FileFormatter.F90
  pfio/Variable.F90
Labels: 0 Diff

#3069 Fixes #3065 - field reallocation
  field_utils/FieldBLAS_IntrinsicFunctions.F90
  field_utils/FieldUtilities.F90
  field_utils/tests/CMakeLists.txt
  field_utils/tests/Test_FieldUtilities.pf
  generic3g/CMakeLists.txt
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3081 GitFlow: Merge 2.46.4 hotfix into main
  CHANGELOG.md
  CMakeLists.txt
  base/MAPL_EsmfRegridder.F90
Labels: 0 Diff

#3077 Fixes #3072 Feature/wdboggs/#3072 update get fptr shape
  CHANGELOG.md
  field_utils/FieldCondensedArray.F90
  field_utils/FieldCondensedArray_private.F90
  field_utils/tests/Test_FieldCondensedArray_private.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3084 Feature/tclune/#3079 interpolate action
  generic3g/InfoUtilities.F90
  generic3g/actions/CMakeLists.txt
  generic3g/actions/RegridAction.F90
  generic3g/actions/TimeInterpolateAction.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_InfoUtilities.pf
  generic3g/tests/Test_TimeInterpolateAction.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3086 Feature/tclune/overload mapl info
  generic3g/InfoUtilities.F90
  generic3g/tests/Test_InfoUtilities.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3067 trapped more error from i-server
  CHANGELOG.md
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  griddedio/FieldBundleRead.F90
  griddedio/GriddedIO.F90
  griddedio/TileIO.F90
  pfio/AbstractServer.F90
  pfio/BaseServer.F90
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/FastClientThread.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/ServerThread.F90
  pfio/tests/MockClientThread.F90
Labels: 0 Diff

#3087 Prepare for 2.50.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff

#3090 GitFlow: Merge develop into main for 2.50 release
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base.F90
  base/Base/Base_Base_implementation.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  griddedio/FieldBundleRead.F90
  griddedio/GriddedIO.F90
  griddedio/TileIO.F90
  pfio/AbstractServer.F90
  pfio/BaseServer.F90
  pfio/ClientManager.F90
  pfio/ClientThread.F90
  pfio/FastClientThread.F90
  pfio/MultiCommServer.F90
  pfio/MultiGroupServer.F90
  pfio/ServerThread.F90
  pfio/tests/MockClientThread.F90
Labels: 0 Diff

#3095 Fixes #3075 - propagate time-varying aspects of fields
  GeomIO/SharedIO.F90
  esmf_utils/CMakeLists.txt
  esmf_utils/FieldDimensionInfo.F90
  esmf_utils/InfoUtilities.F90
  esmf_utils/tests/CMakeLists.txt
  esmf_utils/tests/Test_FieldDimensionInfo.pf
  esmf_utils/tests/Test_InfoUtilities.pf
  field_utils/FieldUtilities.F90
  field_utils/tests/Test_FieldUtilities.pf
  generic3g/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VerticalDimSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_FieldInfo.pf
  shared/MAPL_ESMF_InfoKeys.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3092 Vertical regridding - step 1 - VerticalDimSpec
  generic3g/actions/VerticalRegridAction.F90
  generic3g/actions/VerticalRegridActionNew.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/VerticalDimSpec.F90
  generic3g/tests/Test_ModelVerticalGrid.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  generic3g/tests/Test_VerticalLinearMap.pf
  generic3g/vertical/BasicVerticalGrid.F90
  generic3g/vertical/CMakeLists.txt
  generic3g/vertical/FixedLevelsVerticalGrid.F90
  generic3g/vertical/MirrorVerticalGrid.F90
  generic3g/vertical/ModelVerticalGrid.F90
  generic3g/vertical/ModelVerticalGrid/can_connect_to.F90
  generic3g/vertical/Test_VerticalLinearMap.F90
  generic3g/vertical/VerticalLinearMap.F90
  generic3g/vertical/VerticalRegridMethod.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3099 Allow update offsets based on timestep for extdata2g
  CHANGELOG.md
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/tests/CMakeLists.txt
  gridcomps/ExtData2G/tests/Test_ExtDataUpdatePointer.pf
Labels: :gift: New Feature, 0 Diff

#3103 Handmerge develop into MAPL3 - 2024-Oct-17
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/tests/CMakeLists.txt
  gridcomps/ExtData2G/tests/Test_ExtDataUpdatePointer.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip, :wrench: Github Actions

#3098 Turn off zstandard with Baselibs
  CHANGELOG.md
  CMakeLists.txt
  pfio/CMakeLists.txt
Labels: 0 Diff

#3105 Feature/tclune/refactor
  esmf_utils/FieldDimensionInfo.F90
  esmf_utils/UngriddedDim.F90
  esmf_utils/UngriddedDims.F90
  esmf_utils/tests/CMakeLists.txt
  esmf_utils/tests/Test_FieldDimensionInfo.pf
  esmf_utils/tests/Test_Ungridded.pf
  generic3g/specs/FieldSpec.F90
  shared/MAPL_ESMF_InfoKeys.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3107 Fixes #3073
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataSample.F90
Labels: :beetle: Bug, 0 Diff

#3112 Feature/wdboggs/change extension action methods 3108
  CHANGELOG.md
  generic3g/actions/ConvertUnitsAction.F90
  generic3g/actions/CopyAction.F90
  generic3g/actions/ExtensionAction.F90
  generic3g/actions/NullAction.F90
  generic3g/actions/RegridAction.F90
  generic3g/actions/TimeInterpolateAction.F90
  generic3g/actions/VerticalRegridAction.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_TimeInterpolateAction.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3113 Updates quadratics list to avoid zonal mean trigger for cubed-sphere …
  Apps/time_ave_util.F90
  CHANGELOG.md
Labels: 0 Diff

#3114 Update to ESMA_env v4.31.0 (ESMF 8.7.0)
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#3118 Make `get_fptr_shape` public and a bug fix
  field_utils/FieldCondensedArray.F90
  field_utils/FieldCondensedArray_private.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3115 Vertical regridding - step 2 - FixedLevels -> FixedLevels
  generic3g/ComponentSpecParser/parse_geometry_spec.F90
  generic3g/GriddedComponentDriver/clock_advance.F90
  generic3g/GriddedComponentDriver/finalize.F90
  generic3g/GriddedComponentDriver/get_clock.F90
  generic3g/GriddedComponentDriver/get_states.F90
  generic3g/GriddedComponentDriver/run.F90
  generic3g/GriddedComponentDriver/run_export_couplers.F90
  generic3g/GriddedComponentDriver/run_import_couplers.F90
  generic3g/GriddedComponentDriver/set_clock.F90
  generic3g/OuterMetaComponent/initialize_user.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/actions/VerticalRegridAction.F90
  generic3g/couplers/CMakeLists.txt
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/CouplerPhases.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/VerticalDimSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_FixedLevelsVerticalGrid.pf
  generic3g/tests/Test_ModelVerticalGrid.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/vertical_regridding/A.yaml
  generic3g/tests/scenarios/vertical_regridding/B.yaml
  generic3g/tests/scenarios/vertical_regridding/expectations.yaml
  generic3g/tests/scenarios/vertical_regridding/parent.yaml
  generic3g/vertical/FixedLevelsVerticalGrid.F90
  generic3g/vertical/VerticalRegridMethod.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3129 Fixes #3128 - support copy shared attrs
  esmf_utils/InfoUtilities.F90
  esmf_utils/tests/Test_InfoUtilities.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3119 Fixes #3096 - propagate time dependent changes
  esmf_utils/InfoUtilities.F90
  esmf_utils/UngriddedDims.F90
  esmf_utils/tests/Test_FieldDimensionInfo.pf
  field_utils/CMakeLists.txt
  field_utils/FieldBundleDelta.F90
  field_utils/FieldDelta.F90
  field_utils/FieldUtilities.F90
  field_utils/tests/CMakeLists.txt
  field_utils/tests/Test_FieldBundleDelta.pf
  field_utils/tests/Test_FieldDelta.pf
  generic3g/actions/ExtensionAction.F90
  generic3g/couplers/BidirectionalObserver.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/couplers/HandlerMap.F90
  generic3g/couplers/HandlerVector.F90
  generic3g/couplers/ImportCoupler.F90
  generic3g/couplers/Observable.F90
  generic3g/couplers/ObservablePtrVector.F90
  generic3g/couplers/Observed.F90
  generic3g/couplers/Observer.F90
  generic3g/couplers/ObserverPtrVector.F90
  generic3g/couplers/outer.F90
  shared/MAPL_ESMF_InfoKeys.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3116 Update CI to use Baselibs 7.27.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 Diff

#3132 fixes #3131
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: :beetle: Bug, 0 Diff

#3141 Fixed for NAG build issue -
  generic3g/vertical/FixedLevelsVerticalGrid.F90
Labels: :beetle: Bug, 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip
