Repository GEOS-ESM/MAPL, pull requests merged in 2024-04, with the labels that each got.

#2676 Add DEPENDS_ON and DEPENDS_ON_CHILDREN options to ACG
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: new feature, 0 diff

#2659 Add ESSENTIAL label
  .circleci/config.yml
  CHANGELOG.md
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  base/tests/CMakeLists.txt
  components.yaml
  field_utils/tests/CMakeLists.txt
  generic/tests/CMakeLists.txt
  pfio/tests/CMakeLists.txt
  profiler/tests/CMakeLists.txt
  shared/tests/CMakeLists.txt
Labels: 0 diff

#2698 Handmerge develop into MAPL3 2024-Apr-01
  .circleci/config.yml
  CHANGELOG.md
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  base/tests/CMakeLists.txt
  components.yaml
  field_utils/tests/CMakeLists.txt
  generic/tests/CMakeLists.txt
  generic3g/tests/CMakeLists.txt
  geom_mgr/tests/CMakeLists.txt
  gridcomps/History3G/tests/CMakeLists.txt
  pfio/tests/CMakeLists.txt
  profiler/tests/CMakeLists.txt
  regridder_mgr/tests/CMakeLists.txt
  shared/tests/CMakeLists.txt
  udunits2f/tests/CMakeLists.txt
Labels: 0 diff, Skip Changelog, MAPL3

#2705 Add missing INT64 use
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: 0 diff, bugfix, Skip Changelog

#2627 Update to Baselibs 7.23.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: 0 diff

#2707 Cleanup.
  field_utils/GeomManager.F90
  field_utils/MaplGeom.F90
  field_utils/Regridder.F90
  field_utils/StateSupplement.F90
Labels: 0 diff trivial, Skip Changelog, refactor, MAPL3

#2570 MAPL HConfig Get
  CHANGELOG.md
  CMakeLists.txt
  generic3g/CMakeLists.txt
  generic3g/MAPL_Generic.F90
  geom_mgr/CMakeLists.txt
  geom_mgr/CoordinateAxis_smod.F90
  geom_mgr/HConfigUtils.F90
  geom_mgr/latlon/LatAxis_smod.F90
  geom_mgr/latlon/LatLonGeomSpec_smod.F90
  geom_mgr/latlon/LonAxis_smod.F90
  gridcomps/cap3g/CapGridComp.F90
  hconfig_utils/CMakeLists.txt
  hconfig_utils/HConfig3G.F90
  hconfig_utils/generalized_equality.F90
  hconfig_utils/get_hconfig.F90
  hconfig_utils/hconfig_get.F90
  hconfig_utils/hconfig_get_private.F90
  hconfig_utils/hconfig_get_value_template.h
  hconfig_utils/hconfig_params.F90
  hconfig_utils/tests/CMakeLists.txt
  hconfig_utils/tests/Test_hconfig_get_private.pf
Labels: new feature, 0 diff trivial, MAPL3

#2710 Fixes #2708
  generic3g/VerticalGeom.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/LU_Bound.F90
  generic3g/specs/UngriddedDimSpec.F90
  generic3g/specs/UngriddedDimsSpec.F90
  generic3g/specs/VerticalDimSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_FieldInfo.pf
Labels: 0 diff, Skip Changelog, MAPL3

#2702 Make udunits2 tests more robust
  CHANGELOG.md
  cmake/Findudunits.cmake
  generic3g/tests/CMakeLists.txt
  udunits2f/tests/CMakeLists.txt
Labels: 0 diff trivial

#2636 unify HorzIJIndex search
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
Labels: 0 diff

#2714 Mapl3/tclune/clock advance phase
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/GriddedComponentDriver.F90
  generic3g/GriddedComponentDriver_smod.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_smod.F90
  generic3g/tests/Test_RunChild.pf
Labels: 0 diff, Skip Changelog, MAPL3

#2717 Clean up CI
  .circleci/config.yml
  .github/workflows/workflow.yml
Labels: 0 diff trivial

#2715 Update pull request template and github actions
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/stale.yml
  .github/workflows/changelog-enforcer.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/push-to-develop.yml
  .github/workflows/push-to-main.yml
  .github/workflows/workflow.yml
Labels: 0 Diff Trivial

#2726 GitFlow: Handmerge main to develop 2024-Apr-11
  .github/PULL_REQUEST_TEMPLATE.md
  .github/stale.yml
  .github/workflows/changelog-enforcer.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/push-to-develop.yml
  .github/workflows/push-to-main.yml
Labels: Changelog Skip, :wrench: Github Actions

#2723 Fixes #2722
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/history_1/collection_1.yaml
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2724 Remove FLAP Support
  CHANGELOG.md
  CMakeLists.txt
  MAPL/CMakeLists.txt
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
  docs/Ford/mapl3docs-with-remote-esmf.public_private_protected.md
  gridcomps/CMakeLists.txt
  gridcomps/Cap/CMakeLists.txt
  gridcomps/Cap/FlapCLI.F90
  gridcomps/MAPL_GridComps.F90
  pfio/pfio_parallel_netcdf_reproducer.F90
Labels: 0 Diff

#2731 Baseline commit for beginning of History development
  .circleci/config.yml
  gridcomps/CMakeLists.txt
  gridcomps/History3G/CMakeLists.txt
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/History3G/HistoryGridComp_private.F90
  gridcomps/cap3g/CMakeLists.txt
  gridcomps/cap3g/Cap.F90
  gridcomps/cap3g/CapGridComp.F90
  gridcomps/cap3g/tests/CMakeLists.txt
  gridcomps/cap3g/tests/basic_captest/GCM.yaml
  gridcomps/cap3g/tests/basic_captest/cap.yaml
  gridcomps/cap3g/tests/basic_captest/history.yaml
  gridcomps/cap3g/tests/cases.txt
  gridcomps/cap3g/tests/run_captest.cmake
  gridcomps/configurable/CMakeLists.txt
  gridcomps/configurable/ConfigurableLeafGridComp.F90
  hconfig_utils/tests/Test_hconfig_get_private.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2743 FIxes #2742
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/cap3g/CapGridComp.F90
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2746 Use glob function to allow wild character in template
  CHANGELOG.md
  base/CMakeLists.txt
  base/MAPL_ObsUtil.F90
  base/MAPL_ObsUtil.c
Labels: 0 Diff Trivial

#2748 Move vim semaphore
  hconfig_utils/hconfig_get_value_template.h
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3

#2749 Fixed issue with ordering of childern setservices
  MAPL/GEOS.F90
  generic3g/GenericGridComp.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent_smod.F90
  generic3g/tests/Test_RunChild.pf
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2751 Register imports for History3G
  generic3g/specs/VariableSpec.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/cap3g/tests/basic_captest/GCM.yaml
  gridcomps/cap3g/tests/basic_captest/history.yaml
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2760 Add Ford CI job
  .github/workflows/workflow.yml
  CHANGELOG.md
  docs/Ford/ford-ci.md
Labels: :memo: Documentation, 0 Diff Trivial, :wrench: Github Actions

#2756 Introduced MAPL3 singleton support
  CMakeLists.txt
  MAPL/CMakeLists.txt
  MAPL/GEOS.F90
  MAPL/mapl3g.F90
  mapl3g/CMakeLists.txt
  mapl3g/GEOS.F90
  mapl3g/MaplFramework.F90
  mapl3g/mapl3g.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2762 Fixes #2761 - RECURSIVE attribute needed
  generic3g/MAPL_Generic.F90
  gridcomps/cap3g/Cap.F90
  gridcomps/cap3g/tests/basic_captest/cap.yaml
  mapl3g/GEOS.F90
  mapl3g/MaplFramework.F90
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2763 Test CI Docs on MAPL3
  .github/workflows/workflow.yml
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3

#2764 Backport Ford fixes from MAPL3
  .github/actions/deploy-ford-docs/action.yml
  .github/workflows/docs.yml
  .github/workflows/workflow.yml
Labels: :memo: Documentation, 0 Diff Trivial, Changelog Skip, :wrench: Github Actions

#2766 Fixes #2279 Mapl3/tclune/#2729 mirror vertical dim
  generic3g/ComponentSpecParser.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VerticalDimSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/history_1/B.yaml
  generic3g/tests/scenarios/history_1/collection_1.yaml
  generic3g/tests/scenarios/history_1/expectations.yaml
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2769 Fix an error in filename when wild character is introduced into template
  CHANGELOG.md
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: 0 Diff Trivial

#2773 Fixes #2771
  generic3g/ComponentSpecParser.F90
  generic3g/ESMF_Utilities.F90
  generic3g/MultiState.F90
  generic3g/connection/ActualConnectionPt.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/HierarchicalRegistry.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/history_1/expectations.yaml
  generic3g/tests/scenarios/history_wildcard/expectations.yaml
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2775 Fixed missing error condition.
  generic3g/connection/MatchConnection.F90
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2776 Add missing c_ptr declaration for ESMF 8.6.1b04
  field_utils/tests/Test_FieldBLAS.pf
Labels: 0 Diff Trivial, Changelog Skip

#2777 Update GitHub Actions to use GCC 13.2
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 Diff Trivial, :wrench: Github Actions

#2778 Remove macOS + Intel CMake logic
  CHANGELOG.md
  MAPL_cfio/CMakeLists.txt
Labels: 0 Diff Trivial

#2779 updates for geom manager and associated utilities
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  geom_mgr/GeomFactory.F90
  geom_mgr/GeomManager_smod.F90
  geom_mgr/MaplGeom.F90
  geom_mgr/MaplGeom_smod.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2783 Fixes #1558 - special ESMF macro.
  generic3g/GriddedComponentDriver_smod.F90
  include/MAPL_ErrLog.h
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2732 work around #2703 and release pfio memory as early as possible
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  pfio/CMakeLists.txt
  pfio/ForwardDataAndMessage.F90
  pfio/IntArray.F90
  pfio/MultiGroupServer.F90
Labels: 0 Diff

#2791 Get simple server working in MaplFramework in MAPL3
  mapl3g/MaplFramework.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2794 Fixed #2784 Mapl3/tclune/#2784 update geom mgr to gftl v2
  base/FileMetadataUtilities.F90
  base/MAPL_NewArthParser.F90
  base/NCIO.F90
  base/cub2latlon_regridder.F90
  geom_mgr/CoordinateAxis_smod.F90
  geom_mgr/GeomFactory.F90
  geom_mgr/GeomManager.F90
  geom_mgr/GeomManager_smod.F90
  geom_mgr/MaplGeom.F90
  geom_mgr/latlon/LatLonGeomFactory.F90
  geom_mgr/latlon/LatLonGeomFactory_smod.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataMasking.F90
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  griddedio/DataCollection.F90
  griddedio/FieldBundleRead.F90
  griddedio/GriddedIO.F90
  pfio/AbstractSocket.F90
  pfio/CMakeLists.txt
  pfio/ClientThread.F90
  pfio/FastClientThread.F90
  pfio/FileMetadata.F90
  pfio/MessageVector.F90
  pfio/MpiSocket.F90
  pfio/NetCDF4_FileFormatter.F90
  pfio/ProtocolParser.F90
  pfio/ServerThread.F90
  pfio/SimpleSocket.F90
  pfio/StringIntegerMapUtil.F90
  pfio/StringVectorUtil.F90
  pfio/Variable.F90
  pfio/pfio_collective_demo.F90
  pfio/pfio_server_demo.F90
  pfio/tests/MockSocket.F90
  pfio/tests/Test_CoordinateVariable.pf
  pfio/tests/Test_FileMetadata.pf
  pfio/tests/Test_MpiSocket.pf
  pfio/tests/Test_ProtocolParser.pf
  pfio/tests/Test_SimpleSocket.pf
  pfio/tests/Test_Variable.pf
  pfio/tests/pfio_ctest_io.F90
  pfio/tests/pfio_performance.F90
  pfio/tests/pfio_read_write_1d_string_example.F90
  shared/CMakeLists.txt
  shared/MAPL_DateTime_Parsing.F90
  shared/MAPL_DirPath.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2796 Activated clock advance.
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/GriddedComponentDriver_smod.F90
  generic3g/OuterMetaComponent.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_SimpleLeafGridComp.pf
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/cap3g/Cap.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#2795 Replacing geom keyword 'schema' with 'class'
  generic3g/tests/scenarios/3d_specs/parent.yaml
  generic3g/tests/scenarios/export_dependency/parent.yaml
  generic3g/tests/scenarios/extdata_1/cap.yaml
  generic3g/tests/scenarios/history_1/collection_1.yaml
  generic3g/tests/scenarios/history_1/root.yaml
  generic3g/tests/scenarios/history_wildcard/cap.yaml
  generic3g/tests/scenarios/precision_extension/parent.yaml
  generic3g/tests/scenarios/precision_extension_3d/parent.yaml
  generic3g/tests/scenarios/propagate_geom/child_A.yaml
  generic3g/tests/scenarios/regrid/A.yaml
  generic3g/tests/scenarios/regrid/B.yaml
  generic3g/tests/scenarios/scenario_1/parent.yaml
  generic3g/tests/scenarios/scenario_2/parent.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_A.yaml
  generic3g/tests/scenarios/scenario_reexport_twice/child_B.yaml
  generic3g/tests/scenarios/service_service/parent.yaml
  generic3g/tests/scenarios/ungridded_dims/parent.yaml
  geom_mgr/latlon/LatLonGeomSpec_smod.F90
  geom_mgr/tests/Test_GeomManager.pf
  gridcomps/History3G/tests/Test_HistoryCollectionGridComp.pf
  gridcomps/cap3g/tests/basic_captest/GCM.yaml
  gridcomps/cap3g/tests/basic_captest/history.yaml
  gridcomps/cap3g/tests/parent_child_captest/AGCM.yaml
  gridcomps/cap3g/tests/parent_child_captest/GCM.yaml
  gridcomps/cap3g/tests/parent_child_captest/history.yaml
  regridder_mgr/tests/Test_RegridderManager.pf
  regridder_mgr/tests/Test_RouteHandleManager.pf
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip
