Repository GEOS-ESM/MAPL, pull requests merged in 2025-02, with the labels that each got.

#3379 Add ALIAS column to ACG StateSpec files
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: :gift: New Feature, 0 Diff

#3381 Feature/wdboggs/mapl3 acg
  Apps/MAPL_GridCompSpecs_ACGv3.py
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3385 v3: Update CI with Baselibs 7.31.0 (GFE v1.18.0)
  .circleci/config.yml
  .github/workflows/workflow.yml
  CMakeLists.txt
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3386 v2: Update CI with Baselibs 7.31.0 (GFE v1.18.0)
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 Diff

#3367 Fixes #3305 - support for Bracket exports
  esmf_utils/UngriddedDim.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/ExtensionFamily.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/ActualPtFieldAspectMap.F90
  generic3g/specs/AspectCollection.F90
  generic3g/specs/AttributesAspect.F90
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ClassAspect.F90
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/FieldClassAspectMap.F90
  generic3g/specs/FieldClassAspect_smod.F90
  generic3g/specs/FrequencyAspect.F90
  generic3g/specs/GeomAspect.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceClassAspect.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemAspect.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/TypekindAspect.F90
  generic3g/specs/UngriddedDimsAspect.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/VerticalGridAspect.F90
  generic3g/specs/WildcardClassAspect.F90
  generic3g/specs/make_itemSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockAspect.F90
  generic3g/tests/Test_AddFieldSpec.pf
  generic3g/tests/Test_AspectMap.pf
  generic3g/tests/Test_Aspects.pf
  generic3g/tests/Test_BaseAspect.pf
  generic3g/tests/Test_BaseItemSpec.pf
  generic3g/tests/Test_BracketClassAspect.pf
  generic3g/tests/Test_ExtensionFamily.pf
  generic3g/tests/Test_FieldSpec.pf
  generic3g/tests/Test_ModelVerticalGrid.pf
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/Test_StateRegistry.pf
  generic3g/tests/scenarios/3d_specs/expectations.yaml
  generic3g/vertical/ModelVerticalGrid.F90
Labels: :gift: New Feature, :chart_with_upwards_trend: MAPL3, Changelog Skip, :astonished: Non 0 Diff

#3391 Prepare for 2.54.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial

#3394 GitFlow: Merge develop into main for 2.54 Release
  .circleci/config.yml
  .github/workflows/workflow.yml
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff

#3396 Typo ACG typo: 'num_subtitles' => 'num_subtiles' - Mais non!
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  CMakeLists.txt
Labels: :beetle: Bugfix

#3399 GitFlow: Merge develop into main for 2.54.1 release
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff

#3403 Feature/tclune/#3392 set clock in init
  generic3g/CMakeLists.txt
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_child.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/ComponentSpecParser/parse_timespec.F90
  generic3g/ComponentSpecParser/parse_timestep.F90
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/Generic3g.F90
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/GriddedComponentDriver.F90
  generic3g/GriddedComponentDriver/new_GriddedComponentDriver.F90
  generic3g/MAPL_Generic.F90
  generic3g/MultiState.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/SetServices.F90
  generic3g/OuterMetaComponent/add_child_by_name.F90
  generic3g/OuterMetaComponent/add_child_by_spec.F90
  generic3g/OuterMetaComponent/initialize_set_clock.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/specs/ChildSpec.F90
  generic3g/specs/FrequencyAspect.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_Aspects.pf
  generic3g/tests/Test_ComponentSpecParser.pf
  generic3g/tests/Test_ConfigurableGridComp.pf
  generic3g/tests/Test_GenericGridComp.pf
  generic3g/tests/Test_Scenarios.pf
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/cap3g/Cap.F90
  hconfig_utils/hconfig_get_value_template.h
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3407 Fixes #3405
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/make_itemSpec.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3408 Feature/tclune/#3406 cleanup
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/MAPL_Generic.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/make_itemSpec.F90
  generic3g/tests/MockAspect.F90
  generic3g/tests/Test_BracketClassAspect.pf
  generic3g/tests/Test_ModelVerticalGrid.pf
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3421 v3: Try to fix docs
  .github/actions/deploy-ford-docs/action.yml
  .github/workflows/docs.yml
  .github/workflows/mapl3docs.yml
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
  docs/Ford/ford-ci.md
  docs/Ford/mapl3docs-with-remote-esmf.md
  docs/Ford/mapl3docs-with-remote-esmf.public_private_protected.md
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3419 v2: Try to fix docs
  .github/actions/deploy-ford-docs/action.yml
  .github/workflows/docs.yml
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
  docs/Ford/ford-ci.md
Labels: 0 Diff Trivial, Changelog Skip

#3425 Update to Baselibs 7.32.0
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#3423 Added tests for timestep propagation in hierarchy.
  generic3g/OuterMetaComponent/initialize_set_clock.F90
  generic3g/OuterMetaComponent/run_clock_advance.F90
  generic3g/specs/ChildSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_timestep_propagation.pf
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3428 Fix to allow refTime that is before currTime.
  generic3g/OuterMetaComponent/initialize_set_clock.F90
  generic3g/tests/Test_timestep_propagation.pf
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3404 Feature/wdboggs/mapl3 freq aspect ts reftime 3358
  esmf_utils/ESMF_Time_Utilities.F90
  generic3g/specs/FrequencyAspect.F90
  generic3g/tests/Test_Aspects.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3401 Test get horz ij index
  CHANGELOG.md
  Tests/CMakeLists.txt
  Tests/GetHorzIJIndex/CMakeLists.txt
  Tests/GetHorzIJIndex/GridComp.F90
  Tests/GetHorzIJIndex/driver.F90
  Tests/GetHorzIJIndex/run_gethorzijindex.cmake
  Tests/GetHorzIJIndex/test_cases/NO_OMP/CAP.rc
  Tests/GetHorzIJIndex/test_cases/NO_OMP/ExtData.rc
  Tests/GetHorzIJIndex/test_cases/NO_OMP/GetHorzIJIndex.rc
  Tests/GetHorzIJIndex/test_cases/NO_OMP/HISTORY.rc
  Tests/GetHorzIJIndex/test_cases/OMP_1_thread/CAP.rc
  Tests/GetHorzIJIndex/test_cases/OMP_1_thread/ExtData.rc
  Tests/GetHorzIJIndex/test_cases/OMP_1_thread/GetHorzIJIndex.rc
  Tests/GetHorzIJIndex/test_cases/OMP_1_thread/HISTORY.rc
  Tests/GetHorzIJIndex/test_cases/OMP_4_thread/CAP.rc
  Tests/GetHorzIJIndex/test_cases/OMP_4_thread/ExtData.rc
  Tests/GetHorzIJIndex/test_cases/OMP_4_thread/GetHorzIJIndex.rc
  Tests/GetHorzIJIndex/test_cases/OMP_4_thread/HISTORY.rc
  base/Base/Base_Base_implementation.F90
  base/MaplGrid.F90
  generic/OpenMP_Support.F90
Labels: :gift: New Feature, 0 Diff Trivial

#3431 Fixes #3429 and #3415 and #3413
  generic3g/MAPL_Generic.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_timestep_propagation.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/cap3g/CapGridComp.F90
  gridcomps/configurable/ConfigurableGridComp.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3432 Handmerge develop into MAPL3 2025-Feb-14
  CHANGELOG.md
  Tests/CMakeLists.txt
  Tests/GetHorzIJIndex/CMakeLists.txt
  Tests/GetHorzIJIndex/GridComp.F90
  Tests/GetHorzIJIndex/driver.F90
  Tests/GetHorzIJIndex/run_gethorzijindex.cmake
  Tests/GetHorzIJIndex/test_cases/NO_OMP/CAP.rc
  Tests/GetHorzIJIndex/test_cases/NO_OMP/ExtData.rc
  Tests/GetHorzIJIndex/test_cases/NO_OMP/GetHorzIJIndex.rc
  Tests/GetHorzIJIndex/test_cases/NO_OMP/HISTORY.rc
  Tests/GetHorzIJIndex/test_cases/OMP_1_thread/CAP.rc
  Tests/GetHorzIJIndex/test_cases/OMP_1_thread/ExtData.rc
  Tests/GetHorzIJIndex/test_cases/OMP_1_thread/GetHorzIJIndex.rc
  Tests/GetHorzIJIndex/test_cases/OMP_1_thread/HISTORY.rc
  Tests/GetHorzIJIndex/test_cases/OMP_4_thread/CAP.rc
  Tests/GetHorzIJIndex/test_cases/OMP_4_thread/ExtData.rc
  Tests/GetHorzIJIndex/test_cases/OMP_4_thread/GetHorzIJIndex.rc
  Tests/GetHorzIJIndex/test_cases/OMP_4_thread/HISTORY.rc
  Tests/MAPL_demo_fargparse.F90
  base/Base/Base_Base_implementation.F90
  base/MaplGrid.F90
  generic/OpenMP_Support.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3435 Added switch activate_all_imports - needed for testing in isolation
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/specs/ComponentSpec.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3434 Feature/bmauer/identify vertical coord extdata2g
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataRoot_GridComp.F90
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case29/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  base/ApplicationSupport.F90
  base/Base/Base_Base_implementation.F90
  base/CMakeLists.txt
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  udunits2f/UDSystem.F90
  vertical/CMakeLists.txt
  vertical/Eta2Eta.F90
  vertical/VerticalCoordinate.F90
  vertical/VerticalRegridConserveInterface.F90
  vertical/VerticalRegridUtilities.F90
Labels: :gift: New Feature, 0 Diff

#3445 v3: Fixes for easy tests
  Tests/CMakeLists.txt
  Tests/GetHorzIJIndex/CMakeLists.txt
  mapl3g/CMakeLists.txt
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3449 Fixes #3488 - Control timestep of collection
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/History3G/HistoryGridComp.F90
  gridcomps/History3G/tests/Test_HistoryCollectionGridComp.pf
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3440 Feature/wdboggs/3422 ref time to ref offset
  CHANGELOG.md
  esmf_utils/ESMF_Time_Utilities.F90
  esmf_utils/tests/Test_ESMF_Time_Utilities.pf
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_child.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/ComponentSpecParser/parse_timespec.F90
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/SetServices.F90
  generic3g/OuterMetaComponent/add_child_by_spec.F90
  generic3g/OuterMetaComponent/initialize_set_clock.F90
  generic3g/OuterMetaComponent/new_outer_meta.F90
  generic3g/specs/ChildSpec.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/FrequencyAspect.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_Aspects.pf
  generic3g/tests/Test_ComponentSpecParser.pf
  generic3g/tests/Test_timestep_propagation.pf
  gridcomps/History3G/HistoryGridComp.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3446 Feature/wdboggs/3402 test merge hconfig
  hconfig_utils/CMakeLists.txt
  hconfig_utils/HConfigUtilities.F90
  hconfig_utils/tests/CMakeLists.txt
  hconfig_utils/tests/Test_HConfigUtilities.pf
  hconfig_utils/tests/Test_hconfig_get_private.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3
