Repository GEOS-ESM/MAPL, pull requests merged in 2025-09, with the labels that each got.

#4027 Bugfix/wdboggs/fix interval compare 3968
  esmf_utils/ESMF_Time_Utilities.F90
  esmf_utils/tests/Test_ESMF_Time_Utilities.pf
  generic3g/OuterMetaComponent/initialize_set_clock.F90
  generic3g/specs/FrequencyAspect.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3

#4028 v2: Update to ESMA_env 5.13.0, ESMA_cmake 3.64.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#4030 Fixed a bug in adding lev metadata. Now adding edge metadata as well
  GeomIO/SharedIO.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4023 v3: Fix for NAG, Update to ESMF 8.9.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  generic3g/ESMF_Interfaces.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4038 Multiple Rules in ExtData3G
  Tests/CMakeLists.txt
  Tests/ExtData_Testing_Framework/CMakeLists.txt
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/GCM1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/GCM2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/GCM3.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/cap1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/cap2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/cap3.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/cap_restart1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/cap_restart2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/cap_restart3.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/extdata1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/extdata2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/extdata3.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/history1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/history2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/history3.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/logging.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/nproc.rc
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/steps.rc
  Tests/MAPL3G_Component_Testing_Framework/test_cases/cases.txt
  gridcomps/ExtData3G/ExtDataConfig.F90
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/ExtDataGridComp_private.F90
  gridcomps/ExtData3G/PrimaryExport.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4061 Fixes #4058
  Apps/MAPL_Component_Driver/DriverCap.F90
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/GCM1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/GCM2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/cap3.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/history1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case22/history2.yaml
  generic3g/transforms/RegridTransform.F90
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/PrimaryExport.F90
  gridcomps/cap3g/Cap.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4062 v2: ESMF 9 Support
  CHANGELOG.md
  generic/CMakeLists.txt
  generic/MAPL_Generic.F90
Labels: 0 Diff

#4068 GitFlow: Merge develop into main for 2.61 release
  CHANGELOG.md
  CMakeLists.txt
  generic/CMakeLists.txt
  generic/MAPL_Generic.F90
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: 0 Diff

#4077 v2: Try and repeat failed ctest
  .github/actions/ci-build-and-test-mapl/action.yml
Labels: 0 Diff Trivial, Changelog Skip

#4031 Use named alias id, instead of gridcomp+short names to set and retrieve restart mode of an import item
  .circleci/config.yml
  .github/workflows/spack-ci.yml
  .github/workflows/workflow.yml
  CMakeLists.txt
  components.yaml
  field/FieldGet.F90
  field/FieldInfo.F90
  field/RestartModes.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent/initialize_read_restart.F90
  generic3g/OuterMetaComponent/write_restart.F90
  generic3g/RestartHandler.F90
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/VariableSpec.F90
  gridcomps/StatisticsGridComp/StatisticsGridComp.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip
