Repository GEOS-ESM/MAPL, pull requests merged in 2025-10, with the labels that each got.

#4102 fix because nag didn't like `%l`...
  gridcomps/ExtData3G/DataSetNode.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip, 😖 Shutdown

#4103 v2: Add support for more than one StateSpecs per target
  CHANGELOG.md
  cmake/mapl_acg.cmake
Labels: :beetle: Bugfix, 0 Diff, 😖 Shutdown

#4106 v2: Add NAG CI Runner
  .github/workflows/nag_build_discover.yml
Labels: 0 Diff, Changelog Skip, github_actions, 😖 Shutdown
