Repository GEOS-ESM/MAPL, pull requests merged in 2025-06, with the labels that each got.

#3757 StateFilterItem => MAPL_StateFilterItem in ACG
  Apps/MAPL_GridCompSpecs_ACG.py
  CHANGELOG.md
Labels: :beetle: Bugfix, 0 Diff, :exclamation: High Priority

#3759 Add _USERRC macro from MAPL3, update readmes
  Apps/CMakeLists.txt
  Apps/COMP.rc
  Apps/Comp_Testing_Info.md
  Apps/Component_Testing/Comp_Testing_Driver.F90
  Apps/Component_Testing/README.md
  Apps/Regrid_Util/README.md
  Apps/Regrid_Util/Regrid_Util.F90
  CHANGELOG.md
  include/MAPL_ErrLog.h
  include/README.md
Labels: 0 Diff

#3766 Merge develop into main to get readmes onto main
  Apps/CMakeLists.txt
  Apps/COMP.rc
  Apps/Comp_Testing_Info.md
  Apps/Component_Testing/Comp_Testing_Driver.F90
  Apps/Component_Testing/README.md
  Apps/MAPL_GridCompSpecs_ACG.py
  Apps/Regrid_Util/README.md
  Apps/Regrid_Util/Regrid_Util.F90
  CHANGELOG.md
  include/MAPL_ErrLog.h
  include/README.md
Labels: 0 Diff

#3764 Feature/bmauer/below surf extrapolation ecmwf
  CHANGELOG.md
  base/MAPL_VerticalMethods.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/GriddedIO.F90
Labels: :gift: New Feature, 0 Diff

#3777 Handmerge develop into MAPL3 2025Jun05
  CHANGELOG.md
  base/MAPL_VerticalMethods.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  griddedio/GriddedIO.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip, github_actions

#3775 Added optional argument `add2export` for MAPL_GridCompAddFieldSpec
  generic3g/ESMF_Utilities.F90
  generic3g/MAPL_Generic.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3779 Fixes #3778
  CHANGELOG.md
  griddedio/GriddedIO.F90
Labels: :beetle: Bugfix, 0 Diff

#3784 Handmerge develop into MAPL3 2025Jun06
  CHANGELOG.md
  griddedio/GriddedIO.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip, :wrench: Github Actions

#3776 VariableSpec - Add support for ESMF_FieldBundle ESMF_State
  generic3g/MAPL_Generic.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/FieldBundleClassAspect.F90
  generic3g/specs/StateClassAspect.F90
  generic3g/specs/VariableSpec.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3790 Fix up Spack CI
  .github/workflows/spack-ci-esmf-develop.yml
  .github/workflows/spack-ci.yml
Labels: 0 Diff, Changelog Skip

#3792 Fixes #3781 - Rename MAPL_GridCompAddFieldSpec -> MAPL_GridCompAddSpec
  Apps/MAPL_GridCompSpecs_ACGv3.py
  Apps/tests/acg3/ACG3.F90
  CHANGELOG.md
  field_bundle/FieldBundleInfo.F90
  generic3g/Generic3g.F90
  generic3g/MAPL_Generic.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3594 Introduce schema.version option for trajectory sampler
  CHANGELOG.md
  base/MAPL_ObsUtil.F90
  base/MAPL_SwathGridFactory.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_MaskMod.F90
  gridcomps/History/Sampler/MAPL_MaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: :gift: New Feature, 0 Diff

#3795 Fix binary writes/reads in simulators
  CHANGELOG.md
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
  benchmarks/io/restart_simulator/restart_simulator.F90
Labels: 0 Diff

#3794 Add write_LZ_first option to sampler code
  CHANGELOG.md
  gridcomps/History/Sampler/MAPL_MaskMod.F90
  gridcomps/History/Sampler/MAPL_MaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: 0 Diff Trivial

#3803 fixes #3802
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: 0 Diff Trivial, :hammer_and_wrench: Refactor

#3811 Fix Ford readme
  docs/Ford/README.md
Labels: :memo: Documentation, 0 Diff, Changelog Skip

#3785 Feature/wjiang/add 0d string nc
  CHANGELOG.md
  pfio/NetCDF4_FileFormatter.F90
  pfio/NetCDF4_get_var.H
  pfio/NetCDF4_put_var.H
  pfio/NetCDF_Supplement.F90
  pfio/pfio_nf90_supplement.c
  pfio/tests/pfio_read_write_string_example.F90
Labels: :gift: New Feature, 0 Diff

#3826 Merge develop into main for 2.57 Release
  .github/workflows/spack-ci-esmf-develop.yml
  .github/workflows/spack-ci.yml
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  base/Base.F90
  base/CMakeLists.txt
  base/MAPL_EASEConversion.F90
  base/MAPL_EASEGridFactory.F90
  base/MAPL_GridManager.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_SatVapor.F90
  base/MAPL_SwathGridFactory.F90
  base/MAPL_VerticalMethods.F90
  base/NCIO.F90
  base/Plain_netCDF_Time.F90
  base/eqsat.H
  base/eqsatramp.H
  base/qsatramp.H
  benchmarks/io/checkpoint_simulator/checkpoint_simulator.F90
  benchmarks/io/raw_bw/BW_Benchmark.F90
  benchmarks/io/raw_bw/BW_BenchmarkSpec.F90
  benchmarks/io/raw_bw/CMakeLists.txt
  benchmarks/io/raw_bw/driver.F90
  benchmarks/io/restart_simulator/restart_simulator.F90
  docs/Ford/README.md
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_MaskMod.F90
  gridcomps/History/Sampler/MAPL_MaskMod_smod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
  griddedio/GriddedIO.F90
  pfio/NetCDF4_FileFormatter.F90
  pfio/NetCDF4_get_var.H
  pfio/NetCDF4_put_var.H
  pfio/NetCDF_Supplement.F90
  pfio/pfio_nf90_supplement.c
  pfio/tests/pfio_read_write_string_example.F90
Labels: 0 Diff

#3830 Fixed a bug in merging of hconfig
  generic3g/OuterMetaComponent/add_child_by_spec.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3832 Fixes #3831 - bug in MAPL_ClockGet
  generic3g/MAPL_Generic.F90
Labels: :beetle: Bugfix, 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3835 Feature/reduce compiler warnings
  generic3g/ESMF_Subset.F90
  generic3g/Generic3g.F90
  generic3g/MAPL_Generic.F90
  generic3g/tests/Test_ClockGet.pf
  geom/API.F90
  geom/API/grid_get.F90
  geom/CoordinateAxis.F90
  geom/CoordinateAxis/equal_to.F90
  geom/CoordinateAxis/get_centers.F90
  geom/CoordinateAxis/get_coordinates_dim.F90
  geom/CoordinateAxis/get_corners.F90
  geom/CoordinateAxis/get_dim_name.F90
  geom/CoordinateAxis/get_extent.F90
  geom/CoordinateAxis/is_periodic.F90
  geom/CoordinateAxis/new_CoordinateAxis.F90
  geom/CoordinateAxis/not_equal_to.F90
  geom/CubedSphere/CubedSphereDecomposition_smod.F90
  geom/CubedSphere/CubedSphereGeomFactory_smod.F90
  geom/GeomManager/get_mapl_geom_from_metadata.F90
  geom/GeomManager/make_geom_spec_from_hconfig.F90
  geom/GeomManager/make_geom_spec_from_metadata.F90
  geom/GeomManager/make_mapl_geom_from_spec.F90
  geom/GeomSpec.F90
  geom/NullGeomSpec.F90
  gridcomps/cap3g/Cap.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3820 Add validation subroutine for VariableSpec
  CHANGELOG.md
  generic3g/specs/CMakeLists.txt
  generic3g/specs/VariableSpec.F90
  generic3g/specs/VariableSpec_private.F90
  generic3g/specs/is_in_set.h
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_VariableSpec_private.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3815 Fixes #3805 (logging)
  generic3g/CMakeLists.txt
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/add_child_by_spec.F90
  generic3g/OuterMetaComponent/get_logger.F90
  generic3g/OuterMetaComponent/init_meta.F90
  generic3g/OuterMetaComponent/run_child_by_name.F90
  generic3g/RestartHandler.F90
  generic3g/specs/FieldClassAspect.F90
  mapl3g/GEOS.F90
  mapl3g/MaplFramework.F90
  pfunit/CMakeLists.txt
  pfunit/MAPL_Initialize.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3846 Feature/wdboggs/validate variablespec tests 3699
  generic3g/specs/VariableSpec.F90
  generic3g/specs/VariableSpec_private.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_VariableSpec.pf
  generic3g/tests/Test_VariableSpec_private.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3847 fixes #3845
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/cap3g/tests/basic_captest/history.yaml
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3853 Add markup link checker
  .github/workflows/markup-link-checker.yml
  CHANGELOG.md
  docs/user_guide/docs/mapl_Introduction.md
  docs/user_guide/docs/mapl_cap.md
Labels: 0 Diff Trivial
