Repository GEOS-ESM/MAPL, pull requests merged in 2025-08, with the labels that each got.

#3926 Fix incorrect unit conversion for target lat/lon in ExtData
  Apps/Regrid_Util/Regrid_Util.F90
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/NCIO.F90
  base/tests/mapl_bundleio_test.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
Labels: 0 Diff

#3939 Enforce name conventions.
  Apps/MAPL_Component_Driver/DriverCap.F90
  generic3g/ComponentDriver.F90
  generic3g/MethodPhasesMap.F90
  generic3g/OuterMetaComponent/set_entry_point.F90
  generic3g/tests/Test_timestep_propagation.pf
  gridcomps/cap3g/Cap.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3941 Revert to old CS Factory interface keywords to avoid API change
  base/MAPL_CubedSphereGridFactory.F90
Labels: 0 Diff, Changelog Skip

#3943 Handmerge develop into MAPL3 2025Aug04
  Apps/Regrid_Util/Regrid_Util.F90
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/NCIO.F90
  base/tests/mapl_bundleio_test.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip, :wrench: Github Actions

#3945 Fixes #3944 enable "has deferred aspects"
  generic3g/MAPL_Generic.F90
  generic3g/specs/ClassAspect.F90
  generic3g/specs/StateItemModify.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/VariableSpec_private.F90
  generic3g/tests/Test_VariableSpec_private.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3950 Feature/#3949 state item is aliased
  field/FieldCreate.F90
  field/tests/Test_FieldCreate.pf
  field_bundle/API.F90
  field_bundle/FieldBundleCreate.F90
  field_bundle/tests/CMakeLists.txt
  field_bundle/tests/Test_FieldBundlesAreAliased.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3954 Prepare for MAPL 2.59.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff

#3948 IO in ExtData3g
  GeomIO/GeomIO.F90
  GeomIO/Grid_PFIO.F90
  GeomIO/pFIOServerBounds.F90
  gridcomps/ExtData3G/AbstractDataSetFileSelector.F90
  gridcomps/ExtData3G/CMakeLists.txt
  gridcomps/ExtData3G/ExtDataFileReader.F90
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/ExtDataGridComp_private.F90
  gridcomps/ExtData3G/NonClimDataSetFileSelector.F90
  gridcomps/ExtData3G/PrimaryExport.F90
  gridcomps/ExtData3G/tests/Test_NonClimDataSetFileSelector.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3956 GitFlow: Merge develop into main for 2.59 release
  Apps/Regrid_Util/Regrid_Util.F90
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base_implementation.F90
  base/MAPL_CubedSphereGridFactory.F90
  base/NCIO.F90
  base/tests/mapl_bundleio_test.F90
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
  pfio/NetCDF_Supplement.F90
  pfio/tests/Test_Client.pf
  pfio/tests/Test_NetCDF4_FileFormatter.pf
Labels: 0 Diff

#3960 Feature/#3958 exercise deferred feature
  generic3g/specs/StateItemModify.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/gridcomps/CMakeLists.txt
  generic3g/tests/gridcomps/ProtoStatGridComp.F90
  generic3g/tests/scenarios/statistics/A.yaml
  generic3g/tests/scenarios/statistics/cap.yaml
  generic3g/tests/scenarios/statistics/collection_1.yaml
  generic3g/tests/scenarios/statistics/expectations.yaml
  generic3g/tests/scenarios/statistics/history.yaml
  generic3g/tests/scenarios/statistics/root.yaml
  generic3g/tests/scenarios/statistics/stat.yaml
  state/get_array_ptr_template.H
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3967 Feature/#3964 propagate invalid
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/invalidate/A.yaml
  generic3g/tests/scenarios/invalidate/B.yaml
  generic3g/tests/scenarios/invalidate/cap.yaml
  generic3g/tests/scenarios/invalidate/description.md
  generic3g/tests/scenarios/invalidate/expectations.yaml
  gridcomps/configurable/ConfigurableGridComp.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3980 Feature/bmauer/mapl histext systest
  Apps/MAPL_Component_Driver/CMakeLists.txt
  Apps/MAPL_Component_Driver/DriverCap.F90
  Apps/MAPL_Component_Driver/DriverCapGridComp.F90
  Tests/CMakeLists.txt
  Tests/MAPL3G_Component_Testing_Framework/CMakeLists.txt
  Tests/MAPL3G_Component_Testing_Framework/run_comp_tester.cmake
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/GCM1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/GCM2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/cap1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/cap2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/cap_restart1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/cap_restart2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/extdata1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/extdata2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/history1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/history2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/logging.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/nproc.rc
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/steps.rc
  Tests/MAPL3G_Component_Testing_Framework/test_cases/cases.txt
  esmf_utils/ESMF_Time_Utilities.F90
  generic3g/OuterMetaComponent/initialize_set_clock.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/cap3g/Cap.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3982 Fixes #3981 Update EvalTransform.F90
  generic3g/transforms/EvalTransform.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3994 Fixes #3991
  Apps/MAPL_Component_Driver/CMakeLists.txt
  GeomIO/Geom_PFIO.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3997 Implement restart mode for restart/checkpoints
  field/API.F90
  field/CMakeLists.txt
  field/FieldGet.F90
  field/FieldInfo.F90
  field/RestartModes.F90
  generic3g/Generic3g.F90
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent/initialize_read_restart.F90
  generic3g/OuterMetaComponent/write_restart.F90
  generic3g/RestartHandler.F90
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/VariableSpec.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3999 Refactoring RestartHandler.F90
  generic3g/RestartHandler.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3998 Fixes #3996 (enum for connection progression)
  field/API.F90
  field/CMakeLists.txt
  field/FieldCreate.F90
  field/FieldGet.F90
  field/FieldInfo.F90
  field/StateItemAllocation.F90
  field_bundle/FieldBundleGet.F90
  field_bundle/FieldBundleInfo.F90
  field_bundle/FieldBundleSet.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/ExpressionClassAspect.F90
  generic3g/specs/FieldBundleClassAspect.F90
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/StateItemModify.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/VectorClassAspect.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/history_1/collection_1.yaml
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/ExtDataGridComp_private.F90
  gridcomps/ExtData3G/PrimaryExport.F90
  state/StateGet.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4008 Kludge to prevent crashes on NAG + OSX
  generic3g/OuterMetaComponent/initialize_read_restart.F90
  generic3g/tests/Test_Scenarios.pf
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4016 Fixes $4014 - mapl_GridCompAdvertiseVariable
  generic3g/CMakeLists.txt
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/advertise_variable.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4015 Beta support for 3D variables ExtData3G
  GeomIO/SharedIO.F90
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/GCM1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/GCM2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/extdata1.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/extdata2.yaml
  Tests/MAPL3G_Component_Testing_Framework/test_cases/case01/history1.yaml
  field/VerticalStaggerLoc.F90
  generic3g/OuterMetaComponent/initialize_geom_a.F90
  generic3g/specs/VerticalGridAspect.F90
  gridcomps/ExtData3G/CMakeLists.txt
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/PrimaryExport.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4021 MAPL_GridCompAddVarSpec ungridded_dims
  Apps/tests/acg3/ACG3.F90
  Apps/tests/acg3/compile_test.acg
  generic3g/MAPL_Generic.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4022 end time = current time + segment duration
  gridcomps/cap3g/Cap.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4026 Fix to allocate non-connected import items
  generic3g/specs/StateItemSpec.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#4003 Fixes #3999
  CMakeLists.txt
  component/CMakeLists.txt
  component/ComponentDriver.F90
  component/ComponentDriverPtrVector.F90
  component/ComponentDriverVector.F90
  component/CouplerPhases.F90
  component/GriddedComponentDriver.F90
  component/GriddedComponentDriver/add_export_coupler.F90
  component/GriddedComponentDriver/add_import_coupler.F90
  component/GriddedComponentDriver/clock_advance.F90
  component/GriddedComponentDriver/finalize.F90
  component/GriddedComponentDriver/get_clock.F90
  component/GriddedComponentDriver/get_gridcomp.F90
  component/GriddedComponentDriver/get_name.F90
  component/GriddedComponentDriver/get_states.F90
  component/GriddedComponentDriver/initialize.F90
  component/GriddedComponentDriver/run.F90
  component/GriddedComponentDriver/run_export_couplers.F90
  component/GriddedComponentDriver/run_import_couplers.F90
  component/GriddedComponentDriver/set_clock.F90
  component/GriddedComponentDriver/write_restart.F90
  component/GriddedComponentDriverMap.F90
  component/GriddedComponentDriverVector.F90
  component/MultiState.F90
  esmf_utils/CMakeLists.txt
  esmf_utils/ESMF_Utilities.F90
  generic3g/CMakeLists.txt
  generic3g/couplers/CMakeLists.txt
  generic3g/vertical/CMakeLists.txt
  vertical/CMakeLists.txt
  vertical/VerticalGrid.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip
