Repository GEOS-ESM/MAPL, pull requests merged in 2025-04, with the labels that each got.

#3563 fixes #3562
  CHANGELOG.md
  base/MAPL_AbstractGridFactory.F90
  base/MAPL_GridManager.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: :beetle: Bugfix, 0 Diff

#3564 Handmerge develop into MAPL3 - 2025-Apr-01
  CHANGELOG.md
  base/MAPL_AbstractGridFactory.F90
  base/MAPL_GridManager.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip, :wrench: Github Actions

#3568 Fixed #3551 - add restart reading to one of the initialize phases
  generic3g/CMakeLists.txt
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/has_geom.F90
  generic3g/OuterMetaComponent/initialize_realize.F90
  generic3g/OuterMetaComponent/read_restart.F90
  gridcomps/cap3g/Cap.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3572 Feature/bmauer/fixes #3571
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
Labels: :gift: New Feature, 0 Diff

#3576 Fixed #3551 - new initialize phase - read_restart
  generic3g/CMakeLists.txt
  generic3g/ComponentDriver.F90
  generic3g/GenericGridComp.F90
  generic3g/GenericPhases.F90
  generic3g/GriddedComponentDriver.F90
  generic3g/GriddedComponentDriver/read_restart.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_read_restart.F90
  generic3g/OuterMetaComponent/initialize_realize.F90
  generic3g/OuterMetaComponent/read_restart.F90
  generic3g/OuterMetaComponent/recurse.F90
  generic3g/OuterMetaComponent/write_restart.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3581 Clean up MAPL3 CI
  .circleci/config.yml
  .github/actions/ci-build-and-test-mapl/action.yml
  .github/workflows/workflow.yml
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3

#3580 More cleanup for MAPL CI
  .circleci/config.yml
  .github/actions/ci-build-and-test-mapl/action.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 Diff, Changelog Skip

#3584 Fixes #3579 - Query gridcomp for grid and num_levels
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/get_geom.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3517 Update components and INSTALL.md
  CHANGELOG.md
  INSTALL.md
  components.yaml
Labels: 0 Diff

#3585 Fixes #3478 & fixes #3582
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_read_restart.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/ComponentSpec.F90
  shared/CMakeLists.txt
  shared/MaplShared.F90
  shared/StringUtilities.F90
  shared/tests/CMakeLists.txt
  shared/tests/test_StringUtilities.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3596 Directories with 'Plug' in name are also components
  base/mapl_tree.py
Labels: 0 Diff Trivial, Changelog Skip

#3599 Prepare for MAPL 2.55.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial

#3595 MAPL_StateGetPointer and others
  field_bundle/API.F90
  field_bundle/CMakeLists.txt
  field_bundle/FieldBundleCreate.F90
  generic3g/RestartHandler.F90
  geom/tests/Test_GridGet.pf
  state/API.F90
  state/CMakeLists.txt
  state/StateGetPointerToData.F90
  state/StateGetPointerToDataTemplate.H
  state/overload.macro
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3609 Fixes #3605 and #3600
  GeomIO/SharedIO.F90
  field/API.F90
  field/FieldCondensedArray.F90
  field/FieldDelta.F90
  field/FieldGet.F90
  field/FieldInfo.F90
  field/tests/Test_FieldCreate.pf
  field/tests/Test_FieldDelta.pf
  field_bundle/tests/Test_FieldBundleDelta.pf
  generic3g/transforms/MeanTransform.F90
  state/API.F90
  state/CMakeLists.txt
  state/StateGet.F90
  state/StateGetPointer.F90
  state/StateGetPointerToData.F90
  state/StateGetPointerToDataTemplate.H
  state/StateSet.F90
  state/get_array_ptr_template.H
  state/overload.macro
  state/undef.macro
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3610 Feature/#3608 separate field set
  field/API.F90
  field/CMakeLists.txt
  field/FieldDelta.F90
  field/FieldGet.F90
  field/FieldSet.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3617 Feature/wdboggs/change rc in acg docs
  CHANGELOG.md
  docs/tutorial/grid_comps/automatic_code_generator_example/ACG_StateSpecs.acg
  docs/tutorial/grid_comps/automatic_code_generator_example/CMakeLists.txt
  docs/user_guide/docs/mapl_code_generator.md
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3

#3618 Fixes #3614
  GeomIO/SharedIO.F90
  field/FieldGet.F90
  field/FieldInfo.F90
  field/FieldSet.F90
  field_bundle/API.F90
  field_bundle/CMakeLists.txt
  field_bundle/FieldBundleDelta.F90
  field_bundle/FieldBundleGet.F90
  field_bundle/FieldBundleInfo.F90
  field_bundle/FieldBundleSet.F90
  field_bundle/tests/Test_FieldBundleDelta.pf
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/connection/SimpleConnection.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/ClassAspect.F90
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/ServiceClassAspect.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/VectorClassAspect.F90
  generic3g/specs/WildcardClassAspect.F90
  generic3g/tests/MockAspect.F90
  generic3g/tests/Test_ModelVerticalGrid.pf
  generic3g/tests/Test_StateRegistry.pf
  generic3g/tests/Test_TimeInterpolateTransform.pf
  generic3g/tests/gridcomps/ProtoExtDataGC.F90
  generic3g/transforms/TimeInterpolateTransform.F90
  generic3g/transforms/VerticalRegridTransform.F90
  regridder_mgr/Regridder.F90
  state/StateGet.F90
  state/StateSet.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3621 turn on extdata3g in cap tests
  gridcomps/cap3g/tests/basic_captest/cap.yaml
  gridcomps/cap3g/tests/basic_captest/extdata.yaml
  gridcomps/cap3g/tests/parent_child_captest/cap.yaml
  gridcomps/cap3g/tests/parent_child_captest/extdata.yaml
  gridcomps/cap3g/tests/write_restart/cap.yaml
  gridcomps/cap3g/tests/write_restart/extdata.yaml
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3623 Fixes #3622
  field/EsmfRegridder.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3628 Fixed #3627 - bug in VerticalRegridTransform, and some cleanup
  generic3g/transforms/VerticalRegridTransform.F90
Labels: :beetle: Bugfix, 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3631 Fixes #3692 bracket-vs-vector
  field_bundle/API.F90
  field_bundle/FieldBundleCreate.F90
  field_bundle/FieldBundleGet.F90
  field_bundle/FieldBundleInfo.F90
  field_bundle/FieldBundleSet.F90
  field_bundle/FieldBundleType_Flag.F90
  field_bundle/tests/Test_FieldBundleDelta.pf
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/VectorClassAspect.F90
  regridder_mgr/EsmfRegridder.F90
  regridder_mgr/NullRegridder.F90
  regridder_mgr/Regridder.F90
  regridder_mgr/tests/Test_RegridderManager.pf
Labels: :beetle: Bugfix, :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3640 Update ESMA_cmake to v3.58.2
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#3642 fixes #3636
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  vertical/Eta2Eta.F90
  vertical/VerticalCoordinate.F90
  vertical/VerticalRegridConserveInterface.F90
Labels: :beetle: Bugfix, 0 Diff

#3626 Fix bug in profiler demo
  CHANGELOG.md
  profiler/demo/demo.F90
Labels: :beetle: Bugfix, 0 Diff

#3663 Update CI to use Baselibs 7.33.0
  .circleci/config.yml
  .github/workflows/workflow.yml
Labels: 0 Diff, Changelog Skip, :wrench: Github Actions

#3660 Feature/wdboggs/update acg documentation
  CHANGELOG.md
  docs/user_guide/docs/mapl_code_generator.md
Labels: :memo: Documentation, 0 Diff Trivial

#3662 Feature/bmauer/fixes #3634
  CHANGELOG.md
  CMakeLists.txt
  MAPL/MAPL.F90
  Tests/ExtDataRoot_GridComp.F90
  base/Base.F90
  base/CMakeLists.txt
  gridcomps/ExtData/CMakeLists.txt
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
  state/CMakeLists.txt
  state/StateArithmeticParser.F90
  state/StateFilter.F90
  state/StateMasking.F90
  state/StateUtils.F90
  state/tests/CMakeLists.txt
  state/tests/Test_StateArithmetic.pf
  state/tests/Test_StateFilter.pf
  state/tests/Test_StateMask.pf
  state/tests/state_utils_setup.F90
Labels: :gift: New Feature, 0 Diff

#3668 Handmerge develop into MAPL3 - 2025Apr30
  CHANGELOG.md
  MAPL/MAPL.F90
  Tests/ExtDataRoot_GridComp.F90
  base/Base.F90
  base/CMakeLists.txt
  gridcomps/ExtData/CMakeLists.txt
  gridcomps/ExtData/ExtDataGridCompMod.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataConfig.F90
  gridcomps/ExtData2G/ExtDataDerived.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  state/CMakeLists.txt
  state/StateArithmeticParser.F90
  state/StateFilter.F90
  state/StateMasking.F90
  state/StateUtils.F90
  state/tests/CMakeLists.txt
  state/tests/Test_StateArithmetic.pf
  state/tests/Test_StateFilter.pf
  state/tests/Test_StateMask.pf
  state/tests/state_utils_setup.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip
