Repository GEOS-ESM/MAPL, pull requests merged in 2025-03, with the labels that each got.

#3461 Feature/wdboggs/add alias to acg3
  Apps/MAPL_GridCompSpecs_ACGv3.py
  CHANGELOG.md
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3463 Fixes #3436 - Changes to get the tests for GetHorzIJIndex to pass on NAG
  CHANGELOG.md
  Tests/GetHorzIJIndex/driver.F90
  generic/OpenMP_Support.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 Diff Trivial

#3466 Feature/bmauer/fixes #3442
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
Labels: :gift: New Feature, 0 Diff

#3467 Handmerge develop to MAPL3 2025-Mar-10
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataDriverGridComp.F90
  Tests/ExtDataRoot_GridComp.F90
  Tests/ExtData_Testing_Framework/test_cases/case27/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case28/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case29/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/test_case_descriptions.md
  Tests/GetHorzIJIndex/driver.F90
  base/ApplicationSupport.F90
  base/Base/Base_Base_implementation.F90
  base/CMakeLists.txt
  base/FileMetadataUtilities.F90
  generic/OpenMP_Support.F90
  gridcomps/Cap/MAPL_Cap.F90
  gridcomps/Cap/MAPL_CapGridComp.F90
  gridcomps/ExtData2G/CMakeLists.txt
  gridcomps/ExtData2G/ExtDataAbstractFileHandler.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  udunits2f/UDSystem.F90
  vertical/CMakeLists.txt
  vertical/Eta2Eta.F90
  vertical/VerticalCoordinate.F90
  vertical/VerticalRegridConserveInterface.F90
  vertical/VerticalRegridUtilities.F90
Labels: 0 Diff

#3427 Update editorconfig for Fortran
  .editorconfig
  CHANGELOG.md
Labels: 0 Diff Trivial

#3444 Fixes #3443. Add execs to build-tests target
  CHANGELOG.md
  Tests/CMakeLists.txt
  Tests/GetHorzIJIndex/CMakeLists.txt
Labels: 0 Diff

#3447 Update the documentation for the automatic code generator
  docs/user_guide/docs/mapl_code_generator.md
Labels: :memo: Documentation, 0 Diff Trivial, Changelog Skip

#3395 Use O-server for MAPL sampler codes: Mask sampler (part 1)
  CHANGELOG.md
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_MaskMod.F90
  gridcomps/History/Sampler/MAPL_MaskMod_smod.F90
Labels: 0 Diff Trivial

#3473 MAPL3: Updates for ESMF 8.9.0 Support
  CMakeLists.txt
  generic3g/CMakeLists.txt
  generic3g/MAPL_Generic.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/add_child_by_spec.F90
  gridcomps/ExtData3G/CMakeLists.txt
  hconfig_utils/CMakeLists.txt
  hconfig_utils/HConfigUtilities.F90
Labels: 0 Diff

#3476 Handmerge develop into MAPL3 2025-Mar-11
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
  gridcomps/History/CMakeLists.txt
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_EpochSwathMod.F90
  gridcomps/History/Sampler/MAPL_MaskMod.F90
  gridcomps/History/Sampler/MAPL_MaskMod_smod.F90
  griddedio/GriddedIO.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip, :wrench: Github Actions

#3481 Fixes #3480 - rename *Action -> *Transform
  generic3g/CMakeLists.txt
  generic3g/actions/ActionVector.F90
  generic3g/actions/CMakeLists.txt
  generic3g/actions/GenericExtension.F90
  generic3g/actions/RegridExtension.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/couplers/GenericCoupler.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/specs/AbstractActionSpec.F90
  generic3g/specs/AttributesAspect.F90
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/FrequencyAspect.F90
  generic3g/specs/GeomAspect.F90
  generic3g/specs/ServiceClassAspect.F90
  generic3g/specs/StateClassAspect.F90
  generic3g/specs/StateItemAspect.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/TypekindAspect.F90
  generic3g/specs/UngriddedDimsAspect.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/specs/VerticalGridAspect.F90
  generic3g/specs/WildcardClassAspect.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/MockAspect.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_AccumulatorTransform.pf
  generic3g/tests/Test_ExtensionTransform.pf
  generic3g/tests/Test_MaxTransform.pf
  generic3g/tests/Test_MeanTransform.pf
  generic3g/tests/Test_MinTransform.pf
  generic3g/tests/Test_TimeInterpolateTransform.pf
  generic3g/tests/accumulator_transform_test_common.F90
  generic3g/transforms/AccumulatorTransform.F90
  generic3g/transforms/AccumulatorTransformInterface.F90
  generic3g/transforms/CMakeLists.txt
  generic3g/transforms/ConvertUnitsTransform.F90
  generic3g/transforms/CopyTransform.F90
  generic3g/transforms/ExtensionTransform.F90
  generic3g/transforms/MaxTransform.F90
  generic3g/transforms/MeanTransform.F90
  generic3g/transforms/MinTransform.F90
  generic3g/transforms/NullTransform.F90
  generic3g/transforms/RegridTransform.F90
  generic3g/transforms/TimeAverageTransform.F90
  generic3g/transforms/TimeInterpolateTransform.F90
  generic3g/transforms/TransformVector.F90
  generic3g/transforms/VerticalRegridTransform.F90
  generic3g/transforms/notes.md
  generic3g/vertical/ModelVerticalGrid.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3486 fixes #3485
  CHANGELOG.md
  CMakeLists.txt
  gridcomps/History/MAPL_HistoryGridComp.F90
Labels: :beetle: Bugfix, 0 Diff

#3474 Feature/wdboggs/add time accumulation to history3g
  CHANGELOG.md
  generic3g/specs/VariableSpec.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
  gridcomps/History3G/HistoryGridComp.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3493 relax mpi thread levels
  CHANGELOG.md
  gridcomps/Cap/MAPL_Cap.F90
Labels: 0 Diff Trivial

#3498 Fixes #3499
  generic3g/MAPL_Generic.F90
  generic3g/tests/Test_timestep_propagation.pf
  gridcomps/cap3g/CapGridComp.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3503 Check that the Fortran pointer type and kind match the ESMF_Field typekind in assign_fptr
  CHANGELOG.md
  field/FieldPointerUtilities.F90
  generic3g/tests/Test_MeanTransform.pf
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3

#3495 Fixes #3483 vector regridding
  field/FieldBLAS.F90
  field/FieldPointerUtilities.F90
  geom_mgr/GeomManager.F90
  geom_mgr/MaplGeom.F90
  geom_mgr/MaplGeom/get_basis.F90
  geom_mgr/VectorBasis/destroy_fields.F90
  geom_mgr/VectorBasis/grid_get_coords_2d.F90
  geom_mgr/VectorBasis/new_NS_Basis.F90
  regridder_mgr/CMakeLists.txt
  regridder_mgr/EsmfRegridder.F90
  regridder_mgr/EsmfRegridderFactory.F90
  regridder_mgr/NullRegridder.F90
  regridder_mgr/Regridder.F90
  regridder_mgr/RegridderManager.F90
  regridder_mgr/tests/Test_RegridderManager.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3337 Add Release build MAPL Tests
  .circleci/config.yml
  CHANGELOG.md
Labels: 0 Diff

#3347 Fix for ExtData2G unit test on discover GNU
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataUpdatePointer.F90
  gridcomps/ExtData2G/tests/CMakeLists.txt
  gridcomps/ExtData2G/tests/Test_ExtDataUpdatePointer.pf
  pfunit/MAPL_Initialize.F90
Labels: :beetle: Bugfix, 0 Diff

#3298 Add Spack CI GCC test
  .github/workflows/spack-ci.yml
  CHANGELOG.md
Labels: 0 Diff

#3508 Feature/wdboggs/acg dims column refactor 3500
  Apps/MAPL_GridCompSpecs_ACGv3.py
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3

#3515 Fixes #3502: Remove redundant vertical dim spec
  field/VerticalStaggerLoc.F90
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/Generic3g.F90
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/VerticalDimSpec.F90
  generic3g/specs/VerticalGridAspect.F90
  generic3g/tests/Test_Aspects.pf
  generic3g/tests/Test_ModelVerticalGrid.pf
  generic3g/vertical/BasicVerticalGrid.F90
  generic3g/vertical/FixedLevelsVerticalGrid.F90
  generic3g/vertical/MirrorVerticalGrid.F90
  generic3g/vertical/ModelVerticalGrid.F90
  generic3g/vertical/VerticalGrid.F90
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3519 Fixes #3518
  CHANGELOG.md
  base/MAPL_Config.F90
  base/tests/Test_MAPL_Config.pf
Labels: :beetle: Bugfix, 0 Diff

#3521 Fixes #3501: MAPL_GridCompAddFieldSpec - new public interface to add a field spec
  generic3g/MAPL_Generic.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3529 Fixes #3528 - Added an option to mapl_acg to use ACG v3 instead of ACG
  Apps/CMakeLists.txt
  cmake/mapl_acg.cmake
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3533 Fixes #3532 clone field metadata
  field/FieldPointerUtilities.F90
  field/tests/Test_FieldBLAS.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3556 Fixes #3554 Set gridToFieldMap in FieldClassAspect::allocate
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/GeomAspect.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3553 Fixes #3552 - retrieve coordinates from a grid
  geom_mgr/VectorBasis.F90
  geom_mgr/geom_mgr.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3555 Partially fixes #3554 - create 1d field
  field/FieldCreate.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3546 Feature/bmauer/volume mixing regridding
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  vertical/VerticalRegridConserveInterface.F90
Labels: :gift: New Feature, 0 Diff

#3549 Fixes #3548 - Calling make_VariableSpec with UngriddedDims
  esmf_utils/UngriddedDims.F90
  generic3g/MAPL_Generic.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3558 Handmerge develop into MAPL3 2025-Mar-31
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
  vertical/VerticalRegridConserveInterface.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip, github_actions

#3560 remove some comments and change keyword from negative to positive
  CHANGELOG.md
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/ExtData2G/ExtDataOldTypesCreator.F90
  gridcomps/ExtData2G/ExtDataRule.F90
  gridcomps/ExtData2G/ExtDataTypeDef.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor
