Repository GEOS-ESM/MAPL, pull requests merged in 2025-07, with the labels that each got.

#3856 Consolidate common. string (character) utilities for MAPL
  CHANGELOG.md
  shared/String.F90
  shared/StringUtilities.F90
  shared/tests/test_StringUtilities.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3862 Fixes #3693. Unit test fix for GCC 15
  generic3g/tests/Test_Scenarios.pf
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3

#3857 A MAPL3 Version of ExtDataDriver.x
  Apps/CMakeLists.txt
  Apps/MAPL_Component_Driver/CMakeLists.txt
  Apps/MAPL_Component_Driver/DriverCap.F90
  Apps/MAPL_Component_Driver/DriverCapGridComp.F90
  Apps/MAPL_Component_Driver/MAPL_Component_Driver.F90
  Apps/MAPL_Component_Driver/RootGridComp.F90
  Apps/MAPL_Component_Driver/time_support.F90
Labels: :gift: New Feature, 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3868 Let logger print the gridcomp name, instead of mapl.generic
  generic3g/OuterMetaComponent/init_meta.F90
Labels: :beetle: Bugfix, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3873 v3: Turn off ifx in CI
  .github/workflows/workflow.yml
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3875 fixes #3874
  Apps/MAPL_Component_Driver/CMakeLists.txt
  Apps/MAPL_Component_Driver/ComponentDriverGridComp.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3877 Feature/wmputman/lm v12rc14 wmp
  CHANGELOG.md
  gridcomps/Cap/MAPL_CapGridComp.F90
Labels: 0 Diff

#3880 Prepare for MAPL 2.58.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial

#3888 Feature/bmauer/first attempt connect extdata3g
  Apps/MAPL_Component_Driver/ComponentDriverGridComp.F90
  generic3g/Generic3g.F90
  generic3g/specs/BracketClassAspect.F90
  gridcomps/ExtData3G/CMakeLists.txt
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/ExtDataGridComp_private.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3891 Feature/#3889 field modify
  esmf_utils/InfoUtilities.F90
  field/FieldInfo.F90
  field_bundle/FieldBundleInfo.F90
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ClassAspect.F90
  generic3g/specs/ExpressionClassAspect.F90
  generic3g/specs/FieldBundleClassAspect.F90
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/ServiceClassAspect.F90
  generic3g/specs/StateClassAspect.F90
  generic3g/specs/StateItemModify.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/specs/VectorClassAspect.F90
  generic3g/specs/WildcardClassAspect.F90
  generic3g/tests/MockAspect.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3903 changes needed to couple ExtData to another component
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/Generic3g.F90
  generic3g/OuterMetaComponent/initialize_advertise.F90
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/StateItemModify.F90
  generic3g/specs/VerticalGridAspect.F90
  generic3g/vertical/BasicVerticalGrid.F90
  geom/LatLon/LatAxis/make_lataxis_from_metadata.F90
  geom/LatLon/LonAxis/make_LonAxis_from_metadata.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3909 Fixes #3907
  CMakeLists.txt
  gridcomps/cap3g/Cap.F90
  mapl3g/CMakeLists.txt
  mapl3g/mapl3g.F90
  vm/API.F90
  vm/CMakeLists.txt
  vm/vm.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3925 Fixes #3924 provide default default calendar
  mapl3g/MaplFramework.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3927 Fixes #3922 - checkpoint subdirs
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/initialize_read_restart.F90
  generic3g/OuterMetaComponent/write_restart.F90
  generic3g/RestartHandler.F90
  gridcomps/cap3g/Cap.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3931 Feature/bmauer/implement basic extdata3
  Apps/MAPL_Component_Driver/ComponentDriverGridComp.F90
  GeomIO/CMakeLists.txt
  GeomIO/DataCollection.F90
  GeomIO/DataCollectionManager.F90
  GeomIO/DataCollectionVector.F90
  GeomIO/GeomIO.F90
  field_bundle/FieldBundleInfo.F90
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/FieldBundleClassAspect.F90
  gridcomps/ExtData3G/AbstractDataSetFileSelector.F90
  gridcomps/ExtData3G/CMakeLists.txt
  gridcomps/ExtData3G/DataSetBracket.F90
  gridcomps/ExtData3G/DataSetNode.F90
  gridcomps/ExtData3G/ExtDataCollection.F90
  gridcomps/ExtData3G/ExtDataConfig.F90
  gridcomps/ExtData3G/ExtDataConstants.F90
  gridcomps/ExtData3G/ExtDataDerived.F90
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/ExtDataGridComp_private.F90
  gridcomps/ExtData3G/ExtDataRule.F90
  gridcomps/ExtData3G/ExtDataSample.F90
  gridcomps/ExtData3G/NonClimDataSetFileSelector.F90
  gridcomps/ExtData3G/PrimaryExport.F90
  gridcomps/ExtData3G/PrimaryExportVector.F90
Labels: 0 Diff Trivial, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3932 some cleanup
  gridcomps/ExtData3G/AbstractDataSetFileSelector.F90
  gridcomps/ExtData3G/CMakeLists.txt
  gridcomps/ExtData3G/DataSetBracket.F90
  gridcomps/ExtData3G/ExtDataCollection.F90
  gridcomps/ExtData3G/ExtDataCollectionMap.F90
  gridcomps/ExtData3G/ExtDataConfig.F90
  gridcomps/ExtData3G/ExtDataConstants.F90
  gridcomps/ExtData3G/ExtDataDerived.F90
  gridcomps/ExtData3G/ExtDataDerivedMap.F90
  gridcomps/ExtData3G/ExtDataGridComp.F90
  gridcomps/ExtData3G/ExtDataGridComp_private.F90
  gridcomps/ExtData3G/ExtDataRule.F90
  gridcomps/ExtData3G/ExtDataRuleMap.F90
  gridcomps/ExtData3G/ExtDataSample.F90
  gridcomps/ExtData3G/ExtDataSampleMap.F90
  gridcomps/History3G/HistoryCollectionGridComp.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip
