Repository GEOS-ESM/MAPL, pull requests merged in 2025-01, with the labels that each got.

#3271 Fixes #3267 refactor variable spec
  esmf_utils/UngriddedDims.F90
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/actions/CopyAction.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/specs/AspectCollection.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/GeomAspect.F90
  generic3g/specs/HorizontalDimsSpec.F90
  generic3g/specs/TypekindAspect.F90
  generic3g/specs/UngriddedDimsAspect.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_FieldSpec.pf
  gridcomps/History3G/HistoryCollectionGridComp_private.F90
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3276 Bugfix/wdboggs/i3248 test max action
  CHANGELOG.md
  generic3g/tests/Test_AccumulatorAction.pf
  generic3g/tests/Test_MaxAction.pf
  generic3g/tests/Test_MeanAction.pf
  generic3g/tests/Test_MinAction.pf
  generic3g/tests/accumulator_action_test_common.F90
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3

#3282 Feature/bmauer/geos simulator
  CHANGELOG.md
  Tests/generate_extdatadriver_input.md
  Tests/generate_extdatadriver_input.py
Labels: :gift: New Feature, 0 Diff Trivial

#3281 fixes #3280
  CHANGELOG.md
  base/MAPL_EsmfRegridder.F90
  base/MAPL_XYGridFactory.F90
  shared/Constants/InternalConstants.F90
Labels: :gift: New Feature, 0 Diff, :exclamation: High Priority

#3285 Updates for Ford docs
  .github/actions/deploy-ford-docs/action.yml
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
  docs/Ford/ford-ci.md
Labels: :memo: Documentation, 0 Diff Trivial, Changelog Skip

#3284 Handmerge develop to release/MAPL-v3 - 2025-Jan-06
  .github/actions/deploy-ford-docs/action.yml
  CHANGELOG.md
  base/MAPL_EsmfRegridder.F90
  base/MAPL_XYGridFactory.F90
  docs/Ford/docs-with-remote-esmf.md
  docs/Ford/docs-with-remote-esmf.public_private_protected.md
  docs/Ford/ford-ci.md
  docs/Ford/mapl3docs-with-remote-esmf.md
  docs/Ford/mapl3docs-with-remote-esmf.public_private_protected.md
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  shared/Constants/InternalConstants.F90
  shared/TimeUtils.F90
Labels: 0 Diff, Changelog Skip, :wrench: Github Actions

#3290 Bugfix/atrayano/maxmin support for nan
  CHANGELOG.md
  base/MAPL_MaxMinMod.F90
Labels: 0 Diff

#3296 Fix bad esmf target in MAPL3:hconfig_utils
  hconfig_utils/CMakeLists.txt
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3300 Allow Configurable gridcomp to read k values from config file
  CMakeLists.txt
  generic3g/CMakeLists.txt
  generic3g/RestartHandler.F90
  generic3g/tests/Test_Scenarios.pf
  generic3g/tests/scenarios/vertical_regridding_3/expectations.yaml
  gridcomps/configurable/CMakeLists.txt
  gridcomps/configurable/ConfigurableGridComp.F90
  state/CMakeLists.txt
  state/StateGet.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3286 Add Aspect for Frequency/Accumulation
  CHANGELOG.md
  generic3g/CMakeLists.txt
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/ComponentSpecParser/parse_run_dt.F90
  generic3g/ComponentSpecParser/parse_timestep.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised.F90
  generic3g/actions/AccumulatorActionInterface.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/AspectCollection.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/FrequencyAspect.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_ComponentSpecParser.pf
  generic3g/tests/Test_FieldSpec.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3303 Properly freeing MPI communicators after reading or writing restarts
  CHANGELOG.md
  base/FileIOShared.F90
  generic/MAPL_Generic.F90
Labels: 0 Diff

#3301 Fixes #3267
  generic3g/actions/VerticalRegridAction.F90
  generic3g/registry/ExtensionFamily.F90
  generic3g/registry/StateItemExtension.F90
  generic3g/specs/AspectCollection.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/GeomAspect.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemAspect.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/TypekindAspect.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/specs/VariableSpec.F90
  generic3g/specs/VerticalGridAspect.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_BaseItemSpec.pf
  generic3g/tests/Test_ExtensionFamily.pf
  generic3g/tests/Test_StateRegistry.pf
Labels: 0 Diff, :hammer_and_wrench: Refactor, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3310 Bugfix/atrayano/fix of mpi comm free fix
  base/FileIOShared.F90
Labels: 0 Diff, Changelog Skip

#3309 Cleanup.
  generic3g/actions/ConvertUnitsAction.F90
  generic3g/specs/AspectCollection.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/tests/Test_StateRegistry.pf
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3313 Feature/tclune/#3312 attributes aspect
  generic3g/specs/AspectCollection.F90
  generic3g/specs/AttributesAspect.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/FieldSpec.F90
  generic3g/specs/VariableSpec.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3316 Added protection for null mpi communicator
  base/FileIOShared.F90
Labels: 0 Diff, Changelog Skip

#3318 Update GitHub Actions to use blobless clones
  .github/workflows/docs.yml
  .github/workflows/push-to-develop.yml
  .github/workflows/push-to-main.yml
  .github/workflows/validate_yaml_files.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Labels: 0 Diff Trivial, :wrench: Github Actions

#3311 Use Configurable gridcomp instead of FakeDyn
  generic3g/tests/gridcomps/CMakeLists.txt
  generic3g/tests/gridcomps/FakeDynGridComp.F90
  generic3g/tests/scenarios/vertical_regridding_3/AGCM.yaml
  generic3g/tests/scenarios/vertical_regridding_3/DYN.yaml
  gridcomps/configurable/ConfigurableGridComp.F90
Labels: 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3319 Feature/tclune/#3315 timestep propagate
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/ComponentSpecParser/parse_timestep.F90
  generic3g/GenericGridComp.F90
  generic3g/OuterMetaComponent/SetServices.F90
  generic3g/OuterMetaComponent/add_child_by_name.F90
  generic3g/OuterMetaComponent/initialize_modify_advertised.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/InvalidSpec.F90
  generic3g/specs/ServiceSpec.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/StateSpec.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/tests/MockItemSpec.F90
  generic3g/tests/Test_ComponentSpecParser.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3329 Trajectory sampler: support splitfield in HISTORY.rc
  CHANGELOG.md
  base/MAPL_ObsUtil.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: 0 Diff Trivial

#3326 Trajectory sampler: use a single obs file at each Epoch time and restore obs location for output
  CHANGELOG.md
  base/MAPL_ObsUtil.F90
  base/Plain_netCDF_Time.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
Labels: 0 Diff Trivial

#3332 Run updates on invalidate
  generic3g/actions/AccumulatorAction.F90
  generic3g/actions/ExtensionAction.F90
  generic3g/couplers/CouplerMetaComponent.F90
  generic3g/tests/CMakeLists.txt
  generic3g/tests/Test_AccumulatorAction.pf
  generic3g/tests/Test_ExtensionAction.pf
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3

#3327 Move to use Baselibs 7.29.0
  .circleci/config.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  components.yaml
Labels: 0 Diff

#3331 Remove duplicate '==' and '/=' operators for ESMF_Geom
  CHANGELOG.md
  CMakeLists.txt
  field/FieldDelta.F90
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3

#3340 fixed kind=8
  base/NCIO.F90
  base/tests/utCFIO_Array.F90
Labels: :beetle: Bug, 0 Diff, Changelog Skip

#3335 Prepare for 2.52.0 Release
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff

#3344 Fixes #3343 - test failures
  generic3g/tests/Test_Scenarios.pf
Labels: :beetle: Bug, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3346 GitFlow: Merge Develop Into Main for 2.52 release
  .circleci/config.yml
  .github/workflows/docs.yml
  .github/workflows/push-to-develop.yml
  .github/workflows/push-to-main.yml
  .github/workflows/validate_yaml_files.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  CMakeLists.txt
  Tests/generate_extdatadriver_input.md
  Tests/generate_extdatadriver_input.py
  base/FileIOShared.F90
  base/MAPL_EsmfRegridder.F90
  base/MAPL_LocStreamMod.F90
  base/MAPL_MaxMinMod.F90
  base/MAPL_ObsUtil.F90
  base/MAPL_XYGridFactory.F90
  base/NCIO.F90
  base/Plain_netCDF_Time.F90
  base/tests/utCFIO_Array.F90
  components.yaml
  generic/MAPL_Generic.F90
  gridcomps/ExtData2G/ExtDataGridCompNG.F90
  gridcomps/History/MAPL_HistoryCollection.F90
  gridcomps/History/MAPL_HistoryGridComp.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod.F90
  gridcomps/History/Sampler/MAPL_TrajectoryMod_smod.F90
  shared/Constants/InternalConstants.F90
  shared/TimeUtils.F90
  udunits2f/CMakeLists.txt
  udunits2f/UDSystem.F90
  udunits2f/tests/Test_UDSystem.pf
  udunits2f/tests/Test_udunits2f.pf
Labels: 0 Diff

#3328 Fixes #3315 Feature/tclune/#3315 timestep propagate
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/ComponentSpecParser/parse_timestep.F90
  generic3g/ComponentSpecParser/parse_var_specs.F90
  generic3g/GenericGridComp.F90
  generic3g/OuterMetaComponent.F90
  generic3g/OuterMetaComponent/SetServices.F90
  generic3g/OuterMetaComponent/add_child_by_name.F90
  generic3g/OuterMetaComponent/run_clock_advance.F90
  generic3g/OuterMetaComponent/run_user.F90
  generic3g/UserSetServices.F90
  generic3g/registry/StateRegistry.F90
  generic3g/specs/VariableSpec.F90
  generic3g/tests/Test_ComponentSpecParser.pf
  generic3g/tests/Test_Scenarios.pf
  gridcomps/History3G/tests/Test_HistoryCollectionGridComp.pf
  gridcomps/cap3g/Cap.F90
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3351 Feature/bmauer/fixes #3338
  CHANGELOG.md
  Tests/ExtDataRoot_GridComp.F90
  Tests/ExtData_Testing_Framework/test_cases/case37/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/AGCM3.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP3.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/HISTORY3.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/README
  Tests/ExtData_Testing_Framework/test_cases/case37/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
Labels: :gift: New Feature, 0 Diff

#3354 Fixes #3353 Feature/tclune/#3353 introduce aspect map
  generic3g/specs/AspectCollection.F90
  generic3g/specs/AspectId.F90
  generic3g/specs/AttributesAspect.F90
  generic3g/specs/BracketSpec.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ClassAspect.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/FrequencyAspect.F90
  generic3g/specs/GeomAspect.F90
  generic3g/specs/StateItemAspect.F90
  generic3g/specs/TypekindAspect.F90
  generic3g/specs/UngriddedDimsAspect.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/specs/VerticalGridAspect.F90
  generic3g/tests/MockAspect.F90
  generic3g/tests/Test_BracketSpec.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3349 Feature/wdboggs/add reference time for timestep 3322
  CHANGELOG.md
  generic3g/ComponentSpecParser.F90
  generic3g/ComponentSpecParser/parse_component_spec.F90
  generic3g/ComponentSpecParser/parse_timestep.F90
  generic3g/OuterMetaComponent/SetServices.F90
  generic3g/specs/ComponentSpec.F90
  generic3g/tests/Test_ComponentSpecParser.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3

#3350 Changes to return correct dimensions for the MPI grid from the OpenMP subgrids
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
  base/MaplGrid.F90
  generic/OpenMP_Support.F90
Labels: 0 Diff

#3355 Update to ESMA_env v4.34.1
  CHANGELOG.md
  components.yaml
Labels: :beetle: Bugfix, 0 Diff

#3362 Prepare for 2.53.0 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial

#3363 GitFlow: Merge develop into main for 2.53 release
  CHANGELOG.md
  CMakeLists.txt
  Tests/ExtDataRoot_GridComp.F90
  Tests/ExtData_Testing_Framework/test_cases/case37/AGCM1.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/AGCM2.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/AGCM3.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP1.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP2.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/CAP3.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/ExtData.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/HISTORY1.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/HISTORY2.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/HISTORY3.rc
  Tests/ExtData_Testing_Framework/test_cases/case37/README
  Tests/ExtData_Testing_Framework/test_cases/case37/extdata.yaml
  Tests/ExtData_Testing_Framework/test_cases/extdata_2g_cases.txt
  base/Base/Base_Base_implementation.F90
  base/MaplGrid.F90
  components.yaml
  generic/OpenMP_Support.F90
  gridcomps/ExtData2G/ExtDataBracket.F90
  gridcomps/ExtData2G/ExtDataSimpleFileHandler.F90
Labels: 0 Diff

#3365 GitFlow: Handmerge develop into MAPL3 2025-Jan-24
  CHANGELOG.md
  CMakeLists.txt
  base/Base/Base_Base_implementation.F90
  base/MaplGrid.F90
  components.yaml
  generic/OpenMP_Support.F90
Labels: 0 Diff

#3360 Fixes #3305 (sort of)
  generic3g/specs/AttributesAspect.F90
  generic3g/specs/BracketClassAspect.F90
  generic3g/specs/CMakeLists.txt
  generic3g/specs/ClassAspect.F90
  generic3g/specs/FieldClassAspect.F90
  generic3g/specs/FieldSpec.F90
  generic3g/specs/FrequencyAspect.F90
  generic3g/specs/GeomAspect.F90
  generic3g/specs/ServiceClassAspect.F90
  generic3g/specs/StateClassAspect.F90
  generic3g/specs/StateItemAspect.F90
  generic3g/specs/StateItemSpec.F90
  generic3g/specs/TypekindAspect.F90
  generic3g/specs/UngriddedDimsAspect.F90
  generic3g/specs/UnitsAspect.F90
  generic3g/specs/VerticalGridAspect.F90
  generic3g/specs/WildcardClassAspect.F90
  generic3g/specs/WildcardSpec.F90
  generic3g/specs/make_itemSpec.F90
  generic3g/tests/MockAspect.F90
  generic3g/tests/Test_BracketSpec.pf
Labels: :gift: New Feature, 0 Diff, :chart_with_upwards_trend: MAPL3, Changelog Skip

#3370 fixes #3369
  CHANGELOG.md
  base/Base/Base_Base_implementation.F90
Labels: :beetle: Bugfix, 0 Diff

#3372 Prepare for 2.53.1 Release
  CHANGELOG.md
  CMakeLists.txt
Labels: 0 Diff Trivial
